Repository craigbalding/safeyolo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax, uv-lock-check

.pre-commit-config.yaml:

# Pre-commit hooks - mirrors CI checks to catch issues before push
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Ruff - linting and import sorting (same as CI)
  # Keep version in sync with requirements/dev.txt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi]

  # Python syntax check (same as CI py_compile step)
  - repo: local
    hooks:
      - id: python-syntax
        name: Python syntax check
        entry: python3 -m py_compile
        language: system
        types: [python]
        pass_filenames: true

  # uv lockfile check - ensures uv.lock matches pyproject.toml
  - repo: local
    hooks:
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-merge-conflict
      - id: detect-private-key

Refresh acceptance sources for merged Lab and installer changes
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.yaml
Due: none

Fix aggregate host resource accounting
  README.md
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/doctor.py
  cli/src/safeyolo/host_resources.py
  cli/src/safeyolo/platform/darwin.py
  cli/src/safeyolo/platform/linux.py
  cli/tests/test_doctor.py
  cli/tests/test_host_resources.py
  cli/tests/test_linux_platform_oci.py
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
Due: python-syntax

Preserve factory intake and record independent acceptance
  cli/tests/test_factory_contract.py
  docs/agent-roles/independent-reviewer.md
  docs/agent-roles/issue-owner.md
  docs/factories/backlog-coordinator.md
Due: python-syntax

Add nonzero host admission headroom
  README.md
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.yaml
  cli/src/safeyolo/commands/doctor.py
  cli/src/safeyolo/host_resources.py
  cli/tests/test_factory_contract.py
  cli/tests/test_host_resources.py
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
  tests/assurance.toml
Due: python-syntax

Complete host resource admission protections
  README.md
  cli/src/safeyolo/config.py
  cli/src/safeyolo/host_resources.py
  cli/tests/test_commands_vm.py
  cli/tests/test_factory_contract.py
  cli/tests/test_host_resources.py
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
  tests/assurance.toml
Due: python-syntax

Harden process and disk admission boundaries
  cli/src/safeyolo/host_resources.py
  cli/tests/test_host_resources.py
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
Due: python-syntax

Account for complete startup disk writes
  cli/src/safeyolo/host_resources.py
  cli/tests/test_host_resources.py
  docs/CONFIGURATION.md
Due: python-syntax

Avoid disk admission probe writes
  README.md
  cli/src/safeyolo/host_resources.py
  cli/tests/test_host_resources.py
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
Due: python-syntax

Account for pending mount manifests
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/host_resources.py
  cli/tests/test_host_resources.py
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
Due: python-syntax

Make mount manifest regression portable
  cli/tests/test_host_resources.py
Due: python-syntax

Improve factory protocol recovery, repair selection and acceptance
  AGENTS.md
  cli/src/safeyolo/agent_context/skills/safeyolo-factory/SKILL.md
  cli/src/safeyolo/agent_context/skills/safeyolo-factory/references/contract-review.md
  cli/src/safeyolo/agent_context/skills/safeyolo-factory/references/graph/contract-review.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo-factory/references/graph/contract-review.yaml
  cli/src/safeyolo/agent_context/skills/safeyolo/references/contributing-to-safeyolo.md
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.yaml
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/factory.py
  cli/src/safeyolo/factory_contract.py
  cli/src/safeyolo/factory_doctor.py
  cli/src/safeyolo/factory_recovery.py
  cli/tests/test_codex_coord_supervisor.py
  cli/tests/test_commands_vm.py
  cli/tests/test_factory_contract.py
  cli/tests/test_factory_recovery.py
  cli/tests/test_watch_agent_room.py
  contrib/codex-coord-supervisor.py
  contrib/lib/stage-factory-supervisor.py
  contrib/pi-host-setup.sh
  contrib/watch-agent-room.py
  docs/DEVELOPERS.md
  docs/agent-roles/independent-reviewer.md
  docs/agent-roles/issue-owner.md
  docs/codex-coord-supervisor.md
  docs/factories.md
  docs/factories/backlog-coordinator.md
  docs/factories/backlog.toml
  repo-map.toml
  scripts/doc_allowlist.toml
  scripts/doc_constants.toml
  tests/assurance.toml
Due: python-syntax

Refresh supervisor acceptance source hash
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.yaml
Due: none

Improve factory recovery, repair escalation and acceptance (#588)
  AGENTS.md
  cli/src/safeyolo/agent_context/skills/safeyolo-factory/SKILL.md
  cli/src/safeyolo/agent_context/skills/safeyolo-factory/references/contract-review.md
  cli/src/safeyolo/agent_context/skills/safeyolo-factory/references/graph/contract-review.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo-factory/references/graph/contract-review.yaml
  cli/src/safeyolo/agent_context/skills/safeyolo/references/contributing-to-safeyolo.md
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.yaml
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/factory.py
  cli/src/safeyolo/factory_contract.py
  cli/src/safeyolo/factory_doctor.py
  cli/src/safeyolo/factory_recovery.py
  cli/tests/test_codex_coord_supervisor.py
  cli/tests/test_commands_vm.py
  cli/tests/test_factory_contract.py
  cli/tests/test_factory_recovery.py
  cli/tests/test_watch_agent_room.py
  contrib/codex-coord-supervisor.py
  contrib/lib/stage-factory-supervisor.py
  contrib/pi-host-setup.sh
  contrib/watch-agent-room.py
  docs/DEVELOPERS.md
  docs/agent-roles/independent-reviewer.md
  docs/agent-roles/issue-owner.md
  docs/codex-coord-supervisor.md
  docs/factories.md
  docs/factories/backlog-coordinator.md
  docs/factories/backlog.toml
  repo-map.toml
  scripts/doc_allowlist.toml
  scripts/doc_constants.toml
  tests/assurance.toml
Due: python-syntax

Install Command Centre event dependency by default
  cli/src/safeyolo/commands/command_centre.py
  pyproject.toml
  uv.lock
Due: python-syntax, uv-lock-check

Publish remote desktop previews to tailnet
  cli/src/safeyolo/desktop_presenter.py
  cli/tests/test_desktop_presenter.py
Due: python-syntax

Document remote desktop loopback diagnosis
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-desktop-preview.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-desktop-preview.yaml
Due: none

Keep Command Centre reconnecting after outages
  command-centre/macos/Sources/Client.swift
  command-centre/macos/Tests/ModelTests.swift
  command-centre/macos/test.sh
Due: none

Fix repeat desktop approval handling
  cli/src/safeyolo/api.py
  cli/src/safeyolo/core/audit_stream.py
  cli/src/safeyolo/mitm_addons/admin_api.py
  cli/src/safeyolo/mitm_addons/agent_api.py
  cli/src/safeyolo/operator_approvals.py
  cli/tests/test_audit_stream.py
  cli/tests/test_command_centre_admin_api.py
  cli/tests/test_watch.py
  command-centre/macos/Sources/Client.swift
  command-centre/macos/Sources/Models.swift
  command-centre/macos/Tests/ModelTests.swift
  tests/test_agent_api.py
Due: python-syntax

Add Command Centre agent controls and security events
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.yaml
  cli/src/safeyolo/agent_lifecycle.py
  cli/src/safeyolo/api.py
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/core/operator_event_server.py
  cli/src/safeyolo/desktop_presenter.py
  cli/src/safeyolo/mitm_addons/admin_api.py
  cli/tests/test_agent_lifecycle.py
  cli/tests/test_command_centre_admin_api.py
  cli/tests/test_host_setup_scripts.py
  cli/tests/test_operator_event_server.py
  command-centre/macos/Sources/App.swift
  command-centre/macos/Sources/Client.swift
  command-centre/macos/Sources/Controller.swift
  command-centre/macos/Sources/Models.swift
  command-centre/macos/Sources/SecurityNotifications.swift
  command-centre/macos/Sources/UI.swift
  command-centre/macos/Tests/ModelTests.swift
  command-centre/macos/build-app.sh
Due: python-syntax

Fix Command Centre CI prerequisites
  .github/workflows/ci.yml
  cli/src/safeyolo/proxy.py
Due: python-syntax

Preserve agent start failure details
  cli/src/safeyolo/agent_lifecycle.py
  cli/tests/test_agent_lifecycle.py
Due: python-syntax

Use shared sanitizer for Command Centre log fields
  cli/src/safeyolo/agent_lifecycle.py
  cli/src/safeyolo/core/operator_event_server.py
  cli/src/safeyolo/mitm_addons/admin_api.py
  cli/tests/test_agent_lifecycle.py
  cli/tests/test_command_centre_admin_api.py
  cli/tests/test_operator_event_server.py
Due: python-syntax

Keep reading acceptance terminals through command exit on macOS
  cli/tests/test_launcher_acceptance_terminal.py
  tests/nested-linux/launcher_acceptance.py
Due: python-syntax

Validate agent setup before checking the sandbox runtime
  cli/src/safeyolo/commands/agent.py
  cli/tests/test_commands_vm.py
Due: python-syntax

Discover remote terminal usernames and keep Commander errors readable
  cli/src/safeyolo/mitm_addons/admin_api.py
  cli/tests/test_command_centre_admin_api.py
  command-centre/macos/Sources/App.swift
  command-centre/macos/Sources/Client.swift
  command-centre/macos/Sources/Connection.swift
  command-centre/macos/Sources/Controller.swift
  command-centre/macos/Sources/Models.swift
  command-centre/macos/Sources/UI.swift
  command-centre/macos/Tests/ModelTests.swift
  docs/agent-launchers.md
Due: python-syntax

Use the remote SafeYolo interpreter for terminal attach and show action failures
  cli/src/safeyolo/mitm_addons/admin_api.py
  cli/tests/test_command_centre_admin_api.py
  command-centre/macos/Sources/Client.swift
  command-centre/macos/Sources/Connection.swift
  command-centre/macos/Sources/Controller.swift
  command-centre/macos/Sources/Models.swift
  command-centre/macos/Sources/UI.swift
  command-centre/macos/Tests/ModelTests.swift
  docs/agent-launchers.md
Due: python-syntax

Pin agent terminal attachments to their tmux server
  cli/src/safeyolo/agent_launchers.py
  cli/src/safeyolo/launchers/tmux-common.sh
  cli/tests/test_agent_launchers.py
  cli/tests/test_launcher_tmux_socket.py
  docs/agent-launchers.md
  tests/nested-linux/launcher_acceptance.py
Due: python-syntax

Improve native Commander actions and retire the Qt frontend
  cli/src/safeyolo/command_centre/__init__.py
  cli/src/safeyolo/command_centre/app.py
  cli/src/safeyolo/command_centre/client.py
  cli/src/safeyolo/command_centre/credentials.py
  cli/src/safeyolo/command_centre/model.py
  cli/src/safeyolo/command_centre/ui.py
  cli/src/safeyolo/commands/command_centre.py
  cli/src/safeyolo/mitm_addons/admin_api.py
  cli/tests/test_command_centre.py
  cli/tests/test_command_centre_admin_api.py
  command-centre/macos/Sources/App.swift
  command-centre/macos/Sources/Client.swift
  command-centre/macos/Sources/Connection.swift
  command-centre/macos/Sources/Controller.swift
  command-centre/macos/Sources/Models.swift
  command-centre/macos/Sources/SecurityNotifications.swift
  command-centre/macos/Sources/UI.swift
  command-centre/macos/Tests/ModelTests.swift
  docs/agent-launchers.md
  pyproject.toml
  uv.lock
Due: python-syntax, uv-lock-check

Copy the active Commander key before opening WebMITM
  command-centre/macos/Sources/Client.swift
  command-centre/macos/Sources/Controller.swift
  command-centre/macos/Sources/Models.swift
  command-centre/macos/Sources/SecurityNotifications.swift
  command-centre/macos/Sources/UI.swift
  command-centre/macos/Tests/ModelTests.swift
  docs/agent-launchers.md
Due: none

Show configured harnesses and the SafeYolo menu-bar mark
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.yaml
  cli/src/safeyolo/agent_lifecycle.py
  cli/src/safeyolo/commands/agent.py
  cli/tests/test_agent_lifecycle.py
  command-centre/macos/Resources/MenuBarTemplate.svg
  command-centre/macos/Resources/README.md
  command-centre/macos/Sources/App.swift
  command-centre/macos/Sources/Models.swift
  command-centre/macos/Sources/UI.swift
  command-centre/macos/Tests/ModelTests.swift
  command-centre/macos/build-app.sh
  docs/agent-launchers.md
Due: python-syntax

Render the native status image and prove launch client loss
  command-centre/macos/Sources/App.swift
  tests/nested-linux/launcher_client_loss.py
Due: python-syntax

Exercise viewer loss during managed agent debugging
  tests/nested-linux/launcher_acceptance.py
Due: python-syntax

fix(commander): explain disabled events and retain connection diagnostics
  cli/src/safeyolo/mitm_addons/admin_api.py
  cli/tests/test_command_centre_admin_api.py
  cli/tests/test_proxy.py
  command-centre/macos/Sources/Client.swift
  command-centre/macos/Sources/Controller.swift
  command-centre/macos/Sources/Diagnostics.swift
  command-centre/macos/Sources/Models.swift
  command-centre/macos/Sources/UI.swift
  command-centre/macos/Tests/ConnectionTests.swift
  command-centre/macos/Tests/ModelTests.swift
  command-centre/macos/build-app.sh
  command-centre/macos/test.sh
  docs/agent-launchers.md
Due: python-syntax

Explain disabled Command Centre events and retain connection diagnostics (#592)
  cli/src/safeyolo/mitm_addons/admin_api.py
  cli/tests/test_command_centre_admin_api.py
  cli/tests/test_proxy.py
  command-centre/macos/Sources/Client.swift
  command-centre/macos/Sources/Controller.swift
  command-centre/macos/Sources/Diagnostics.swift
  command-centre/macos/Sources/Models.swift
  command-centre/macos/Sources/UI.swift
  command-centre/macos/Tests/ConnectionTests.swift
  command-centre/macos/Tests/ModelTests.swift
  command-centre/macos/build-app.sh
  command-centre/macos/test.sh
  docs/agent-launchers.md
Due: python-syntax

fix(commander): keep sandbox shells alive through host tmux
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/shell_sessions.py
  cli/tests/test_shell_sessions.py
  command-centre/macos/Sources/Connection.swift
  command-centre/macos/Tests/ModelTests.swift
  docs/agent-debugging.md
  docs/agent-launchers.md
Due: python-syntax
