Repository craigbalding/safeyolo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax, uv-lock-check

python-syntax:
  name: Python syntax check
  entry: python3 -m py_compile
  language: system
  pass_filenames: true

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

Repair selected native host operations and workflow configuration
  README.md
  cli/README.md
  cli/src/safeyolo/agent_lifecycle.py
  cli/tests/test_agent_lifecycle.py
  contrib/HOST_SCRIPT_GUIDE.md
  proxy/src/desktop_present.rs
  proxy/src/host_agents.rs
  proxy/src/host_boot.rs
  proxy/src/host_commands.rs
  proxy/src/host_lifecycle.rs
  proxy/tests/native_host_cli.rs
Due: python-syntax

Preserve named agent conflicts in Admin lifecycle responses
  proxy/src/host_lifecycle.rs
  proxy/tests/native_host_cli.rs
Due: none

Repair selected native host operations and configuration delegation (#938)
  README.md
  cli/README.md
  cli/src/safeyolo/agent_lifecycle.py
  cli/tests/test_agent_lifecycle.py
  contrib/HOST_SCRIPT_GUIDE.md
  proxy/src/desktop_present.rs
  proxy/src/host_agents.rs
  proxy/src/host_boot.rs
  proxy/src/host_commands.rs
  proxy/src/host_lifecycle.rs
  proxy/tests/native_host_cli.rs
Due: python-syntax

Bind installed interface transport to its owned native configuration
  tests/blackbox/installed_shared_approvals.py
  tests/test_blackbox_harness.py
Due: python-syntax

Retire tmux adapters for the replaced Python traffic interface
  cli/src/safeyolo/commands/tmux.py
  cli/tests/test_commands_tmux.py
  docs/native-settings.md
  docs/proxy-parity.md
Due: python-syntax

Add native operator inspection and scoped Helper commands (#939)
  cli/README.md
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/tmux.py
  cli/src/safeyolo/commands/traffic.py
  cli/src/safeyolo/traffic_inspector.py
  cli/tests/test_commands_tmux.py
  cli/tests/test_commands_traffic.py
  cli/tests/test_traffic_export.py
  cli/tests/test_traffic_inspector.py
  command-centre/macos/Sources/Client.swift
  command-centre/macos/Sources/Models.swift
  command-centre/macos/Sources/UI.swift
  command-centre/macos/Tests/ConnectionTests.swift
  command-centre/macos/Tests/ModelTests.swift
  docs/DEVELOPERS.md
  docs/native-operator.md
  docs/native-policy.md
  docs/native-settings.md
  docs/proxy-cutover-deletion-map.md
  docs/proxy-parity.md
  proxy/src/admin_api/approvals.rs
  proxy/src/admin_api/traffic.rs
  proxy/src/approvals/network_action.rs
  proxy/src/bin/safeyolo.rs
  proxy/src/lib.rs
  proxy/src/native_client.rs
  proxy/src/operator_commands.rs
  proxy/src/traffic_view.rs
  proxy/tests/native_operator_cli.rs
  proxy/tests/shared_approvals.rs
  proxy/tests/support/shared_approvals.rs
  scripts/doc_allowlist.toml
  tests/blackbox/installed_access.py
  tests/blackbox/installed_shared_approvals.py
  tests/test_blackbox_harness.py
Due: python-syntax

Replace credential tour with native tiny-app Demo
  README.md
  cli/README.md
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/demo.py
  proxy/src/bin/safeyolo.rs
  proxy/src/demo.rs
  proxy/src/demo/codex-setup.sh
  proxy/src/demo/tests.rs
  proxy/src/host_commands.rs
  proxy/src/lib.rs
  proxy/src/operator_commands.rs
  proxy/tests/native_host_cli.rs
  scripts/check_doc_cli_flags.py
  tests/blackbox/installed_demo.py
Due: python-syntax

Keep shared proxy ownership inside native startup
  proxy/src/demo.rs
  proxy/src/host_commands.rs
  proxy/tests/native_host_cli.rs
Due: none

Align installed policy fixture with native Coord assets
  tests/proxy_contracts/test_native_policy_cli.py
Due: python-syntax

Preserve native Coord recovery routing, children and path bytes
  cli/tests/test_codex_coord_supervisor.py
  cli/tests/test_factory_doctor.py
  cli/tests/test_host_setup_scripts.py
  proxy/src/agent_api/coord.rs
  proxy/src/bin/safeyolo-coord.rs
  proxy/src/coord_setup.rs
  proxy/src/coord_supervisor.rs
  proxy/src/coord_supervisor/preflight.rs
  proxy/src/coord_supervisor/process.rs
  proxy/tests/native_coord.rs
Due: python-syntax

Preserve checkpoint filename bytes in supervisor locks
  cli/tests/test_codex_coord_supervisor.py
  proxy/src/coord_supervisor/process.rs
Due: python-syntax

test: run terminal acceptance through installed native commands
  cli/tests/test_launcher_acceptance_terminal.py
  tests/nested-linux/launcher_acceptance.py
Due: python-syntax

test: bind terminal probe to installed asset profiles
  cli/tests/test_launcher_acceptance_terminal.py
  tests/nested-linux/launcher_acceptance.py
Due: python-syntax

Repair native fixture inputs and macOS caller setup
  .github/workflows/blackbox.yml
  .github/workflows/ci.yml
  .github/workflows/guest-test-inputs.yml
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.yaml
  cli/tests/test_agent_add_empty_policy.py
  cli/tests/test_agent_diag.py
  cli/tests/test_commands_vm.py
  cli/tests/test_coord_stage0_cli.py
  cli/tests/test_doctor.py
  cli/tests/test_factory_contract.py
  cli/tests/test_guest_proxy_admission.py
  cli/tests/test_guest_sudo_wheel.py
  cli/tests/test_policy_addon_list.py
  cli/tests/test_rust_listener_sync.py
  cli/tests/test_rust_proxy.py
  hatch_build.py
  proxy/tests/agent_api_flow_details.rs
  proxy/tests/native_operator_cli.rs
  tests/blackbox/installed_lifecycle.py
  tests/blackbox/installed_sections.py
  tests/blackbox/installed_state_transition.py
  tests/blackbox/run-installed-package.sh
  tests/blackbox/run-lane.sh
  tests/blackbox/run-tests.sh
  tests/test_blackbox_harness.py
  tests/test_host_packages.py
  tests/test_install_sh.py
  tests/test_workflow_action_pins.py
Due: python-syntax

Repair native fixture inputs and macOS caller setup (#943)
  .github/workflows/blackbox.yml
  .github/workflows/ci.yml
  .github/workflows/guest-test-inputs.yml
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.yaml
  cli/tests/test_agent_add_empty_policy.py
  cli/tests/test_agent_diag.py
  cli/tests/test_commands_vm.py
  cli/tests/test_coord_stage0_cli.py
  cli/tests/test_doctor.py
  cli/tests/test_factory_contract.py
  cli/tests/test_guest_proxy_admission.py
  cli/tests/test_guest_sudo_wheel.py
  cli/tests/test_policy_addon_list.py
  cli/tests/test_rust_listener_sync.py
  cli/tests/test_rust_proxy.py
  hatch_build.py
  proxy/tests/agent_api_flow_details.rs
  proxy/tests/native_operator_cli.rs
  tests/blackbox/installed_lifecycle.py
  tests/blackbox/installed_sections.py
  tests/blackbox/installed_state_transition.py
  tests/blackbox/run-installed-package.sh
  tests/blackbox/run-lane.sh
  tests/blackbox/run-tests.sh
  tests/test_blackbox_harness.py
  tests/test_host_packages.py
  tests/test_install_sh.py
  tests/test_workflow_action_pins.py
Due: python-syntax

Keep missing native runtime evidence from reporting stopped
  proxy/src/host_runs.rs
  proxy/tests/native_host_cli.rs
Due: none

Reconcile exited native backends with coherent birth identities
  proxy/src/host_runs.rs
  proxy/tests/native_host_cli.rs
Due: none

Use native Darwin birth evidence in the cleanup regression
  proxy/tests/native_host_cli.rs
Due: none

Keep missing native runtime evidence from reporting stopped (#944)
  proxy/src/host_runs.rs
  proxy/tests/native_host_cli.rs
Due: none

Repair assurance startup with locked Semgrep 1.179.0
  docs/assurance.md
  tools/assurance/accepted.json
  tools/assurance/check.py
  tools/assurance/test_check.py
Due: python-syntax

Allow explicit instance Coord listener ports
  docs/native-settings.md
  proxy/src/agent_api/coord.rs
  proxy/src/coord_rooms.rs
  proxy/src/host_commands.rs
  proxy/tests/native_coord.rs
Due: none

Preserve Coord ownership through equivalent root paths
  proxy/src/coord_rooms.rs
  proxy/src/host_platform.rs
  proxy/tests/native_coord.rs
Due: none

Allow explicit ports for native Coord instances (#946)
  docs/native-settings.md
  proxy/src/agent_api/coord.rs
  proxy/src/coord_rooms.rs
  proxy/src/host_commands.rs
  proxy/src/host_platform.rs
  proxy/tests/native_coord.rs
Due: none

Test concurrent native command creation before live reuse
  cli/tests/test_launcher_acceptance_terminal.py
  tests/nested-linux/launcher_acceptance.py
Due: python-syntax

Run terminal acceptance through installed native agents (#942)
  cli/tests/test_launcher_acceptance_terminal.py
  tests/nested-linux/launcher_acceptance.py
Due: python-syntax

Repair assurance startup with locked Semgrep 1.179.0 (#945)
  docs/assurance.md
  tools/assurance/accepted.json
  tools/assurance/check.py
  tools/assurance/test_check.py
Due: python-syntax

Correct native shell and guest sudo recovery references
  cli/README.md
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-guest-tools-and-sudo.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-guest-tools-and-sudo.yaml
  cli/src/safeyolo/agent_context/skills/safeyolo/references/guest-tools.md
  cli/tests/test_host_setup_scripts.py
  docs/AGENTS.md
Due: python-syntax

Route installed guest checks through native shell and root test transport
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.yaml
  docs/blackbox-coverage.md
  tests/blackbox/guest_exec.py
  tests/blackbox/host/lifecycle/test_home_persistence.py
  tests/blackbox/host/lifecycle/test_token_lifecycle.py
  tests/blackbox/installed_access.py
  tests/blackbox/installed_guest_commands.py
  tests/blackbox/installed_ingress.py
  tests/blackbox/installed_lifecycle.py
  tests/blackbox/installed_shared_approvals.py
  tests/blackbox/installed_workloads.py
  tests/blackbox/isolation/test_root_containment.py
  tests/blackbox/run-tests.sh
  tests/test_blackbox_guest_exec.py
  tests/test_blackbox_harness.py
Due: python-syntax

Defer package identity import until after guest transport bootstrap
  tests/blackbox/installed_host_smoke.py
  tests/test_blackbox_guest_exec.py
Due: python-syntax

Add objective-first native Lab workflow and retained controller
  cli/README.md
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/SKILL.md
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/assets/startup-instructions.md
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/assets/tmux-lab.conf
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/references/bootstrap.md
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/references/tmux-ui.md
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/adapt-layout.sh
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/capture-evidence.sh
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/lesson-questions.sh
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/lesson-sources.sh
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/prepare-nested.sh
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/redact_credentials.py
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/run-controller.sh
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/safeyolo-lab
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/self-test.sh
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/switch-surface.sh
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/lab.py
  cli/tests/test_host_setup_scripts.py
  cli/tests/test_lab.py
  contrib/codex-command.sh
  contrib/codex-host-setup.sh
  docs/nested-linux-lab.md
  guest/command/Cargo.lock
  guest/command/Cargo.toml
  guest/command/src/lab_evidence.rs
  guest/command/src/main.rs
  proxy/src/bin/safeyolo.rs
  proxy/src/host_commands.rs
  proxy/src/host_lifecycle.rs
  proxy/src/host_platform.rs
  proxy/src/lab.rs
  proxy/src/lib.rs
  proxy/tests/native_lab.rs
  pyproject.toml
  repo-map.toml
  scripts/check_doc_cli_flags.py
  scripts/install_native.sh
  tests/test_native_lab_helpers.py
Due: python-syntax, uv-lock-check

fix: redact complete JSON credentials before header tokens
  guest/command/src/lab_evidence.rs
  proxy/src/lib.rs
  tests/test_native_lab_helpers.py
Due: python-syntax

Keep optional Python checker out of native Lab assets
  scripts/install_native.sh
  tests/proxy_contracts/test_native_policy_cli.py
Due: python-syntax

Add native Factory entry and observed readiness
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.yaml
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/factory.py
  cli/src/safeyolo/factory_doctor.py
  cli/src/safeyolo/factory_recovery.py
  cli/tests/test_coord_attention.py
  cli/tests/test_doctor_pending_approvals.py
  cli/tests/test_factory_contract.py
  cli/tests/test_factory_doctor.py
  cli/tests/test_factory_recovery.py
  contrib/codex-host-setup.sh
  contrib/lib/stage-safeyolo-context.sh
  docs/codex-coord-supervisor.md
  docs/factories.md
  docs/factories/backlog-coordinator.md
  docs/native-operator.md
  docs/native-settings.md
  proxy/src/agent_api.rs
  proxy/src/agent_api/coord.rs
  proxy/src/bin/safeyolo-coord.rs
  proxy/src/bin/safeyolo.rs
  proxy/src/coord_rooms.rs
  proxy/src/coord_setup.rs
  proxy/src/coord_supervisor.rs
  proxy/src/factory.rs
  proxy/src/factory/tests.rs
  proxy/src/host_agents.rs
  proxy/src/host_boot.rs
  proxy/src/host_commands.rs
  proxy/src/host_lifecycle.rs
  proxy/src/host_platform.rs
  proxy/src/lib.rs
  proxy/src/operator_commands.rs
  proxy/src/repo_map.rs
  repo-map.toml
  scripts/check_doc_cli_flags.py
  scripts/install_native.sh
  tests/assurance.toml
  tests/proxy_contracts/test_native_factory_cli.py
Due: python-syntax

Validate complete native Factory role launch commands
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.yaml
  proxy/src/coord_setup.rs
  proxy/src/factory.rs
  proxy/src/guest_commands.rs
  tests/proxy_contracts/test_native_factory_cli.py
Due: python-syntax

Exercise wrapped Factory commands through native guest staging
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.yaml
  tests/proxy_contracts/test_native_factory_cli.py
Due: python-syntax

Build and install checked native host bundles
  .github/workflows/proxy-rust.yml
  README.md
  cli/src/safeyolo/launchers/tmux-common.sh
  docs/DEVELOPERS.md
  docs/native-policy.md
  docs/native-settings.md
  proxy/src/host_boot.rs
  proxy/src/host_lifecycle.rs
  scripts/build_host_packages.py
  scripts/build_host_packages.sh
  scripts/install_host_package.sh
  scripts/install_native.sh
  scripts/native_package.sh
  scripts/tmux_runtime.sh
  scripts/verify_host_package.py
  tests/proxy_contracts/native-package-journey.sh
  tests/proxy_contracts/test_native_policy_cli.py
  tests/test_host_packages.py
  vm/Makefile
  vm/Sources/SafeYoloVM/BuildIdentity.swift
  vm/Sources/SafeYoloVM/main.swift
  vm/build-info.py
  vm/build-info.swift
  vm/test/build-profiles.py
Due: python-syntax

Path conditions:
  python-syntax: any of: \.py$
  uv-lock-check: any of: ^pyproject\.toml$
