Repository craigbalding/safeyolo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax, uv-lock-check

.pre-commit-config.yaml:

# Pre-commit hooks - mirrors CI checks to catch issues before push
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Ruff - linting and import sorting (same as CI)
  # Keep version in sync with requirements/dev.txt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi]

  # Python syntax check (same as CI py_compile step)
  - repo: local
    hooks:
      - id: python-syntax
        name: Python syntax check
        entry: python3 -m py_compile
        language: system
        types: [python]
        pass_filenames: true

  # uv lockfile check - ensures uv.lock matches pyproject.toml
  - repo: local
    hooks:
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-merge-conflict
      - id: detect-private-key

fix(bootstrap): _needs_setup handles missing getfacl (acl not yet installed)
  cli/src/safeyolo/commands/bootstrap.py
Due: python-syntax

feat(agent): --host-script @alias for bundled contrib scripts
  cli/src/safeyolo/commands/agent.py
  pyproject.toml
Due: python-syntax, uv-lock-check

feat(bootstrap): one-command first-run setup (init + build + setup) (#351)
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/bootstrap.py
Due: python-syntax

feat(doctor): add --raw and --json (stdout); missing rootfs remediation → safeyolo bootstrap
  cli/src/safeyolo/commands/doctor.py
  cli/tests/test_doctor.py
Due: python-syntax

feat(agent): --host-script @alias for bundled contrib scripts (#352)
  cli/src/safeyolo/commands/agent.py
  pyproject.toml
Due: python-syntax, uv-lock-check

docs(readme): four-command install quickstart
  README.md
Due: none

feat(doctor): add --raw and --json (stdout); missing rootfs remediation → safeyolo bootstrap (#357)
  cli/src/safeyolo/commands/doctor.py
  cli/tests/test_doctor.py
Due: python-syntax

docs(readme): four-command install quickstart (#358)
  README.md
Due: none

fix(bootstrap): add rsync + tmux to LINUX_BUILD_APT_DEPS (Debian trixie)
  cli/src/safeyolo/commands/bootstrap.py
Due: python-syntax

fix(bootstrap): add rsync + tmux to LINUX_BUILD_APT_DEPS (Debian trixie) (#359)
  cli/src/safeyolo/commands/bootstrap.py
Due: python-syntax

feat(vault): non-interactive credential sources for `vault add`
  cli/src/safeyolo/commands/vault.py
  cli/tests/test_vault_cli.py
Due: python-syntax

skill(triage): service-gateway swap-not-running triage branch
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-service-gateway.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-service-gateway.yaml
Due: none

feat(gateway): opt-in `auth.allow_http` for trusted-transport services (#346)
  SECURITY.md
  cli/src/safeyolo/core/service_loader.py
  cli/src/safeyolo/mitm_addons/service_gateway.py
  tests/test_service_gateway.py
Due: python-syntax

fix(traffic): surface PDP deny reason in traffic.response events (#337)
  cli/src/safeyolo/core/base.py
  cli/src/safeyolo/mitm_addons/request_logger.py
  tests/test_base.py
  tests/test_request_logger.py
Due: python-syntax

remove(cli): retire \`safeyolo test\` (broken by UDS-per-agent) (#339)
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/admin.py
  docs/DEVELOPERS.md
  docs/safeyolo-cli-design.md
Due: python-syntax

fix(agent,proxy): refuse `agent add` / `start` against empty policy (#336)
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/commands/policy.py
  cli/tests/test_agent_add_empty_policy.py
Due: python-syntax

fix(init): preserve admin_token when proxy is running under --force (#338)
  cli/src/safeyolo/commands/init.py
  cli/tests/test_init_admin_token.py
Due: python-syntax

refactor(test-context): namespace header + drop ccapt legacy names (#319)
  cli/src/safeyolo/agent_context/skills/safeyolo/references/agent-api.md
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-flow-inspection.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-flow-inspection.yaml
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-request-failing.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-request-failing.yaml
  cli/src/safeyolo/commands/doctor.py
  cli/src/safeyolo/commands/test_context.py
  cli/src/safeyolo/mitm_addons/agent_api.py
  cli/src/safeyolo/mitm_addons/flow_recorder.py
  cli/src/safeyolo/mitm_addons/test_context.py
  cli/src/safeyolo/proxy.py
  cli/src/safeyolo/templates/addons.yaml
  cli/src/safeyolo/test_context_contract.py
  cli/tests/test_test_context_cli.py
  contrib/kali-pentest/pentest-tools.md
  docs/ADDONS.md
  docs/ARCHITECTURE.md
  docs/DEVELOPERS.md
  docs/blackbox-coverage.md
  docs/host-verification-213.md
  scripts/start-safeyolo.sh
  tests/blackbox/isolation/test_agent_api_scope.py
  tests/blackbox/isolation/test_vm_isolation.py
  tests/blackbox/run-tests.sh
  tests/test_flow_recorder.py
  tests/test_operator_provenance.py
  tests/test_test_context.py
  tests/test_test_context_contract.py
  tests/test_trace_chain_regression.py
  tests/test_transport_guard.py
Due: python-syntax

fix(perm): restore +x on start-safeyolo.sh + run-tests.sh (#319)
  scripts/start-safeyolo.sh
  tests/blackbox/run-tests.sh
Due: none

feat(gateway): opt-in `auth.allow_http` for trusted-transport services (#346) (#362)
  SECURITY.md
  cli/src/safeyolo/core/service_loader.py
  cli/src/safeyolo/mitm_addons/service_gateway.py
  tests/test_service_gateway.py
Due: python-syntax

feat(bootstrap): dispatch OS-package check per Linux package manager (#353)
  cli/src/safeyolo/commands/bootstrap.py
  cli/tests/test_bootstrap_package_manager.py
Due: python-syntax

feat(bootstrap): resolve umoci per PATH → sy-bin → native → pinned upstream (#353)
  cli/src/safeyolo/commands/bootstrap.py
  cli/tests/test_bootstrap_package_manager.py
Due: python-syntax

fix(bootstrap): key package-manager detection on /etc/os-release (#353)
  cli/src/safeyolo/commands/bootstrap.py
  cli/tests/test_bootstrap_package_manager.py
Due: python-syntax

fix(build): use absolute umoci path in sudo call (#353)
  guest/build-rootfs.sh
Due: none

feat(setup): install gVisor via verified tarball on non-apt Linux (#353)
  cli/src/safeyolo/commands/bootstrap.py
  cli/src/safeyolo/commands/setup.py
  cli/tests/test_bootstrap_package_manager.py
  cli/tests/test_commands_vm.py
Due: python-syntax

fix(setup): decompress gVisor tarball with stdlib bz2 (Fedora ships without bzip2) (#353)
  cli/src/safeyolo/commands/setup.py
  cli/tests/test_commands_vm.py
Due: python-syntax

feat(bootstrap): dispatch OS-package check per Linux package manager (#353) (#369)
  cli/src/safeyolo/commands/bootstrap.py
  cli/src/safeyolo/commands/setup.py
  cli/tests/test_bootstrap_package_manager.py
  cli/tests/test_commands_vm.py
  guest/build-rootfs.sh
Due: python-syntax

feat(vault): non-interactive credential sources for `vault add` (#360)
  cli/src/safeyolo/commands/vault.py
  cli/tests/test_vault_cli.py
Due: python-syntax

skill(triage): service-gateway swap-not-running triage branch (#361)
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-service-gateway.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-service-gateway.yaml
Due: none

fix(traffic): surface PDP deny reason in traffic.response events (#337) (#363)
  cli/src/safeyolo/core/base.py
  cli/src/safeyolo/mitm_addons/request_logger.py
  tests/test_base.py
  tests/test_request_logger.py
Due: python-syntax

remove(cli): retire \`safeyolo test\` (broken by UDS-per-agent) (#339) (#364)
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/admin.py
  docs/DEVELOPERS.md
  docs/safeyolo-cli-design.md
Due: python-syntax

fix(agent,proxy): refuse `agent add` / `start` against empty policy (#336) (#365)
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/commands/policy.py
  cli/tests/test_agent_add_empty_policy.py
Due: python-syntax

fix(init): preserve admin_token when proxy is running under --force (#338) (#366)
  cli/src/safeyolo/commands/init.py
  cli/tests/test_init_admin_token.py
Due: python-syntax

refactor(test-context): namespace header + drop ccapt legacy names (#319) (#367)
  cli/src/safeyolo/agent_context/skills/safeyolo/references/agent-api.md
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-flow-inspection.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-flow-inspection.yaml
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-request-failing.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-request-failing.yaml
  cli/src/safeyolo/commands/doctor.py
  cli/src/safeyolo/commands/test_context.py
  cli/src/safeyolo/mitm_addons/agent_api.py
  cli/src/safeyolo/mitm_addons/flow_recorder.py
  cli/src/safeyolo/mitm_addons/test_context.py
  cli/src/safeyolo/proxy.py
  cli/src/safeyolo/templates/addons.yaml
  cli/src/safeyolo/test_context_contract.py
  cli/tests/test_test_context_cli.py
  contrib/kali-pentest/pentest-tools.md
  docs/ADDONS.md
  docs/ARCHITECTURE.md
  docs/DEVELOPERS.md
  docs/blackbox-coverage.md
  docs/host-verification-213.md
  scripts/start-safeyolo.sh
  tests/blackbox/isolation/test_agent_api_scope.py
  tests/blackbox/isolation/test_vm_isolation.py
  tests/blackbox/run-tests.sh
  tests/test_flow_recorder.py
  tests/test_operator_provenance.py
  tests/test_test_context.py
  tests/test_test_context_contract.py
  tests/test_trace_chain_regression.py
  tests/test_transport_guard.py
Due: python-syntax

feat(coord): v0 substrate for #371 dogfood
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/coord.py
  cli/src/safeyolo/coord/__init__.py
  cli/src/safeyolo/coord/api.py
  cli/src/safeyolo/coord/envelope.py
  cli/src/safeyolo/coord/identity.py
  cli/src/safeyolo/coord/mcp_server.py
  cli/src/safeyolo/coord/store.py
  cli/tests/test_coord_v0.py
  pyproject.toml
  uv.lock
Due: python-syntax, uv-lock-check

fix(coord): route identity through Agent API + unified registry
  cli/src/safeyolo/agents_store.py
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/coord.py
  cli/src/safeyolo/coord/api.py
  cli/src/safeyolo/coord/mcp_server.py
  cli/src/safeyolo/coord/store.py
  cli/src/safeyolo/mitm_addons/agent_api.py
  cli/tests/test_coord_v0.py
  docs/coord-wake-test.md
  tests/test_agent_api_coord.py
Due: python-syntax

docs(coord): stage-0 test report (agent bob)
  coord-stage0-test-report.md
Due: none

fix(coord): stage-0 review fixes (P0/P1 + revoke + tests)
  cli/src/safeyolo/commands/coord.py
  cli/src/safeyolo/coord/api.py
  cli/src/safeyolo/mitm_addons/agent_api.py
  cli/tests/test_coord_v0.py
  contrib/safeyolo-coord-mcp.py
  coord-stage0-test-report.md
  pyproject.toml
  tests/test_agent_api_coord.py
  uv.lock
Due: python-syntax, uv-lock-check
