Repository craigbalding/safeyolo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax, uv-lock-check

.pre-commit-config.yaml:

# Pre-commit hooks - mirrors CI checks to catch issues before push
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Ruff - linting and import sorting (same as CI)
  # Keep version in sync with requirements/dev.txt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi]

  # Python syntax check (same as CI py_compile step)
  - repo: local
    hooks:
      - id: python-syntax
        name: Python syntax check
        entry: python3 -m py_compile
        language: system
        types: [python]
        pass_filenames: true

  # uv lockfile check - ensures uv.lock matches pyproject.toml
  - repo: local
    hooks:
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-merge-conflict
      - id: detect-private-key

Fix factory doctor bounded process detection
  docs/factories.md
Due: none

Reject non-TTY interactive coord chat
  cli/src/safeyolo/commands/coord.py
Due: python-syntax

Add PTY regression for non-TTY coord chat
  cli/tests/test_coord_stage0_cli.py
Due: python-syntax

Document non-TTY coord chat behavior
  docs/coord-operations.md
Due: none

Add independent WebSocket pattern policy knobs
  cli/src/safeyolo/mitm_addons/pattern_scanner.py
Due: python-syntax

Add independent WebSocket pattern policy knobs
  cli/src/safeyolo/mitm_addons/admin_api.py
Due: python-syntax

Add independent WebSocket pattern policy knobs
  cli/src/safeyolo/proxy.py
Due: python-syntax

Add independent WebSocket pattern policy knobs
  cli/tests/test_proxy.py
Due: python-syntax

Add independent WebSocket pattern policy knobs
  docs/ADDONS.md
Due: none

Add independent WebSocket pattern policy knobs
  docs/ARCHITECTURE.md
Due: none

Add independent WebSocket pattern policy knobs
  docs/CONFIGURATION.md
Due: none

Add independent WebSocket pattern policy knobs
  tests/test_admin_api.py
Due: python-syntax

Add independent WebSocket pattern policy knobs
  tests/test_pattern_scanner.py
Due: python-syntax

Fix startup WebSocket policy options
  scripts/start-safeyolo.sh
Due: none

Test startup WebSocket policy wiring
  cli/tests/test_start_safeyolo.py
Due: python-syntax

Document WebSocket pattern migration and precedence
  docs/ADDONS.md
Due: none

Document WebSocket policy precedence and migration
  docs/CONFIGURATION.md
Due: none

Test WebSocket policy precedence
  cli/tests/test_proxy.py
Due: python-syntax

Reject non-TTY interactive coord chat (#547)
  cli/src/safeyolo/commands/coord.py
  cli/tests/test_coord_stage0_cli.py
  docs/coord-operations.md
Due: python-syntax

Add independent WebSocket pattern policy knobs (#548)
  cli/src/safeyolo/mitm_addons/admin_api.py
  cli/src/safeyolo/mitm_addons/pattern_scanner.py
  cli/src/safeyolo/proxy.py
  cli/tests/test_proxy.py
  cli/tests/test_start_safeyolo.py
  docs/ADDONS.md
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
  scripts/start-safeyolo.sh
  tests/test_admin_api.py
  tests/test_pattern_scanner.py
Due: python-syntax

Fix false factory doctor process failures (#546)
  cli/src/safeyolo/factory_doctor.py
  cli/tests/test_factory_doctor.py
  docs/factories.md
Due: python-syntax

Exclude intentional private-key fixture from hook
  .pre-commit-config.yaml
Due: none

Normalize experiments package EOF
  experiments/__init__.py
Due: python-syntax

Restore repository-wide pre-commit baseline (#550)
  .pre-commit-config.yaml
  experiments/__init__.py
Due: python-syntax

Make supervised factory flow attention-driven and resilient
  cli/src/safeyolo/agent_context/skills/safeyolo/references/coord.md
  cli/src/safeyolo/commands/factory.py
  cli/src/safeyolo/factory_contract.py
  cli/src/safeyolo/factory_doctor.py
  cli/tests/test_codex_coord_supervisor.py
  cli/tests/test_coord_attention.py
  cli/tests/test_coord_mcp_adapter.py
  cli/tests/test_factory_contract.py
  cli/tests/test_factory_doctor.py
  cli/tests/test_host_setup_scripts.py
  cli/tests/test_watch_agent_room.py
  contrib/README.md
  contrib/codex-coord-supervisor-fake-codex.sh
  contrib/codex-coord-supervisor.py
  contrib/codex-host-setup.sh
  contrib/safeyolo-coord-mcp.py
  contrib/watch-agent-room.py
  docs/agent-roles/independent-reviewer.md
  docs/agent-roles/issue-owner.md
  docs/codex-coord-supervisor.md
  docs/factories.md
  docs/factories/backlog-coordinator.md
  docs/factories/backlog.toml
  pyproject.toml
  tests/assurance.toml
Due: python-syntax, uv-lock-check

Update doctor pin for final coordinator contract
  cli/src/safeyolo/factory_doctor.py
Due: python-syntax

Make supervised factory flow attention-driven and resilient (#552)
  cli/src/safeyolo/agent_context/skills/safeyolo/references/coord.md
  cli/src/safeyolo/commands/factory.py
  cli/src/safeyolo/factory_contract.py
  cli/src/safeyolo/factory_doctor.py
  cli/tests/test_codex_coord_supervisor.py
  cli/tests/test_coord_attention.py
  cli/tests/test_coord_mcp_adapter.py
  cli/tests/test_factory_contract.py
  cli/tests/test_factory_doctor.py
  cli/tests/test_host_setup_scripts.py
  cli/tests/test_watch_agent_room.py
  contrib/README.md
  contrib/codex-coord-supervisor-fake-codex.sh
  contrib/codex-coord-supervisor.py
  contrib/codex-host-setup.sh
  contrib/safeyolo-coord-mcp.py
  contrib/watch-agent-room.py
  docs/agent-roles/independent-reviewer.md
  docs/agent-roles/issue-owner.md
  docs/codex-coord-supervisor.md
  docs/factories.md
  docs/factories/backlog-coordinator.md
  docs/factories/backlog.toml
  pyproject.toml
  tests/assurance.toml
Due: python-syntax, uv-lock-check

Route request timeouts in SafeYolo triage graph
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-request-failing.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-request-failing.yaml
Due: none

Route no-response timeouts in the SafeYolo triage graph (#554)
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-request-failing.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-request-failing.yaml
Due: none

Make factory setup and readiness discoverable (#536)
  cli/src/safeyolo/commands/factory.py
  cli/src/safeyolo/factory_doctor.py
  cli/tests/test_factory_contract.py
  cli/tests/test_factory_doctor.py
  docs/factories.md
  tests/assurance.toml
Due: python-syntax

Make factory help assertion terminal-style independent (#536)
  cli/tests/test_factory_contract.py
Due: python-syntax

fix: preserve legacy factory checkpoints and seed Codex auth guidance
  cli/src/safeyolo/commands/factory.py
  cli/tests/test_codex_coord_supervisor.py
  cli/tests/test_factory_contract.py
  cli/tests/test_factory_doctor.py
  contrib/codex-coord-supervisor.py
  docs/factories.md
Due: python-syntax

Add per-agent memory configuration
  README.md
  cli/src/safeyolo/commands/agent.py
  cli/tests/test_agent_config_folder.py
  cli/tests/test_commands_vm.py
  scripts/doc_constants.toml
Due: python-syntax

Add per-agent memory configuration (#558)
  README.md
  cli/src/safeyolo/commands/agent.py
  cli/tests/test_agent_config_folder.py
  cli/tests/test_commands_vm.py
  scripts/doc_constants.toml
Due: python-syntax

fix: require drained checkpoints before protocol upgrade
  cli/src/safeyolo/commands/factory.py
  cli/src/safeyolo/factory_doctor.py
  cli/tests/test_codex_coord_supervisor.py
  cli/tests/test_factory_contract.py
  cli/tests/test_host_setup_scripts.py
  contrib/codex-coord-supervisor.py
  docs/factories.md
Due: python-syntax

fix: make checkpoint recovery commands executable
  cli/src/safeyolo/factory_doctor.py
  cli/tests/test_codex_coord_supervisor.py
  cli/tests/test_factory_doctor.py
  contrib/codex-coord-supervisor.py
Due: python-syntax

fix: complete factory snapshot lifecycle boundary
  cli/src/safeyolo/commands/factory.py
  cli/src/safeyolo/factory_contract.py
  cli/src/safeyolo/factory_doctor.py
  cli/tests/test_factory_contract.py
  cli/tests/test_factory_doctor.py
  cli/tests/test_host_setup_scripts.py
  contrib/codex-coord-supervisor.py
  contrib/codex-host-setup.sh
  docs/factories.md
Due: python-syntax

Supervise detached agent commands in the runtime
  cli/src/safeyolo/agent_command_supervisor.py
  cli/src/safeyolo/agent_diag.py
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/config.py
  cli/src/safeyolo/platform/darwin.py
  cli/src/safeyolo/platform/linux.py
  cli/tests/test_agent_command_supervisor.py
  cli/tests/test_factory_contract.py
  contrib/HOST_SCRIPT_GUIDE.md
  contrib/README.md
Due: python-syntax

Exercise runtime supervision in factory regression
  cli/tests/test_factory_contract.py
Due: python-syntax
