Repository craigbalding/safeyolo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax, uv-lock-check

python-syntax:
  name: Python syntax check
  entry: python3 -m py_compile
  language: system
  pass_filenames: true

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

feat: add 'safeyolo start --test' for blackbox test mode
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/config.py
  cli/src/safeyolo/proxy.py
  tests/blackbox/harness/proxy-start-test.sh
Due: python-syntax

feat: add --detach and --prompt flags to 'safeyolo agent run'
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/vm.py
Due: python-syntax

refactor: remove --prompt flag, keep only --detach
  cli/src/safeyolo/commands/agent.py
Due: python-syntax

feat: add -c/--command flag to 'safeyolo agent shell'
  cli/src/safeyolo/commands/agent.py
Due: python-syntax

fix: --detach keeps VM alive via sshd instead of shutting down
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/guest-init.sh
Due: python-syntax

fix: explicitly set SSH port 22 to override ~/.ssh/config
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/vm.py
Due: python-syntax

fix: detach mode runs sleep infinity via vsock-term to keep VM alive
  cli/src/safeyolo/guest-init.sh
Due: none

feat: add --no-terminal flag to safeyolo-vm for detach mode
  cli/src/safeyolo/guest-init.sh
  cli/src/safeyolo/vm.py
  vm/Sources/SafeYoloVM/main.swift
Due: python-syntax

fix: remove stale 'prompt' reference in _run_agent
  cli/src/safeyolo/commands/agent.py
Due: python-syntax

fix: sinkhole router only redirects test hostnames, not all traffic
  tests/blackbox/harness/sinkhole_router.py
Due: python-syntax

fix: merge test CA into certifi bundle instead of replacing trust store
  cli/src/safeyolo/proxy.py
Due: python-syntax

refactor: split blackbox tests into host pytest + VM pytest
  cli/src/safeyolo/guest-init.sh
  guest/build-rootfs.sh
  tests/blackbox/README.md
  tests/blackbox/host/conftest.py
  tests/blackbox/host/sinkhole_client.py
  tests/blackbox/host/test_credential_guard.py
  tests/blackbox/host/test_network_guard.py
  tests/blackbox/isolation/conftest.py
  tests/blackbox/isolation/test_key_isolation.py
  tests/blackbox/isolation/test_vm_isolation.py
  tests/blackbox/run-tests.sh
  tests/blackbox/runner/pyproject.toml
Due: python-syntax

fix: make run-tests.sh idempotent (reuse running services)
  tests/blackbox/run-tests.sh
Due: none

fix: use localhost instead of 127.0.0.1 for sinkhole routing
  cli/src/safeyolo/proxy.py
  tests/blackbox/harness/sinkhole_router.py
Due: python-syntax

fix: address blackbox test failures from first real run
  cli/src/safeyolo/config.py
  tests/blackbox/isolation/test_key_isolation.py
  tests/blackbox/isolation/test_vm_isolation.py
Due: python-syntax

fix: add IP SAN to sinkhole cert + fix VM isolation test assertions
  cli/src/safeyolo/config.py
  cli/src/safeyolo/proxy.py
  tests/blackbox/certs/generate-certs.sh
  tests/blackbox/harness/sinkhole_router.py
Due: python-syntax

fix: address real security gaps found by blackbox tests
  guest/build-rootfs.sh
  guest/defconfig
  tests/blackbox/certs/generate-certs.sh
  tests/blackbox/harness/macos.py
  tests/blackbox/isolation/test_key_isolation.py
  tests/blackbox/isolation/test_vm_isolation.py
  tests/blackbox/run-tests.sh
Due: python-syntax

fix: always regenerate test certs in run-tests.sh
  tests/blackbox/run-tests.sh
Due: none

fix: test kernel properties directly, not userspace tools
  guest/build-rootfs.sh
  tests/blackbox/README.md
  tests/blackbox/isolation/test_vm_isolation.py
Due: python-syntax

fix: preserve original Host header when routing to sinkhole
  tests/blackbox/harness/sinkhole_router.py
Due: python-syntax

docs: update all blackbox test documentation for microVM architecture
  .github/workflows/blackbox.yml
  docs/security-testing-design.md
  docs/security-verification.md
  pyproject.toml
  tests/README.md
  tests/blackbox/certs/README.md
Due: uv-lock-check

chore: remove stale Docker-era blackbox test references
  SECURITY.md
  docs/blackbox-test-harness-implementation.md
  docs/blackbox-test-harness-plan.md
  docs/service-gateway-v2-design.md
  tests/blackbox/harness/macos.py
  uv.lock
Due: python-syntax

feat: safeyolo stop no longer kills agents
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/lifecycle.py
Due: python-syntax

test: update stop tests for decoupled agent lifecycle
  cli/tests/test_commands_vm.py
Due: python-syntax

feat: isolated blackbox test instance alongside production
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/firewall.py
  tests/blackbox/host/conftest.py
  tests/blackbox/run-tests.sh
Due: python-syntax

fix: use canonical feth formula in vm.py + wildcard sudoers for multi-instance
  cli/src/safeyolo/templates/safeyolo.sudoers
  cli/src/safeyolo/vm.py
Due: python-syntax

fix: use correct safeyolo init flag (--no-interactive not --sandbox)
  tests/blackbox/run-tests.sh
Due: none

fix: replace empty share/ and bin/ dirs with symlinks to production
  tests/blackbox/run-tests.sh
Due: none

fix: cert permissions in VM + remove host pytest --timeout
  cli/src/safeyolo/guest-init.sh
  tests/blackbox/run-tests.sh
Due: none

fix: proper cert install + add pytest-timeout to dev deps
  cli/src/safeyolo/guest-init.sh
  pyproject.toml
  tests/blackbox/run-tests.sh
  uv.lock
Due: uv-lock-check

fix: use combined CA bundle instead of mutating certifi
  cli/src/safeyolo/proxy.py
Due: python-syntax

docs: add nightly blackbox test reporting design
  docs/bb-nightly-design.md
Due: none

docs: add Linux port design (gVisor agent runtime)
  docs/linux-port-design.md
Due: none

refactor: introduce AgentPlatform abstraction for Linux port
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/platform/__init__.py
  cli/src/safeyolo/platform/darwin.py
  cli/src/safeyolo/platform/linux.py
Due: python-syntax

fix: replace remaining is_vm_running reference in _run_agent
  cli/src/safeyolo/commands/agent.py
Due: python-syntax

feat: implement Linux agent runtime (gVisor + veth + iptables)
  cli/src/safeyolo/platform/linux.py
  cli/src/safeyolo/templates/safeyolo-linux.sudoers
  guest/build-all.sh
  guest/build-rootfs.sh
  tests/blackbox/harness/linux.py
Due: python-syntax

security: drop runtime /etc/pf.conf append, manage fixed anchor only
  cli/src/safeyolo/commands/setup.py
  cli/src/safeyolo/firewall.py
  cli/src/safeyolo/templates/safeyolo.sudoers
  cli/tests/test_firewall.py
  cli/tests/test_setup_pf.py
  cli/tests/test_sudoers_template.py
  tests/blackbox/run-tests.sh
Due: python-syntax

security: drop runtime /etc/pf.conf append, manage fixed anchor only (#120)
  cli/src/safeyolo/commands/setup.py
  cli/src/safeyolo/firewall.py
  cli/src/safeyolo/templates/safeyolo.sudoers
  cli/tests/test_firewall.py
  cli/tests/test_setup_pf.py
  cli/tests/test_sudoers_template.py
  tests/blackbox/run-tests.sh
Due: python-syntax

tests: gate blackbox suites by platform + explicit opt-in
  tests/blackbox/conftest.py
  tests/blackbox/harness/linux.py
  tests/blackbox/run-tests.sh
Due: python-syntax

cli: declare mitmproxy as runtime dep + drop Docker-era cruft
  cli/README.md
  cli/pyproject.toml
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/doctor.py
  cli/src/safeyolo/config.py
  cli/tests/conftest.py
  cli/tests/test_agent_ports.py
  cli/tests/test_commands.py
  cli/tests/test_commands_vm.py
  cli/tests/test_doctor.py
Due: python-syntax

Path conditions:
  python-syntax: any of: \.py$
  uv-lock-check: any of: ^pyproject\.toml$
