Repository craigbalding/safeyolo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax, uv-lock-check

.pre-commit-config.yaml:

# Pre-commit hooks - mirrors CI checks to catch issues before push
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Ruff - linting and import sorting (same as CI)
  # Keep version in sync with requirements/dev.txt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi]

  # Python syntax check (same as CI py_compile step)
  - repo: local
    hooks:
      - id: python-syntax
        name: Python syntax check
        entry: python3 -m py_compile
        language: system
        types: [python]
        pass_filenames: true

  # uv lockfile check - ensures uv.lock matches pyproject.toml
  - repo: local
    hooks:
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-merge-conflict
      - id: detect-private-key

Use TLS TCP Serve for Command Centre events
  cli/src/safeyolo/command_centre_tailnet_host.py
  cli/src/safeyolo/tailnet.py
  cli/tests/test_agent_preview.py
  cli/tests/test_command_centre_host.py
  docs/agent-launchers.md
  proxy/tests/command_centre_installed.rs
Due: python-syntax

Preserve WebSocket upgrade through Tailnet Serve
  cli/src/safeyolo/command_centre_tailnet_host.py
  cli/src/safeyolo/tailnet.py
  cli/tests/test_agent_preview.py
  cli/tests/test_command_centre_host.py
  docs/agent-launchers.md
  proxy/src/admin_listener.rs
  proxy/tests/command_centre_installed.rs
  proxy/tests/operator_controls.rs
Due: python-syntax

Make native traffic exchange readable by default
  cli/src/safeyolo/api.py
  cli/src/safeyolo/traffic_inspector.py
  cli/tests/test_traffic_inspector.py
  docs/DEVELOPERS.md
  proxy/src/admin_api/traffic.rs
  proxy/src/admin_api/traffic/tests.rs
  proxy/src/traffic_view.rs
Due: python-syntax

Clarify decoded traffic preview limits and empty bodies
  cli/src/safeyolo/traffic_inspector.py
  cli/tests/test_traffic_inspector.py
Due: python-syntax

Keep readable text at traffic preview character boundaries
  cli/src/safeyolo/traffic_inspector.py
  cli/tests/test_traffic_inspector.py
Due: python-syntax

Decode bounded traffic text across charset boundaries
  cli/src/safeyolo/traffic_inspector.py
  cli/tests/test_traffic_inspector.py
Due: python-syntax

Show complete UTF-7 characters in bounded previews
  cli/src/safeyolo/traffic_inspector.py
  cli/tests/test_traffic_inspector.py
Due: python-syntax

Render common compressed and structured traffic bodies
  cli/src/safeyolo/traffic_inspector.py
  cli/tests/test_traffic_inspector.py
  docs/DEVELOPERS.md
  pyproject.toml
  uv.lock
Due: python-syntax, uv-lock-check

Colour selected traffic bodies without changing preview text
  cli/src/safeyolo/traffic_inspector.py
  cli/tests/test_traffic_inspector.py
  docs/DEVELOPERS.md
  pyproject.toml
  uv.lock
Due: python-syntax, uv-lock-check

Add live traffic tail with JSON pins and change highlights
  cli/src/safeyolo/traffic_inspector.py
  cli/tests/test_traffic_inspector.py
  docs/DEVELOPERS.md
Due: python-syntax

Bundle Linux rootfs script guest files in CLI wheel
  cli/src/safeyolo/vm.py
  cli/tests/test_installed_rootfs_script.py
  contrib/ROOTFS_SCRIPT_GUIDE.md
  pyproject.toml
Due: python-syntax, uv-lock-check

Validate guest support before replacing custom rootfs
  cli/src/safeyolo/vm.py
  cli/tests/test_installed_rootfs_script.py
Due: python-syntax

Compare displayed pinned JSON in live tail
  cli/src/safeyolo/traffic_inspector.py
  cli/tests/test_traffic_inspector.py
Due: python-syntax

Fix native operator event WebSocket upgrade (#637)
  proxy/src/admin_listener.rs
  proxy/tests/operator_controls.rs
Due: none

Allow fixed port for operator desktop presentation
  cli/src/safeyolo/config.py
  cli/src/safeyolo/desktop_presenter.py
  cli/tests/test_config.py
  cli/tests/test_desktop_presenter.py
  docs/CONFIGURATION.md
Due: python-syntax

Fix Command Centre approval presentation across snapshots and reconnects
  command-centre/macos/Sources/Client.swift
  command-centre/macos/Tests/ConnectionTests.swift
  command-centre/macos/Tests/ModelTests.swift
Due: none

Use macOS kernel start time for proxy process identity
  cli/src/safeyolo/runtime_identity.py
  cli/tests/test_runtime_identity.py
Due: python-syntax

Look up retained flows by proxy request ID
  cli/src/safeyolo/agent_context/skills/safeyolo/references/agent-api.md
  proxy/src/agent_api.rs
  proxy/src/agent_api/declarations.rs
  proxy/src/agent_api/flows.rs
  proxy/src/flow_store.rs
  proxy/src/flow_store/query.rs
  proxy/src/http.rs
  proxy/src/http/flow_lookup_tests.rs
  proxy/tests/agent_api_flows.rs
  proxy/tests/flow_lookup_installed.rs
  proxy/tests/flow_store.rs
  proxy/tests/flow_store_query.rs
Due: none

Keep flow context filters stable with request ID search
  proxy/src/flow_store/query.rs
  proxy/tests/flow_store_query.rs
Due: none

Keep standalone approval tests aligned with installed host identity
  tests/proxy_migration/test_operator_consumer_approval.py
  tests/proxy_migration/test_shared_operator_approval.py
Due: python-syntax

Read macOS fixture process identity without ps
  tests/blackbox/harness/macos_process_argv.py
  tests/blackbox/run-tests.sh
  tests/test_blackbox_harness.py
Due: python-syntax

Select Rust in scheduled systrap release lane
  .github/workflows/blackbox.yml
  docs/security-testing-design.md
Due: none

Fix installed Mac runtime identity inspection
  tests/blackbox/installed_host_smoke.py
  tests/test_installed_host_smoke.py
Due: python-syntax

Exercise installed VZ host checks under Mac seatbelt
  tests/blackbox/harness/vz_fixture.py
  tests/blackbox/host/conftest.py
  tests/blackbox/host/security/test_firewall_structural.py
  tests/test_blackbox_sinkhole.py
Due: python-syntax

Repair release matrix Rust test setup and oracle lane
  proxy/src/circuit_runtime_tests.rs
  proxy/src/http/traffic_url.rs
  proxy/src/operator_stats.rs
  proxy/src/operator_stats/memory_tests.rs
  proxy/src/service_catalog_tests/policy_watch.rs
Due: none

Run flow-store rollback oracle from pinned Python source
  .github/workflows/proxy-rust.yml
  proxy/tests/flow_store.rs
  tests/test_proxy_rust_ci_events.py
Due: python-syntax

Route historical Rust oracles to pinned Python sources
  .github/workflows/proxy-rust.yml
  proxy/src/circuits/audit/tests.rs
  proxy/src/circuits/config.rs
  proxy/src/http/flow_recording/tests.rs
  proxy/src/policy/baseline.rs
  proxy/src/policy/model_json/tests.rs
  proxy/tests/admin_budgets.rs
  proxy/tests/admin_shield_oracle.py
  proxy/tests/agent_api.rs
  proxy/tests/agent_status_oracle.py
  proxy/tests/approvals.rs
  proxy/tests/budget_reset.rs
  proxy/tests/budgets.rs
  proxy/tests/circuit_api.rs
  proxy/tests/circuit_audit_order_source.py
  proxy/tests/circuit_json.rs
  proxy/tests/circuit_numeric.rs
  proxy/tests/circuits.rs
  proxy/tests/contracts.rs
  proxy/tests/credential_guard.rs
  proxy/tests/credential_injection.rs
  proxy/tests/engine_stats_oracle.py
  proxy/tests/flow_store.rs
  proxy/tests/flow_store_details.rs
  proxy/tests/flow_store_query.rs
  proxy/tests/gateway_snapshot.rs
  proxy/tests/grants.rs
  proxy/tests/host_names.rs
  proxy/tests/inspection.rs
  proxy/tests/network_guard.rs
  proxy/tests/network_trace.rs
  proxy/tests/policy.rs
  proxy/tests/policy_projection_oracle.py
  proxy/tests/services.rs
  proxy/tests/tasks.rs
  proxy/tests/test_context.rs
  tests/test_proxy_rust_ci_events.py
Due: python-syntax

Fix final matrix comparator and concurrent fixtures
  proxy/tests/command_centre_installed.rs
  proxy/tests/gateway_workflow.rs
  tests/proxy_migration/full_production.py
  tests/proxy_migration/test_full_production.py
Due: python-syntax

Observe streamed policy denial before uploading body
  tests/proxy_migration/CONTRACT.md
  tests/proxy_migration/test_request_streaming_inspection.py
Due: python-syntax

Promote Rust proxy assurance controls and release snapshot for review
  .github/CODEOWNERS
  .github/workflows/proxy-assurance.yml
  docs/assurance-map.toml
  docs/assurance.md
  tools/assurance/accepted.json
  tools/assurance/check.py
  tools/assurance/rules.yml
  tools/assurance/test_check.py
Due: python-syntax

Run supported native blackbox journeys nightly
  .github/workflows/blackbox.yml
  docs/security-testing-design.md
  scripts/check_blackbox_cadence.py
  tests/blackbox/README.md
  tests/blackbox/p2_installed_linux.py
  tests/blackbox/run-lane.sh
  tests/blackbox/run-p2-linux.sh
  tests/blackbox/run-p3.sh
  tests/blackbox/run-p4.sh
  tests/blackbox/run-tests.sh
  tests/blackbox/test_b2_installed_selection.py
  tests/test_blackbox_cadence_contract.py
Due: python-syntax

Refresh acceptance graph hashes for blackbox runners
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.yaml
Due: none

Prepare macOS blackbox loopback fixtures
  .github/workflows/blackbox.yml
Due: none

Run all hosted native blackbox journeys nightly (#890)
  .github/workflows/blackbox.yml
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.yaml
  docs/security-testing-design.md
  scripts/check_blackbox_cadence.py
  tests/blackbox/README.md
  tests/blackbox/p2_installed_linux.py
  tests/blackbox/run-lane.sh
  tests/blackbox/run-p2-linux.sh
  tests/blackbox/run-p3.sh
  tests/blackbox/run-p4.sh
  tests/blackbox/run-tests.sh
  tests/blackbox/test_b2_installed_selection.py
  tests/test_blackbox_cadence_contract.py
Due: python-syntax

Read only complete proxy migration event records
  tests/proxy_migration/harness.py
  tests/proxy_migration/test_event_log_reader.py
Due: python-syntax

Read only complete proxy migration event records (#892)
  tests/proxy_migration/harness.py
  tests/proxy_migration/test_event_log_reader.py
Due: python-syntax

test(gateway): align no-auth assertions with credential-free grants
  proxy/tests/credential_injection.rs
  proxy/tests/gateway_workflow.rs
Due: none

fix(gateway): stream provider pipe chunks before EOF
  cli/src/safeyolo/provider_stream.py
  cli/tests/test_provider_stream.py
  tests/proxy_migration/provider_pipe_fixture.py
Due: python-syntax

feat(gateway): route authorized services to sandbox providers
  cli/README.md
  cli/src/safeyolo/api.py
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/core/service_loader.py
  cli/src/safeyolo/provider_stream.py
  cli/src/safeyolo/rust_proxy.py
  cli/tests/test_agent_authorize.py
  cli/tests/test_provider_stream.py
  docs/CONFIGURATION.md
  proxy/src/admin_api/services.rs
  proxy/src/admin_api/services/tests.rs
  proxy/src/credential_injection.rs
  proxy/src/http.rs
  proxy/src/lib.rs
  proxy/src/provider_stream.rs
  proxy/src/services.rs
  proxy/src/traffic_view.rs
  tests/proxy_migration/provider_pipe_fixture.py
  tests/proxy_migration/test_gateway_provider.py
Due: python-syntax
