Repository craigbalding/safeyolo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax, uv-lock-check

python-syntax:
  name: Python syntax check
  entry: python3 -m py_compile
  language: system
  pass_filenames: true

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

docs(readme): rewrite intro to lead with the value pitch (#313)
  README.md
Due: none

docs(networking): rewrite intro paragraph to reference use, drop symptom framing (#314)
  docs/networking-vsock-uds.md
Due: none

docs(templates): add PR template and align issue template (#315)
  .github/ISSUE_TEMPLATE/observation.yml
  .github/pull_request_template.md
Due: none

security(deps): bump cryptography to 50.0.0, pyasn1 to 0.6.4 (#317)
  pyproject.toml
  uv.lock
Due: uv-lock-check

quality(codeql): silence unused-global and empty-except notes (#318)
  cli/src/safeyolo/preview.py
  scripts/_doc_config.py
Due: python-syntax

feat(trace): agent-scoped execution tracing + /explain hardening (#213)
  cli/src/safeyolo/core/audit_writer.py
  cli/src/safeyolo/core/base.py
  cli/src/safeyolo/core/trace.py
  cli/src/safeyolo/core/utils.py
  cli/src/safeyolo/mitm_addons/agent_api.py
  cli/src/safeyolo/mitm_addons/circuit_breaker.py
  cli/src/safeyolo/mitm_addons/credential_guard.py
  cli/src/safeyolo/mitm_addons/network_guard.py
  cli/src/safeyolo/mitm_addons/pattern_scanner.py
  cli/src/safeyolo/mitm_addons/request_id.py
  cli/src/safeyolo/mitm_addons/service_gateway.py
  cli/src/safeyolo/mitm_addons/test_context.py
  tests/test_agent_api.py
  tests/test_request_id.py
  tests/test_security_addon_trace.py
  tests/test_trace.py
  tests/test_trace_chain_regression.py
  tests/test_utils_logging.py
Due: python-syntax

fix(trace): observation-only decorator + response-hook evidence symmetry (#213)
  cli/src/safeyolo/core/base.py
  cli/src/safeyolo/core/trace.py
  cli/src/safeyolo/mitm_addons/circuit_breaker.py
  cli/src/safeyolo/mitm_addons/credential_guard.py
  cli/src/safeyolo/mitm_addons/service_gateway.py
  cli/src/safeyolo/mitm_addons/test_context.py
  tests/test_security_addon_trace.py
  tests/test_trace_chain_regression.py
Due: python-syntax

fix(trace,audit): manifest independent of import + in-flight drain sync (#213)
  cli/src/safeyolo/core/audit_writer.py
  cli/src/safeyolo/core/base.py
  cli/src/safeyolo/core/trace.py
  cli/src/safeyolo/mitm_addons/service_gateway.py
  tests/test_agent_api.py
  tests/test_audit_writer.py
  tests/test_security_addon_trace.py
  tests/test_trace.py
  tests/test_trace_chain_regression.py
  tests/test_trace_manifest.py
Due: python-syntax

fix(trace,explain): correctness gaps from fourth-pass review (#213)
  cli/src/safeyolo/mitm_addons/agent_api.py
  cli/src/safeyolo/mitm_addons/circuit_breaker.py
  cli/src/safeyolo/mitm_addons/credential_guard.py
  cli/src/safeyolo/mitm_addons/loop_guard.py
  cli/src/safeyolo/mitm_addons/request_id.py
  cli/src/safeyolo/mitm_addons/test_context.py
  tests/test_agent_api.py
  tests/test_loop_guard.py
  tests/test_test_context.py
  tests/test_trace_chain_regression.py
Due: python-syntax

fix(loop-guard,request-id): agent attribution + idempotent ID (#213)
  cli/src/safeyolo/mitm_addons/loop_guard.py
  cli/src/safeyolo/mitm_addons/request_id.py
  tests/test_loop_guard.py
  tests/test_request_id.py
Due: python-syntax

chore(test): drop dead with-block in TestLoopFullCorrelationRoundTrip
  tests/test_loop_guard.py
Due: python-syntax

trace(#213): agent-scoped execution tracing + /explain hardening (PR A) (#321)
  cli/src/safeyolo/core/audit_writer.py
  cli/src/safeyolo/core/base.py
  cli/src/safeyolo/core/trace.py
  cli/src/safeyolo/core/utils.py
  cli/src/safeyolo/mitm_addons/agent_api.py
  cli/src/safeyolo/mitm_addons/circuit_breaker.py
  cli/src/safeyolo/mitm_addons/credential_guard.py
  cli/src/safeyolo/mitm_addons/loop_guard.py
  cli/src/safeyolo/mitm_addons/network_guard.py
  cli/src/safeyolo/mitm_addons/pattern_scanner.py
  cli/src/safeyolo/mitm_addons/request_id.py
  cli/src/safeyolo/mitm_addons/service_gateway.py
  cli/src/safeyolo/mitm_addons/test_context.py
  tests/test_agent_api.py
  tests/test_audit_writer.py
  tests/test_loop_guard.py
  tests/test_request_id.py
  tests/test_security_addon_trace.py
  tests/test_test_context.py
  tests/test_trace.py
  tests/test_trace_chain_regression.py
  tests/test_trace_manifest.py
  tests/test_utils_logging.py
Due: python-syntax

feat(pdp): intrinsic ALLOW for pipeline-probe host (#213 B1)
  cli/src/safeyolo/core/probe.py
  pdp/core.py
  tests/test_pdp_core.py
Due: python-syntax

feat(addons): probe_sink — early marker + late local sink (#213 B2)
  cli/src/safeyolo/mitm_addons/probe_sink.py
  cli/src/safeyolo/proxy.py
  cli/tests/test_proxy.py
  tests/test_imports.py
  tests/test_probe_sink.py
Due: python-syntax

feat(addons): transport_guard — no-egress boundary for probe host (#213 B3)
  cli/src/safeyolo/mitm_addons/transport_guard.py
  cli/src/safeyolo/proxy.py
  cli/tests/test_proxy.py
  tests/test_imports.py
  tests/test_transport_guard.py
Due: python-syntax

feat(flow-recorder): suppress probe flows from FlowStore (#213 B4)
  cli/src/safeyolo/mitm_addons/flow_recorder.py
  tests/test_flow_recorder.py
Due: python-syntax

feat(doctor): traced pipeline probe + state classification + multi-UDS (#213 B5)
  cli/src/safeyolo/commands/doctor.py
  cli/tests/test_doctor_traced_probe.py
Due: python-syntax

feat(skill): DAG trace branches keyed on state+outcome+reason (#213 B6)
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-credential-guard.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-credential-guard.yaml
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-request-failing.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-request-failing.yaml
Due: none

feat(skill,test): trace wire vocabulary doc + drift test (#213 B7)
  cli/src/safeyolo/agent_context/skills/safeyolo/references/agent-api.md
  tests/test_trace_wire_vocabulary.py
Due: python-syntax

fix(#213 B3/B5): flow-aware trace bridge + parse socket + hygiene + docs
  cli/src/safeyolo/commands/doctor.py
  cli/src/safeyolo/core/probe.py
  cli/src/safeyolo/mitm_addons/flow_recorder.py
  cli/src/safeyolo/mitm_addons/transport_guard.py
  cli/tests/test_doctor_traced_probe.py
  docs/host-verification-213.md
  tests/test_flow_recorder.py
  tests/test_probe_lifecycle.py
  tests/test_probe_sink.py
  tests/test_transport_guard.py
Due: python-syntax

fix(#213 B3/B5): early-connect trace bridge + classifier honours non-manifest errors
  cli/src/safeyolo/commands/doctor.py
  cli/src/safeyolo/core/probe.py
  cli/src/safeyolo/mitm_addons/request_id.py
  cli/src/safeyolo/mitm_addons/transport_guard.py
  cli/tests/test_doctor_traced_probe.py
  docs/host-verification-213.md
  tests/test_transport_guard.py
Due: python-syntax

fix(#213 B3): synthesise correlated error response + broaden non-manifest error scan
  cli/src/safeyolo/commands/doctor.py
  cli/src/safeyolo/mitm_addons/transport_guard.py
  cli/tests/test_doctor_traced_probe.py
  tests/test_transport_guard.py
Due: python-syntax

fix(#213 B3): rearchitect — request-hook failsafe (works) + audit-only backstop
  cli/src/safeyolo/agent_context/skills/safeyolo/references/agent-api.md
  cli/src/safeyolo/core/probe.py
  cli/src/safeyolo/core/trace.py
  cli/src/safeyolo/mitm_addons/transport_guard.py
  cli/src/safeyolo/proxy.py
  cli/tests/test_proxy.py
  tests/test_transport_guard.py
Due: python-syntax

fix(#213 B3/B4/B25): failsafe sets probe marker + circuit exclusion + V3 rewrite
  cli/src/safeyolo/mitm_addons/circuit_breaker.py
  cli/src/safeyolo/mitm_addons/transport_guard.py
  docs/host-verification-213.md
  tests/test_circuit_breaker.py
  tests/test_transport_guard.py
Due: python-syntax

docs(#213): host-verification playbook — fix commands + platform coverage
  docs/host-verification-213.md
Due: none

docs(#213): playbook — correct log path + reframe V2 as architectural proof
  docs/host-verification-213.md
Due: none

docs(#213): playbook — session-scoped log assertions
  docs/host-verification-213.md
Due: none

feat(tmux): auto-rename window to agent name (#330)
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/tmux.py
  cli/tests/test_commands_tmux.py
  cli/tests/test_commands_vm.py
Due: python-syntax

fix(#330): move rename to launch-committed boundary
  cli/src/safeyolo/commands/agent.py
  cli/tests/test_commands_vm.py
Due: python-syntax

fix(rootfs): standardize on SAFEYOLO_GUEST_SRC_DIR
  cli/tests/test_install_guest_common.py
  guest/build-rootfs.sh
  guest/rootfs-customize-hook.sh
Due: python-syntax

fix(rootfs): standardize on SAFEYOLO_GUEST_SRC_DIR (#333)
  cli/tests/test_install_guest_common.py
  guest/build-rootfs.sh
  guest/rootfs-customize-hook.sh
Due: python-syntax

feat(tmux): auto-rename window to agent name (#331)
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/tmux.py
  cli/tests/test_commands_tmux.py
  cli/tests/test_commands_vm.py
Due: python-syntax

docs(install): pass security pins inline to uv tool install
  README.md
Due: none

docs(install): pass security pins inline to uv tool install (#334)
  README.md
Due: none

feat(setup): actionable hint when /dev/kvm needs a group join
  cli/src/safeyolo/commands/doctor.py
  cli/src/safeyolo/commands/setup.py
  cli/src/safeyolo/platform/linux.py
  cli/tests/test_commands_vm.py
Due: python-syntax

feat(setup): actionable hint when /dev/kvm needs a group join (#335)
  cli/src/safeyolo/commands/doctor.py
  cli/src/safeyolo/commands/setup.py
  cli/src/safeyolo/platform/linux.py
  cli/tests/test_commands_vm.py
Due: python-syntax

trace(#213): doctor probe + skill DAG consumers (PR B) [WIP] (#322)
  cli/src/safeyolo/agent_context/skills/safeyolo/references/agent-api.md
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-credential-guard.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-credential-guard.yaml
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-request-failing.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-request-failing.yaml
  cli/src/safeyolo/commands/doctor.py
  cli/src/safeyolo/core/probe.py
  cli/src/safeyolo/core/trace.py
  cli/src/safeyolo/mitm_addons/circuit_breaker.py
  cli/src/safeyolo/mitm_addons/flow_recorder.py
  cli/src/safeyolo/mitm_addons/probe_sink.py
  cli/src/safeyolo/mitm_addons/request_id.py
  cli/src/safeyolo/mitm_addons/transport_guard.py
  cli/src/safeyolo/proxy.py
  cli/tests/test_doctor_traced_probe.py
  cli/tests/test_proxy.py
  docs/host-verification-213.md
  pdp/core.py
  tests/test_circuit_breaker.py
  tests/test_flow_recorder.py
  tests/test_imports.py
  tests/test_pdp_core.py
  tests/test_probe_lifecycle.py
  tests/test_probe_sink.py
  tests/test_trace_wire_vocabulary.py
  tests/test_transport_guard.py
Due: python-syntax

docs(install): install.sh wraps uv install + security-pin overrides
  README.md
  install.sh
  pyproject.toml
Due: uv-lock-check

feat(bootstrap): one-command first-run setup (init + build + setup)
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/bootstrap.py
Due: python-syntax

docs(install): install.sh wraps uv install + security-pin overrides (#350)
  README.md
  install.sh
  pyproject.toml
Due: uv-lock-check

Path conditions:
  python-syntax: any of: \.py$
  uv-lock-check: any of: ^pyproject\.toml$
