Repository craigbalding/safeyolo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax, uv-lock-check

.pre-commit-config.yaml:

# Pre-commit hooks - mirrors CI checks to catch issues before push
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Ruff - linting and import sorting (same as CI)
  # Keep version in sync with requirements/dev.txt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi]

  # Python syntax check (same as CI py_compile step)
  - repo: local
    hooks:
      - id: python-syntax
        name: Python syntax check
        entry: python3 -m py_compile
        language: system
        types: [python]
        pass_filenames: true

  # uv lockfile check - ensures uv.lock matches pyproject.toml
  - repo: local
    hooks:
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-merge-conflict
      - id: detect-private-key

linux: support disposable nested SafeYolo labs (#474)
  README.md
  cli/src/safeyolo/commands/bootstrap.py
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/config.py
  cli/src/safeyolo/mitm_addons/loop_guard.py
  cli/src/safeyolo/platform/linux.py
  cli/src/safeyolo/proxy.py
  cli/src/safeyolo/proxy_modes/unix_listener.py
  cli/tests/test_bootstrap_package_manager.py
  cli/tests/test_commands_vm.py
  cli/tests/test_install_guest_common.py
  cli/tests/test_linux_platform_oci.py
  cli/tests/test_proxy.py
  docs/CONFIGURATION.md
  docs/nested-linux-lab.md
  guest/build-rootfs.sh
  tests/nested-linux/acceptance.sh
  tests/nested-linux/flow_probe.py
  tests/nested-linux/mcp_probe.py
  tests/test_loop_guard.py
  tests/test_unix_listener.py
Due: python-syntax

docs: adopt technical writing standard
  AGENTS.md
  README.md
  SECURITY.md
  cli/README.md
  cli/src/safeyolo/agent_context/skills/safeyolo/references/coord.md
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/init.py
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/commands/setup.py
  cli/src/safeyolo/platform/__init__.py
  cli/tests/test_commands_vm.py
  cli/tests/test_coord_jetstream_acceptance.py
  cli/tests/test_host_setup_scripts.py
  cli/tests/test_policy_cli.py
  contrib/HOST_SCRIPT_GUIDE.md
  contrib/ROOTFS_SCRIPT_GUIDE.md
  docs/ADDONS.md
  docs/CONFIGURATION.md
  docs/DEVELOPERS.md
  docs/codex-coord-supervisor.md
  docs/dispatch-generation.md
  docs/linux-port-design.md
  docs/technical-writing.md
  scripts/check_doc_cli_flags.py
  scripts/doc_allowlist.toml
  site/_sources/dispatch/2026-08-29.json
  site/dispatch/2026-08-29.md
  site/index.md
  site/topics/coord.md
  tests/test_check_doc_cli_flags.py
Due: python-syntax

test: update Dispatch dogfood assertions
  cli/tests/test_coord_dispatch.py
Due: python-syntax

docs: correct Linux isolation descriptions
  cli/src/safeyolo/commands/lifecycle.py
  cli/tests/test_commands_vm.py
  docs/security-verification.md
Due: python-syntax

docs: restore platform and acceptance details
  cli/src/safeyolo/config.py
  cli/src/safeyolo/platform/__init__.py
  cli/tests/test_coord_jetstream_acceptance.py
  contrib/README.md
  docs/DEVELOPERS.md
Due: python-syntax

docs: adopt STE principles for factory-era prose (#478)
  AGENTS.md
  README.md
  SECURITY.md
  cli/README.md
  cli/src/safeyolo/agent_context/skills/safeyolo/references/coord.md
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/init.py
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/commands/setup.py
  cli/src/safeyolo/config.py
  cli/src/safeyolo/platform/__init__.py
  cli/tests/test_commands_vm.py
  cli/tests/test_coord_dispatch.py
  cli/tests/test_coord_jetstream_acceptance.py
  cli/tests/test_host_setup_scripts.py
  cli/tests/test_policy_cli.py
  contrib/HOST_SCRIPT_GUIDE.md
  contrib/README.md
  contrib/ROOTFS_SCRIPT_GUIDE.md
  docs/ADDONS.md
  docs/CONFIGURATION.md
  docs/DEVELOPERS.md
  docs/codex-coord-supervisor.md
  docs/dispatch-generation.md
  docs/linux-port-design.md
  docs/security-verification.md
  docs/technical-writing.md
  scripts/check_doc_cli_flags.py
  scripts/doc_allowlist.toml
  site/_sources/dispatch/2026-08-29.json
  site/dispatch/2026-08-29.md
  site/index.md
  site/topics/coord.md
  tests/test_check_doc_cli_flags.py
Due: python-syntax

feat: add Codex tmux lab controller
  README.md
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/SKILL.md
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/agents/openai.yaml
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/assets/lab-log.md
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/assets/startup-instructions.md
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/assets/tmux-lab.conf
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/references/bootstrap.md
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/references/coord-liveness.md
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/references/evidence-retention.md
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/references/experiment-protocol.md
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/references/tmux-ui.md
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/adapt-layout.sh
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/annotate-pane.sh
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/capture-evidence.sh
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/install-operator-entrypoint.sh
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/lab-snapshot.sh
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/lesson-questions.sh
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/lesson-sources.sh
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/redact_credentials.py
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/run-controller.sh
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/safeyolo-lab
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/self-test.sh
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/show-annotation.sh
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/switch-surface.sh
  cli/src/safeyolo/vm.py
  cli/tests/test_host_setup_scripts.py
  cli/tests/test_vm.py
  contrib/HOST_SCRIPT_GUIDE.md
  contrib/README.md
  contrib/lib/stage-safeyolo-context.sh
  scripts/doc_allowlist.toml
Due: python-syntax

feat: add learner-focused SafeYolo demo lab
  README.md
  cli/src/safeyolo/agent_context/skills/safeyolo-demo-lab/SKILL.md
  cli/src/safeyolo/agent_context/skills/safeyolo-demo-lab/agents/openai.yaml
  cli/src/safeyolo/agent_context/skills/safeyolo-demo-lab/references/demo-catalog.md
  cli/src/safeyolo/agent_context/skills/safeyolo-demo-lab/references/structured-lessons.md
  cli/src/safeyolo/agent_context/skills/safeyolo-demo-lab/scripts/boundary-orientation.sh
  cli/src/safeyolo/agent_context/skills/safeyolo-demo-lab/scripts/explain-trace.jq
  cli/src/safeyolo/agent_context/skills/safeyolo-demo-lab/scripts/install-presenterm.sh
  cli/src/safeyolo/agent_context/skills/safeyolo-demo-lab/scripts/lesson-helper.sh
  cli/src/safeyolo/agent_context/skills/safeyolo-demo-lab/scripts/request-story.sh
  cli/src/safeyolo/agent_context/skills/safeyolo-demo-lab/scripts/self-test.sh
  cli/tests/test_demo_lab_skill.py
  cli/tests/test_host_setup_scripts.py
  contrib/HOST_SCRIPT_GUIDE.md
  contrib/README.md
  contrib/lib/stage-safeyolo-context.sh
  scripts/doc_allowlist.toml
Due: python-syntax

docs: clarify circuit success trace semantics
  cli/src/safeyolo/agent_context/skills/safeyolo/references/agent-api.md
Due: none

feat: add operator-approved factory contracts
  README.md
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/factory.py
  cli/src/safeyolo/factory_contract.py
  cli/tests/test_codex_coord_supervisor.py
  cli/tests/test_factory_contract.py
  cli/tests/test_host_setup_scripts.py
  contrib/codex-coord-host-setup.sh
  contrib/codex-coord-supervisor.py
  contrib/codex-host-setup.sh
  docs/agent-roles/independent-reviewer.md
  docs/agent-roles/issue-owner.md
  docs/factories.md
  docs/factories/backlog-coordinator.md
  docs/factories/backlog.toml
Due: python-syntax

fix: harden factory review handoffs
  cli/src/safeyolo/factory_contract.py
  cli/tests/test_codex_coord_supervisor.py
  cli/tests/test_factory_contract.py
  contrib/codex-coord-supervisor.py
  contrib/codex-host-setup.sh
Due: python-syntax

factory: add operator-approved role and handoff contracts (#485)
  README.md
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/factory.py
  cli/src/safeyolo/factory_contract.py
  cli/tests/test_codex_coord_supervisor.py
  cli/tests/test_factory_contract.py
  cli/tests/test_host_setup_scripts.py
  contrib/codex-coord-host-setup.sh
  contrib/codex-coord-supervisor.py
  contrib/codex-host-setup.sh
  docs/agent-roles/independent-reviewer.md
  docs/agent-roles/issue-owner.md
  docs/factories.md
  docs/factories/backlog-coordinator.md
  docs/factories/backlog.toml
Due: python-syntax

coord: harden Mattermost routine projections
  cli/src/safeyolo/agent_context/skills/safeyolo/references/coord.md
  cli/src/safeyolo/coord/mattermost.py
  cli/src/safeyolo/coord/mattermost_actions.py
  cli/tests/test_coord_mattermost.py
  cli/tests/test_coord_mcp_adapter.py
  contrib/safeyolo-coord-mcp.py
  docs/coord-mattermost.md
  scripts/accept_mattermost_macos_integration.py
Due: python-syntax

fix: harden Mattermost projection boundaries
  cli/src/safeyolo/coord/mattermost.py
  cli/src/safeyolo/coord/mattermost_actions.py
  cli/tests/test_coord_mattermost.py
  cli/tests/test_coord_mattermost_macos_acceptance.py
  scripts/accept_mattermost_macos_integration.py
Due: python-syntax

fix: close Mattermost review gaps
  cli/src/safeyolo/coord/mattermost_actions.py
  cli/tests/test_coord_mattermost.py
  cli/tests/test_coord_mcp_adapter.py
  contrib/safeyolo-coord-mcp.py
  pyproject.toml
  uv.lock
Due: python-syntax, uv-lock-check

fix: enforce final Mattermost provenance boundary
  cli/src/safeyolo/coord/mattermost_actions.py
  cli/tests/test_coord_mattermost.py
Due: python-syntax

coord: harden Mattermost routine projections (#487)
  cli/src/safeyolo/agent_context/skills/safeyolo/references/coord.md
  cli/src/safeyolo/coord/mattermost.py
  cli/src/safeyolo/coord/mattermost_actions.py
  cli/tests/test_coord_mattermost.py
  cli/tests/test_coord_mattermost_macos_acceptance.py
  cli/tests/test_coord_mcp_adapter.py
  contrib/safeyolo-coord-mcp.py
  docs/coord-mattermost.md
  pyproject.toml
  scripts/accept_mattermost_macos_integration.py
  uv.lock
Due: python-syntax, uv-lock-check

Add canonical operator control to factories
  cli/src/safeyolo/commands/factory.py
  cli/src/safeyolo/factory_contract.py
  cli/tests/test_codex_coord_supervisor.py
  cli/tests/test_factory_contract.py
  cli/tests/test_host_setup_scripts.py
  contrib/codex-coord-supervisor.py
  contrib/codex-host-setup.sh
  docs/codex-coord-supervisor.md
  docs/factories.md
  docs/factories/backlog-coordinator.md
  docs/factories/backlog.toml
  scripts/doc_constants.toml
Due: python-syntax

Fix targeted operator and brief supervision
  cli/src/safeyolo/commands/coord.py
  cli/tests/test_codex_coord_supervisor.py
  cli/tests/test_coord_attention.py
  cli/tests/test_coord_stage0_cli.py
  contrib/codex-coord-supervisor.py
  docs/codex-coord-supervisor.md
  docs/factories.md
Due: python-syntax

Add canonical operator control to factories (#491)
  cli/src/safeyolo/commands/coord.py
  cli/src/safeyolo/commands/factory.py
  cli/src/safeyolo/factory_contract.py
  cli/tests/test_codex_coord_supervisor.py
  cli/tests/test_coord_attention.py
  cli/tests/test_coord_stage0_cli.py
  cli/tests/test_factory_contract.py
  cli/tests/test_host_setup_scripts.py
  contrib/codex-coord-supervisor.py
  contrib/codex-host-setup.sh
  docs/codex-coord-supervisor.md
  docs/factories.md
  docs/factories/backlog-coordinator.md
  docs/factories/backlog.toml
  scripts/doc_constants.toml
Due: python-syntax

Fix detached factory worker launch
  cli/src/safeyolo/commands/agent.py
Due: python-syntax

Start factory Coord dependency
  cli/src/safeyolo/commands/factory.py
Due: python-syntax

Add factory launch regressions
  cli/tests/test_factory_contract.py
Due: python-syntax

Fix factory worker and Coord startup (#504)
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/factory.py
  cli/tests/test_factory_contract.py
Due: python-syntax

Fix downstream request ID ownership
  cli/src/safeyolo/agent_context/skills/safeyolo/references/troubleshooting.md
  cli/src/safeyolo/mitm_addons/request_id.py
  docs/blackbox-coverage.md
  tests/blackbox/host/conftest.py
  tests/blackbox/host/proxy/test_network_guard.py
  tests/blackbox/sinkhole/handlers.py
  tests/test_request_id.py
Due: python-syntax

Inspect WebSocket messages with pattern scanner
  cli/src/safeyolo/mitm_addons/pattern_scanner.py
Due: python-syntax

Test WebSocket message inspection
  tests/test_pattern_scanner.py
Due: python-syntax

Document WebSocket inspection architecture
  docs/ARCHITECTURE.md
Due: none

Document WebSocket pattern scanner behavior
  docs/ADDONS.md
Due: none

docs: correct pattern scanner block examples
  docs/ADDONS.md
Due: none

Preserve natural factory chat and concurrent Lens tasks
  cli/src/safeyolo/commands/coord.py
  cli/src/safeyolo/coord/api.py
  cli/src/safeyolo/coord/attention.py
  cli/src/safeyolo/coord/mattermost_actions.py
  cli/tests/test_codex_coord_supervisor.py
  cli/tests/test_coord_attention.py
  cli/tests/test_coord_chat_pty.py
  cli/tests/test_coord_mattermost.py
  cli/tests/test_coord_stage0_cli.py
  cli/tests/test_factory_contract.py
  contrib/codex-coord-supervisor.py
  docs/agent-roles/independent-reviewer.md
  docs/codex-coord-supervisor.md
  docs/coord-kernel-capabilities.md
  docs/coord-mattermost.md
  docs/factories.md
  docs/factories/backlog-coordinator.md
  docs/factories/backlog.toml
Due: python-syntax

Allow protocol-like operator prose
  cli/tests/test_codex_coord_supervisor.py
  contrib/codex-coord-supervisor.py
Due: python-syntax

Preserve natural factory chat and concurrent Lens tasks (#520)
  cli/src/safeyolo/commands/coord.py
  cli/src/safeyolo/coord/api.py
  cli/src/safeyolo/coord/attention.py
  cli/src/safeyolo/coord/mattermost_actions.py
  cli/tests/test_codex_coord_supervisor.py
  cli/tests/test_coord_attention.py
  cli/tests/test_coord_chat_pty.py
  cli/tests/test_coord_mattermost.py
  cli/tests/test_coord_stage0_cli.py
  cli/tests/test_factory_contract.py
  contrib/codex-coord-supervisor.py
  docs/agent-roles/independent-reviewer.md
  docs/codex-coord-supervisor.md
  docs/coord-kernel-capabilities.md
  docs/coord-mattermost.md
  docs/factories.md
  docs/factories/backlog-coordinator.md
  docs/factories/backlog.toml
Due: python-syntax

Make coord chat full-duplex
  cli/src/safeyolo/commands/coord.py
  cli/tests/test_coord_chat_live.py
  cli/tests/test_coord_chat_pty.py
  cli/tests/test_coord_stage0_cli.py
  pyproject.toml
  uv.lock
Due: python-syntax, uv-lock-check

Make Coord chat full-duplex in one terminal (#522)
  cli/src/safeyolo/commands/coord.py
  cli/tests/test_coord_chat_live.py
  cli/tests/test_coord_chat_pty.py
  cli/tests/test_coord_stage0_cli.py
  pyproject.toml
  uv.lock
Due: python-syntax, uv-lock-check

Bound retained proxy body bytes
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/mitm_addons/flow_pruner.py
  cli/src/safeyolo/proxy.py
  cli/tests/test_commands_vm.py
  cli/tests/test_proxy.py
  tests/test_flow_pruner.py
Due: python-syntax

Bound retained proxy body bytes (#524)
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/mitm_addons/flow_pruner.py
  cli/src/safeyolo/proxy.py
  cli/tests/test_commands_vm.py
  cli/tests/test_proxy.py
  tests/test_flow_pruner.py
Due: python-syntax

Update OpenSSF Scorecard action to v2.4.4
  .github/workflows/scorecard.yml
Due: none

Update OpenSSF Scorecard action to v2.4.4 (#526)
  .github/workflows/scorecard.yml
Due: none

Keep Coord chat receiving after send
  cli/src/safeyolo/commands/coord.py
  cli/tests/test_coord_chat_live.py
Due: python-syntax
