Repository craigbalding/safeyolo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax, uv-lock-check

python-syntax:
  name: Python syntax check
  entry: python3 -m py_compile
  language: system
  pass_filenames: true

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

test(shell): regression guards for `safeyolo agent shell --root`
  cli/tests/test_install_guest_common.py
  cli/tests/test_vm.py
Due: python-syntax

chore: add issue template (Observation) with no-padding rules
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/observation.yml
Due: none

chore: add issue template (Observation) with no-padding rules (#304)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/observation.yml
Due: none

test(shell): regression guards for `safeyolo agent shell --root` (#303)
  cli/tests/test_install_guest_common.py
  cli/tests/test_vm.py
Due: python-syntax

chore(rootfs): bump gh CLI 2.89.0 -> 2.98.0 (#299)
  guest/build-rootfs.sh
Due: none

docs: user-facing guide for agent debugging facilities (#300)
  docs/agent-debugging.md
Due: none

feat(skill): broaden safeyolo skill auto-invoke triggers (#301)
  cli/src/safeyolo/agent_context/skills/safeyolo/SKILL.md
  docs/AGENTS.md
Due: none

docs(graph): add triage-kernel-observability (#302)
  cli/src/safeyolo/agent_context/skills/safeyolo/SKILL.md
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-kernel-observability.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-kernel-observability.yaml
Due: none

fix(docs): remove wrong "systrap doesn't implement ptrace()" claims
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-guest-tools-and-sudo.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-guest-tools-and-sudo.yaml
  docs/agent-debugging.md
Due: none

fix(docs): remove wrong "systrap doesn't implement ptrace()" claims (#305)
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-guest-tools-and-sudo.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-guest-tools-and-sudo.yaml
  docs/agent-debugging.md
Due: none

fix(tests): drop unused sys import in test_check_doc_constants
  tests/test_check_doc_constants.py
Due: python-syntax

fix(docs): remove broken link to uncommitted agent_debug.md design doc
  docs/agent-debugging.md
Due: none

style: collapse double blank line in check_doc_cli_flags
  scripts/check_doc_cli_flags.py
Due: python-syntax

fix(docs): security-verification.md — EROFS drift + weak-anchor coverage
  cli/src/safeyolo/platform/linux.py
  cli/src/safeyolo/proxy.py
  docs/security-verification.md
  scripts/doc_constants.toml
  scripts/doc_forbidden.toml
Due: python-syntax

feat(skill): add contributing-to-safeyolo reference
  cli/src/safeyolo/agent_context/skills/safeyolo/SKILL.md
  cli/src/safeyolo/agent_context/skills/safeyolo/references/contributing-to-safeyolo.md
Due: none

fix(skill): use uv run pre-commit convention
  cli/src/safeyolo/agent_context/skills/safeyolo/references/contributing-to-safeyolo.md
Due: none

fix(docs): security-verification.md — EROFS drift + weak-anchor coverage (#308)
  cli/src/safeyolo/platform/linux.py
  cli/src/safeyolo/proxy.py
  docs/security-verification.md
  scripts/doc_constants.toml
  scripts/doc_forbidden.toml
Due: python-syntax

feat(drift): two-tier allowlist — cover shipped skill files
  cli/src/safeyolo/agent_context/skills/safeyolo/references/contributing-to-safeyolo.md
  docs/DEVELOPERS.md
  scripts/_doc_config.py
  scripts/audit_doc_coverage.py
  scripts/check_doc_cli_flags.py
  scripts/check_doc_links.py
  scripts/check_skill_markers.py
  scripts/doc_allowlist.toml
  scripts/doc_forbidden.toml
  tests/test_check_skill_markers.py
Due: python-syntax

feat(drift): skill contributor reference + two-tier shipped-docs allowlist (#307)
  cli/src/safeyolo/agent_context/skills/safeyolo/SKILL.md
  cli/src/safeyolo/agent_context/skills/safeyolo/references/contributing-to-safeyolo.md
  docs/DEVELOPERS.md
  scripts/_doc_config.py
  scripts/audit_doc_coverage.py
  scripts/check_doc_cli_flags.py
  scripts/check_doc_links.py
  scripts/check_skill_markers.py
  scripts/doc_allowlist.toml
  scripts/doc_forbidden.toml
  tests/test_check_skill_markers.py
Due: python-syntax

style(scripts): drop dead f-string prefix in render_skill_graph
  scripts/render_skill_graph.py
Due: python-syntax

style(scripts): drop dead f-string prefix in render_skill_graph (#309)
  scripts/render_skill_graph.py
Due: python-syntax

docs(readme): refresh Key Features to reflect current capabilities
  README.md
Due: none

docs(readme): add Tailscale operator-access bullet to Key Features
  README.md
Due: none

docs(readme): mark Tailscale integration as optional
  README.md
Due: none

docs(readme): refresh Key Features to reflect current capabilities (#310)
  README.md
Due: none

feat(preview): silent-retry + waiting-room for app-restart case
  cli/src/safeyolo/preview.py
  cli/tests/test_agent_preview.py
Due: python-syntax

fix(platform): probe port-forward peer to catch lazy ECONNREFUSED
  cli/src/safeyolo/platform/linux.py
Due: python-syntax

fix(preview): catch lazy EOF-before-headers, cover macOS restart case
  cli/src/safeyolo/platform/linux.py
  cli/src/safeyolo/preview.py
  cli/tests/test_agent_preview.py
Due: python-syntax

fix(preview): waiting-room countdown was oscillating (nested retry + meta-refresh)
  cli/src/safeyolo/preview.py
  cli/tests/test_agent_preview.py
Due: python-syntax

test(preview): invariant regression guards for live-caught bugs
  cli/tests/test_agent_preview.py
Due: python-syntax

refactor(preview): rename waiting-room timeout → heartbeat
  cli/src/safeyolo/preview.py
  cli/tests/test_agent_preview.py
Due: python-syntax

feat(preview): silent-retry + waiting-room for app-restart case (#311)
  cli/src/safeyolo/preview.py
  cli/tests/test_agent_preview.py
Due: python-syntax

docs(readme): rewrite intro to lead with the value pitch
  README.md
Due: none

docs(networking): rewrite intro paragraph to reference use, drop symptom framing
  docs/networking-vsock-uds.md
Due: none

docs(templates): add PR template and align issue template
  .github/ISSUE_TEMPLATE/observation.yml
  .github/pull_request_template.md
Due: none

security(deps): bump cryptography to 50.0.0, pyasn1 to 0.6.4
  pyproject.toml
  uv.lock
Due: uv-lock-check

quality(codeql): silence unused-global and empty-except notes
  cli/src/safeyolo/preview.py
  scripts/_doc_config.py
Due: python-syntax

feat(gateway): external credential providers with approval-gated secret injection
  cli/src/safeyolo/agent_context/skills/safeyolo/references/agent-api.md
  cli/src/safeyolo/commands/watch.py
  cli/src/safeyolo/core/credential_provider.py
  cli/src/safeyolo/core/providers/__init__.py
  cli/src/safeyolo/core/providers/local.py
  cli/src/safeyolo/core/providers/onepassword.py
  cli/src/safeyolo/core/service_loader.py
  cli/src/safeyolo/mitm_addons/service_gateway.py
  cli/src/safeyolo/policy/compiler.py
  config/services/github.yaml
  guest/rootfs-customize-hook.sh
  guest/rootfs/git-credential-safeyolo
  tests/test_credential_provider.py
  tests/test_git_credential_helper.py
  tests/test_policy_compiler.py
  tests/test_service_gateway.py
  tests/test_service_gateway_basic_auth.py
  tests/test_service_gateway_github.py
Due: python-syntax

Path conditions:
  python-syntax: any of: \.py$
  uv-lock-check: any of: ^pyproject\.toml$
