Repository craigbalding/safeyolo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax, uv-lock-check

python-syntax:
  name: Python syntax check
  entry: python3 -m py_compile
  language: system
  pass_filenames: true

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

fix(coord): MCP v2 API + bob's patch-round findings #15 and #17
  cli/src/safeyolo/commands/coord.py
  cli/src/safeyolo/coord/api.py
  cli/src/safeyolo/mitm_addons/agent_api.py
  cli/tests/test_coord_v0.py
  contrib/safeyolo-coord-mcp.py
  coord-stage0-test-report.md
  tests/test_agent_api_coord.py
Due: python-syntax

fix(coord): bob's patch-round findings #18, #19, #21
  cli/src/safeyolo/coord/api.py
  cli/src/safeyolo/mitm_addons/agent_api.py
  cli/tests/test_coord_v0.py
  tests/test_agent_api_coord.py
Due: python-syntax

fix(coord): codex fresh-eye findings — scan_since, content_type, surrogate, instance race
  cli/src/safeyolo/coord/api.py
  cli/src/safeyolo/coord/envelope.py
  cli/src/safeyolo/coord/identity.py
  cli/src/safeyolo/mitm_addons/agent_api.py
  cli/tests/test_coord_v0.py
Due: python-syntax

docs(coord): document split-pane workflow for live chat scrolling
  cli/src/safeyolo/commands/coord.py
Due: python-syntax

docs(coord): stage-0 test report update (agents bob + codex)
  coord-stage0-test-report.md
Due: none

fix(coord): #20 collapse room enumeration oracle
  cli/src/safeyolo/coord/api.py
  cli/src/safeyolo/mitm_addons/agent_api.py
  cli/tests/test_coord_v0.py
  tests/test_agent_api_coord.py
Due: python-syntax

fix(coord): #22 sender_agent_name in envelope + /members roster
  cli/src/safeyolo/commands/coord.py
  cli/src/safeyolo/coord/api.py
  cli/src/safeyolo/coord/envelope.py
  cli/src/safeyolo/coord/store.py
  cli/src/safeyolo/mitm_addons/agent_api.py
  cli/tests/test_coord_v0.py
  tests/test_agent_api_coord.py
Due: python-syntax

fix(coord): #23 backfill sender_agent_name + attention-hygiene doc
  cli/src/safeyolo/coord/envelope.py
  cli/src/safeyolo/coord/store.py
  cli/tests/test_coord_v0.py
  coord-stage0-test-report.md
  docs/coord-wake-test.md
Due: python-syntax

feat(coord): SafeYolo-managed NATS runtime (stage 1)
  cli/src/safeyolo/coord/nats_runtime.py
  pyproject.toml
  uv.lock
Due: python-syntax, uv-lock-check

fix(coord): NATS runtime hardening (reviewer pass)
  cli/src/safeyolo/coord/nats_runtime.py
  cli/tests/test_coord_nats_runtime.py
  pyproject.toml
  uv.lock
Due: python-syntax, uv-lock-check

test(coord): adversarial NATS lifecycle tests + supporting fixes
  cli/src/safeyolo/coord/nats_runtime.py
  cli/tests/test_coord_nats_runtime.py
Due: python-syntax

fix(coord): NATS runtime hardening pass 2
  cli/src/safeyolo/coord/nats_runtime.py
  cli/tests/test_coord_nats_runtime.py
Due: python-syntax

feat(credentials): add shared provider catalogue
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-credential-guard.yaml
  cli/src/safeyolo/commands/demo.py
  cli/src/safeyolo/core/sensor_utils.py
  cli/src/safeyolo/detection/__init__.py
  cli/src/safeyolo/detection/credential_catalog.py
  cli/src/safeyolo/detection/credentials.py
  cli/src/safeyolo/detection/patterns.py
  cli/src/safeyolo/mitm_addons/credential_guard.py
  cli/src/safeyolo/mitm_addons/pattern_scanner.py
  cli/src/safeyolo/templates/addons.yaml
  cli/src/safeyolo/templates/policy.toml
  cli/src/safeyolo/templates/policy.yaml
  config/addons.yaml
  config/policy.yaml
  pdp/core.py
  pdp/schemas.py
  tests/blackbox/host/conftest.py
  tests/test_credential_catalog.py
  tests/test_credential_guard.py
  tests/test_pattern_scanner.py
  tests/test_pdp_core.py
  tests/test_pdp_schemas.py
  tests/test_plumb_service.py
  tests/test_sensor_utils.py
  tests/test_shipped_security_config.py
Due: python-syntax

docs: refresh credential guard triage graph
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-credential-guard.mmd
Due: none

feat(coord): NATS client + JetStream primitives (stage 1)
  cli/src/safeyolo/coord/nats_client.py
  cli/tests/conftest.py
  cli/tests/test_coord_nats_runtime.py
Due: python-syntax

feat(credentials): unify provider catalogue and routing (#376)
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-credential-guard.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-credential-guard.yaml
  cli/src/safeyolo/commands/demo.py
  cli/src/safeyolo/core/sensor_utils.py
  cli/src/safeyolo/detection/__init__.py
  cli/src/safeyolo/detection/credential_catalog.py
  cli/src/safeyolo/detection/credentials.py
  cli/src/safeyolo/detection/patterns.py
  cli/src/safeyolo/mitm_addons/credential_guard.py
  cli/src/safeyolo/mitm_addons/pattern_scanner.py
  cli/src/safeyolo/templates/addons.yaml
  cli/src/safeyolo/templates/policy.toml
  cli/src/safeyolo/templates/policy.yaml
  config/addons.yaml
  config/policy.yaml
  pdp/core.py
  pdp/schemas.py
  tests/blackbox/host/conftest.py
  tests/test_credential_catalog.py
  tests/test_credential_guard.py
  tests/test_pattern_scanner.py
  tests/test_pdp_core.py
  tests/test_pdp_schemas.py
  tests/test_plumb_service.py
  tests/test_sensor_utils.py
  tests/test_shipped_security_config.py
Due: python-syntax

feat(coord): swap message storage to JetStream (stage 1)
  cli/src/safeyolo/commands/coord.py
  cli/src/safeyolo/coord/api.py
  cli/src/safeyolo/coord/nats_client.py
  cli/src/safeyolo/coord/store.py
  cli/src/safeyolo/mitm_addons/agent_api.py
  cli/tests/test_coord_v0.py
  tests/conftest.py
  tests/test_agent_api_coord.py
Due: python-syntax

test(coord): reviewer's stage-1 acceptance tests + fixes
  cli/src/safeyolo/coord/api.py
  cli/src/safeyolo/coord/nats_client.py
  cli/tests/test_coord_jetstream_acceptance.py
Due: python-syntax

Rework blackbox runtime lanes
  .github/workflows/blackbox.yml
  .gitignore
  cli/src/safeyolo/commands/bootstrap.py
  cli/src/safeyolo/commands/doctor.py
  cli/src/safeyolo/commands/setup.py
  cli/src/safeyolo/platform/linux.py
  cli/tests/test_linux_platform_selection.py
  docs/blackbox-coverage.md
  docs/security-testing-design.md
  tests/blackbox/README.md
  tests/blackbox/assert-platform.py
  tests/blackbox/harness/base.py
  tests/blackbox/harness/linux.py
  tests/blackbox/harness/macos.py
  tests/blackbox/isolation/test_root_containment.py
  tests/blackbox/isolation/test_vm_isolation.py
  tests/blackbox/run-lane.sh
  tests/blackbox/run-tests.sh
  tests/test_blackbox_platform_assertion.py
Due: python-syntax

fix(coord): nats_client round-3 hardening (reviewer pass)
  cli/src/safeyolo/coord/nats_client.py
  cli/tests/test_coord_jetstream_acceptance.py
  tests/test_agent_api_coord.py
Due: python-syntax

Fix macOS proxy startup DNS stall
  cli/src/safeyolo/mitm_addons/admin_api.py
  cli/src/safeyolo/proxy.py
  cli/tests/test_proxy.py
  tests/test_admin_api.py
Due: python-syntax

Isolate blackbox test certificates and state
  tests/blackbox/README.md
  tests/blackbox/certs/README.md
  tests/blackbox/certs/generate-certs.sh
  tests/blackbox/run-tests.sh
Due: none

feat(coord): wire NATS into safeyolo lifecycle + round-4 fixes
  cli/src/safeyolo/commands/coord.py
  cli/src/safeyolo/commands/doctor.py
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/coord/api.py
  cli/src/safeyolo/coord/nats_client.py
  cli/src/safeyolo/coord/nats_runtime.py
  cli/tests/test_coord_jetstream_acceptance.py
  cli/tests/test_coord_nats_runtime.py
Due: python-syntax

Fix macOS blackbox sinkhole startup stall
  tests/blackbox/certs/generate-certs.sh
  tests/blackbox/sinkhole/server.py
  tests/test_blackbox_sinkhole.py
Due: python-syntax

Isolate blackbox web listener port
  tests/blackbox/README.md
  tests/blackbox/run-tests.sh
  tests/test_blackbox_harness.py
Due: python-syntax

Fix macOS guest-root blackbox coverage
  cli/src/safeyolo/guest-init-static.sh
  cli/src/safeyolo/snapshot.py
  cli/src/safeyolo/vm.py
  cli/tests/test_snapshot.py
  cli/tests/test_vm.py
  docs/blackbox-coverage.md
  tests/blackbox/isolation/test_key_isolation.py
  tests/blackbox/isolation/test_root_containment.py
Due: python-syntax

Provision systrap subordinate ID ranges
  .github/workflows/blackbox.yml
  cli/src/safeyolo/commands/bootstrap.py
  cli/src/safeyolo/commands/doctor.py
  cli/src/safeyolo/commands/setup.py
  cli/src/safeyolo/platform/linux.py
  cli/tests/test_bootstrap_package_manager.py
  cli/tests/test_linux_platform_selection.py
Due: python-syntax

Capture gVisor blackbox startup diagnostics
  .github/workflows/blackbox.yml
Due: none

Canonicalize Linux rootfs for gVisor
  cli/src/safeyolo/platform/linux.py
  cli/tests/test_linux_platform_oci.py
Due: python-syntax

Align isolation probes with current gVisor
  tests/blackbox/isolation/test_vm_isolation.py
Due: python-syntax

Validate gVisor virtual device aliases
  tests/blackbox/isolation/test_vm_isolation.py
Due: python-syntax

Distinguish dangling gVisor device aliases
  tests/blackbox/isolation/test_vm_isolation.py
Due: python-syntax

fix(coord): UTF-8 body + missing-stream detection + status/timeout follow-ups
  cli/src/safeyolo/commands/doctor.py
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/coord/nats_client.py
  cli/src/safeyolo/coord/nats_runtime.py
  cli/tests/test_coord_jetstream_acceptance.py
  cli/tests/test_coord_nats_runtime.py
Due: python-syntax

Prepare KVM blackbox operator access
  tests/blackbox/README.md
  tests/blackbox/run-lane.sh
  tests/test_blackbox_harness.py
Due: python-syntax

fix(coord): atomic instance_id write closes fast-path visibility race
  cli/src/safeyolo/coord/identity.py
  cli/tests/test_coord_v0.py
Due: python-syntax

Regenerate blackbox coverage docs
  docs/blackbox-coverage.md
Due: none

Document resolver-independent admin bind
  SECURITY.md
  docs/security-verification.md
Due: none

fix(coord): round-6 pre-dogfood tidy
  cli/src/safeyolo/commands/doctor.py
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/coord/nats_client.py
  cli/src/safeyolo/coord/nats_runtime.py
  cli/src/safeyolo/mitm_addons/agent_api.py
  cli/tests/test_coord_jetstream_acceptance.py
  tests/test_agent_api_coord.py
Due: python-syntax

Restore blackbox coverage for current sandbox runtimes (#377)
  .github/workflows/blackbox.yml
  .gitignore
  SECURITY.md
  cli/src/safeyolo/commands/bootstrap.py
  cli/src/safeyolo/commands/doctor.py
  cli/src/safeyolo/commands/setup.py
  cli/src/safeyolo/guest-init-static.sh
  cli/src/safeyolo/mitm_addons/admin_api.py
  cli/src/safeyolo/platform/linux.py
  cli/src/safeyolo/proxy.py
  cli/src/safeyolo/snapshot.py
  cli/src/safeyolo/vm.py
  cli/tests/test_bootstrap_package_manager.py
  cli/tests/test_linux_platform_oci.py
  cli/tests/test_linux_platform_selection.py
  cli/tests/test_proxy.py
  cli/tests/test_snapshot.py
  cli/tests/test_vm.py
  docs/blackbox-coverage.md
  docs/security-testing-design.md
  docs/security-verification.md
  tests/blackbox/README.md
  tests/blackbox/assert-platform.py
  tests/blackbox/certs/README.md
  tests/blackbox/certs/generate-certs.sh
  tests/blackbox/harness/base.py
  tests/blackbox/harness/linux.py
  tests/blackbox/harness/macos.py
  tests/blackbox/isolation/test_key_isolation.py
  tests/blackbox/isolation/test_root_containment.py
  tests/blackbox/isolation/test_vm_isolation.py
  tests/blackbox/run-lane.sh
  tests/blackbox/run-tests.sh
  tests/blackbox/sinkhole/server.py
  tests/test_admin_api.py
  tests/test_blackbox_harness.py
  tests/test_blackbox_platform_assertion.py
  tests/test_blackbox_sinkhole.py
Due: python-syntax

feat(coord): host script to auto-wire the coord MCP shim into agents
  contrib/coord-mcp-bootstrap.sh
Due: none

Path conditions:
  python-syntax: any of: \.py$
  uv-lock-check: any of: ^pyproject\.toml$
