Repository craigbalding/safeyolo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax, uv-lock-check

.pre-commit-config.yaml:

# Pre-commit hooks - mirrors CI checks to catch issues before push
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Ruff - linting and import sorting (same as CI)
  # Keep version in sync with requirements/dev.txt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi]

  # Python syntax check (same as CI py_compile step)
  - repo: local
    hooks:
      - id: python-syntax
        name: Python syntax check
        entry: python3 -m py_compile
        language: system
        types: [python]
        pass_filenames: true

  # uv lockfile check - ensures uv.lock matches pyproject.toml
  - repo: local
    hooks:
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-merge-conflict
      - id: detect-private-key

Supervise configured commands on detached agent runs
  cli/src/safeyolo/commands/agent.py
Due: python-syntax

Refresh supervision acceptance assurance
  cli/tests/test_agent_command_supervisor.py
  tests/assurance.toml
Due: python-syntax

Harden detached command ownership and recovery
  cli/src/safeyolo/agent_command_supervisor.py
  cli/src/safeyolo/agent_diag.py
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/config.py
  cli/src/safeyolo/guest-command-supervisor.py
  cli/src/safeyolo/guest-init-per-run.sh
  cli/src/safeyolo/guest-init-static.sh
  cli/src/safeyolo/vm.py
  cli/tests/test_agent_command_supervisor.py
  contrib/HOST_SCRIPT_GUIDE.md
  contrib/README.md
Due: python-syntax

Keep command supervision under guest PID 1
  cli/src/safeyolo/agent_command_supervisor.py
Due: python-syntax

Exercise guest stop and checkpoint recovery paths
  cli/src/safeyolo/agent_command_supervisor.py
  cli/src/safeyolo/guest-command-supervisor.py
  cli/src/safeyolo/guest-init-per-run.sh
  cli/tests/test_agent_command_supervisor.py
Due: python-syntax

Isolate guest workspace in acceptance tests
  cli/tests/test_agent_command_supervisor.py
Due: python-syntax

Fix VZ guest sudo provisioning parity
  cli/tests/test_install_guest_common.py
  contrib/ROOTFS_SCRIPT_GUIDE.md
  docs/agent-debugging.md
  guest/install-guest-common.sh
Due: python-syntax

Fix CodeQL implicit string concatenation
  cli/src/safeyolo/commands/factory.py
Due: python-syntax

feat: separate flow evidence ownership from initiator
  cli/src/safeyolo/agent_context/skills/safeyolo/references/agent-api.md
  cli/src/safeyolo/core/audit_schema.py
  cli/src/safeyolo/core/base.py
  cli/src/safeyolo/core/identity.py
  cli/src/safeyolo/core/utils.py
  cli/src/safeyolo/mitm_addons/agent_api.py
  cli/src/safeyolo/mitm_addons/flow_recorder.py
  cli/src/safeyolo/mitm_addons/operator_provenance.py
  cli/src/safeyolo/mitm_addons/request_logger.py
  cli/src/safeyolo/mitm_addons/service_discovery.py
  cli/src/safeyolo/storage/flow_store.py
  tests/test_agent_api.py
  tests/test_agent_identity_resolution.py
  tests/test_base.py
  tests/test_flow_recorder.py
  tests/test_flow_store.py
  tests/test_request_logger.py
  tests/test_service_discovery_file.py
Due: python-syntax

fix: stabilize per-flow attribution lifecycle
  cli/src/safeyolo/agent_context/skills/safeyolo/references/agent-api.md
  cli/src/safeyolo/core/base.py
  cli/src/safeyolo/core/identity.py
  cli/src/safeyolo/mitm_addons/flow_recorder.py
  cli/src/safeyolo/mitm_addons/operator_provenance.py
  cli/src/safeyolo/mitm_addons/request_logger.py
  cli/src/safeyolo/mitm_addons/service_discovery.py
  tests/test_agent_identity_resolution.py
  tests/test_flow_recorder.py
  tests/test_request_logger.py
Due: python-syntax

fix: preserve attribution compatibility contracts
  cli/src/safeyolo/agent_context/skills/safeyolo/references/agent-api.md
  cli/src/safeyolo/core/audit_schema.py
  cli/src/safeyolo/storage/flow_store.py
  tests/test_audit_schema.py
  tests/test_flow_recorder.py
  tests/test_flow_store.py
  tests/test_request_logger.py
Due: python-syntax

fix(deps): harden HTTP/2 header validation
  install.sh
  pyproject.toml
  tests/test_http2_validation.py
  uv.lock
Due: python-syntax, uv-lock-check

test(http2): cover duplicate host rejection
  install.sh
  pyproject.toml
  tests/test_http2_validation.py
  uv.lock
Due: python-syntax, uv-lock-check

fix(install): enforce h2 in pipx fallback
  README.md
  scripts/install-mitmproxy-pipx.sh
  tests/test_http2_validation.py
Due: python-syntax

fix(guidance): route recovery through secure installers
  cli/README.md
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/proxy.py
  cli/tests/uds-networking/test_linux_new_arch.sh
  tests/test_http2_validation.py
Due: python-syntax

Harden pattern scanner URL decoding and disclosures
  cli/src/safeyolo/detection/patterns.py
  cli/src/safeyolo/mitm_addons/pattern_scanner.py
  cli/src/safeyolo/templates/addons.yaml
  docs/ADDONS.md
  tests/test_pattern_scanner.py
Due: python-syntax

fix: fail closed on oversized URL scans
  cli/src/safeyolo/mitm_addons/pattern_scanner.py
  docs/ADDONS.md
  tests/test_pattern_scanner.py
Due: python-syntax

fix: select supported Python for installer
  README.md
  cli/README.md
  cli/src/safeyolo/proxy.py
  install.sh
  tests/test_install_sh.py
Due: python-syntax

fix: keep installer arguments Bash 3.2 safe
  install.sh
  tests/test_install_sh.py
Due: python-syntax

Secure Codex agent-local authentication staging
  README.md
  SECURITY.md
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/factory.py
  cli/tests/test_commands_vm.py
  cli/tests/test_factory_contract.py
  cli/tests/test_host_setup_scripts.py
  contrib/codex-host-setup.sh
  contrib/coord-mcp-bootstrap.sh
  contrib/lib/stage-codex-state.py
  docs/codex-coord-supervisor.md
  docs/factories.md
  pyproject.toml
Due: python-syntax, uv-lock-check

Fix Codex TOML round-trip and device login recovery
  README.md
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/factory.py
  cli/tests/test_factory_contract.py
  cli/tests/test_host_setup_scripts.py
  contrib/coord-mcp-bootstrap.sh
  contrib/lib/stage-codex-state.py
  docs/factories.md
Due: python-syntax

Harden Codex setup recovery and factory startup
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/factory.py
  cli/tests/test_commands_vm.py
  cli/tests/test_factory_contract.py
  cli/tests/test_host_setup_scripts.py
  contrib/codex-host-setup.sh
  contrib/coord-mcp-bootstrap.sh
  contrib/lib/stage-codex-state.py
  tests/assurance.toml
Due: python-syntax

Reject unsafe Codex setup parent paths
  cli/src/safeyolo/commands/agent.py
  cli/tests/test_commands_vm.py
Due: python-syntax

fix: close setup directory descriptor unconditionally
  cli/src/safeyolo/commands/agent.py
Due: python-syntax

fix: close setup lock descriptors on every path
  cli/src/safeyolo/commands/agent.py
  cli/tests/test_commands_vm.py
Due: python-syntax

Secure Codex agent-local authentication staging (#569)
  README.md
  SECURITY.md
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/factory.py
  cli/tests/test_commands_vm.py
  cli/tests/test_factory_contract.py
  cli/tests/test_host_setup_scripts.py
  contrib/codex-host-setup.sh
  contrib/coord-mcp-bootstrap.sh
  contrib/lib/stage-codex-state.py
  docs/codex-coord-supervisor.md
  docs/factories.md
  pyproject.toml
  tests/assurance.toml
Due: python-syntax, uv-lock-check

Publish Pi launcher atomically
  cli/tests/test_host_setup_scripts.py
  contrib/pi-host-setup.sh
Due: python-syntax

Update Pi integration to eligible release
  cli/tests/test_host_setup_scripts.py
  contrib/README.md
  contrib/pi-host-setup.sh
Due: python-syntax

Fix Pi package integrity verification
  cli/tests/test_host_setup_scripts.py
  contrib/pi-host-setup.sh
Due: python-syntax

Track current Pi coding-agent release
  cli/tests/test_host_setup_scripts.py
  contrib/README.md
  contrib/pi-host-setup.sh
Due: python-syntax

Add first-party Pi coding agent host setup
  cli/src/safeyolo/commands/agent.py
  cli/tests/test_host_setup_scripts.py
  contrib/HOST_SCRIPT_GUIDE.md
  contrib/README.md
  contrib/lib/stage-safeyolo-context.sh
  contrib/pi-host-setup.sh
  pyproject.toml
Due: python-syntax, uv-lock-check

Add first-party Pi coding-agent host setup (#571)
  cli/src/safeyolo/commands/agent.py
  cli/tests/test_host_setup_scripts.py
  contrib/HOST_SCRIPT_GUIDE.md
  contrib/README.md
  contrib/lib/stage-safeyolo-context.sh
  contrib/pi-host-setup.sh
  pyproject.toml
Due: python-syntax, uv-lock-check

Add trusted SafeYolo acceptance graph
  cli/src/safeyolo/agent_context/skills/safeyolo-factory/SKILL.md
  cli/src/safeyolo/agent_context/skills/safeyolo/SKILL.md
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.yaml
  cli/src/safeyolo/factory_doctor.py
  cli/tests/test_factory_contract.py
  cli/tests/test_host_setup_scripts.py
  docs/agent-roles/independent-reviewer.md
  docs/factories/backlog-coordinator.md
Due: python-syntax

Keep repository maps compact by default
  cli/src/safeyolo/repo_map.py
  cli/tests/test_repo_map.py
Due: python-syntax

fix: harden supervised factory startup
  cli/src/safeyolo/agent_command_supervisor.py
  cli/src/safeyolo/agent_context/skills/safeyolo/SKILL.md
  cli/src/safeyolo/factory_doctor.py
  cli/tests/test_agent_command_supervisor.py
  cli/tests/test_factory_doctor.py
  cli/tests/test_host_setup_scripts.py
  contrib/codex-host-setup.sh
  docs/AGENTS.md
Due: python-syntax

Stop forcing SafeYolo skill on factory turns
  cli/tests/test_codex_coord_supervisor.py
  contrib/codex-coord-supervisor.py
Due: python-syntax

Avoid routine factory skill reloads
  cli/src/safeyolo/agent_context/skills/safeyolo/SKILL.md
  docs/AGENTS.md
Due: none

Improve repo-map queries and agent activity output
  cli/src/safeyolo/repo_map.py
  cli/tests/test_repo_map.py
  cli/tests/test_watch_agent_room.py
  contrib/watch-agent-room.py
Due: python-syntax

Document compact repository map scopes
  docs/AGENTS.md
Due: none
