Repository craigbalding/safeyolo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax, uv-lock-check

.pre-commit-config.yaml:

# Pre-commit hooks - mirrors CI checks to catch issues before push
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Ruff - linting and import sorting (same as CI)
  # Keep version in sync with requirements/dev.txt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi]

  # Python syntax check (same as CI py_compile step)
  - repo: local
    hooks:
      - id: python-syntax
        name: Python syntax check
        entry: python3 -m py_compile
        language: system
        types: [python]
        pass_filenames: true

  # uv lockfile check - ensures uv.lock matches pyproject.toml
  - repo: local
    hooks:
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-merge-conflict
      - id: detect-private-key

Scope macOS package minima to deployment load commands (#918)
  scripts/build_host_packages.py
  tests/test_host_packages.py
Due: python-syntax

Find draft host package releases before publication retry
  scripts/publish_host_packages.py
  tests/test_host_package_publication.py
Due: python-syntax

Find draft host package releases before publication retry (#919)
  scripts/publish_host_packages.py
  tests/test_host_package_publication.py
Due: python-syntax

Clarify independent hardware deployment and its teardown gap
  tests/blackbox/hardware/README.md
Due: none

Use readable UTC titles for master host package releases
  scripts/publish_host_packages.py
  tests/test_host_package_publication.py
Due: python-syntax

Use readable UTC titles for master host package releases (#922)
  scripts/publish_host_packages.py
  tests/test_host_package_publication.py
Due: python-syntax

Stop maintained installed work on normal cancellation
  tests/blackbox/hardware/README.md
  tests/blackbox/installed_sections.py
  tests/test_blackbox_harness.py
  tests/test_installed_staging.py
Due: python-syntax

Reuse the VZ fixture port after the foreign-listener control
  tests/test_blackbox_harness.py
Due: python-syntax

docs: make host downloads the normal installation path
  README.md
  cli/README.md
  docs/host-packages.md
Due: none

docs: make host downloads the normal installation path (#923)
  README.md
  cli/README.md
  docs/host-packages.md
Due: none

Preserve hardware integration and remove unused paired deployment
  scripts/check_blackbox_cadence.py
  tests/blackbox/hardware/README.md
  tests/blackbox/hardware/build_inputs.py
  tests/blackbox/hardware/deployment.example.json
  tests/blackbox/hardware/install_schedule.py
  tests/blackbox/hardware/kvm_host.py
  tests/blackbox/hardware/mac_host.py
  tests/blackbox/hardware/paired.py
  tests/blackbox/hardware/publish_results.py
  tests/blackbox/hardware/service_calls.py
  tests/test_blackbox_cadence_contract.py
  tests/test_hardware_attempt_results.py
  tests/test_hardware_execution.py
Due: python-syntax

Integrate accepted installed Linux rootfs support (#865)
  cli/src/safeyolo/vm.py
  cli/tests/test_installed_rootfs_script.py
  contrib/ROOTFS_SCRIPT_GUIDE.md
  pyproject.toml
Due: python-syntax, uv-lock-check

Keep rootfs support validation and native use in the Linux branch
  cli/src/safeyolo/vm.py
Due: python-syntax

Integrate installed Linux rootfs support on master (#865) (#924)
  cli/src/safeyolo/vm.py
  cli/tests/test_installed_rootfs_script.py
  contrib/ROOTFS_SCRIPT_GUIDE.md
  pyproject.toml
Due: python-syntax, uv-lock-check

Integrate accepted traffic previews and content rendering
  cli/src/safeyolo/api.py
  cli/src/safeyolo/traffic_inspector.py
  cli/tests/test_traffic_inspector.py
  docs/DEVELOPERS.md
  proxy/src/admin_api/traffic.rs
  proxy/src/admin_api/traffic/tests.rs
  proxy/src/traffic_view.rs
  pyproject.toml
  uv.lock
Due: python-syntax, uv-lock-check

Clarify that preview rendering preserves existing export output
  docs/DEVELOPERS.md
Due: none

Integrate accepted traffic body previews and rendering (#925)
  cli/src/safeyolo/api.py
  cli/src/safeyolo/traffic_inspector.py
  cli/tests/test_traffic_inspector.py
  docs/DEVELOPERS.md
  proxy/src/admin_api/traffic.rs
  proxy/src/admin_api/traffic/tests.rs
  proxy/src/traffic_view.rs
  pyproject.toml
  uv.lock
Due: python-syntax, uv-lock-check

Add installed native policy commands and transactional activation
  .github/workflows/proxy-rust.yml
  docs/native-policy.md
  proxy/Cargo.toml
  proxy/config/native/config.toml
  proxy/config/native/policy.toml
  proxy/src/admin_api.rs
  proxy/src/admin_api/audit_events.rs
  proxy/src/admin_listener.rs
  proxy/src/approvals.rs
  proxy/src/bin/safeyolo.rs
  proxy/src/config.rs
  proxy/src/grants.rs
  proxy/src/lib.rs
  proxy/src/main.rs
  proxy/src/native_config.rs
  proxy/src/native_config_tests.rs
  proxy/src/policy.rs
  proxy/src/policy/expiry.rs
  proxy/src/policy/native.rs
  proxy/src/policy/watch.rs
  proxy/src/policy_runtime.rs
  proxy/tests/approval_audit_delivery.rs
  proxy/tests/coord_state_cross_version.rs
  proxy/tests/coord_wait_shutdown.rs
  proxy/tests/credential_http.rs
  proxy/tests/gateway_contract_workflow.rs
  proxy/tests/gateway_workflow.rs
  proxy/tests/plumb_client_workflow.rs
  proxy/tests/transport.rs
  scripts/install_native.sh
  tests/proxy_contracts/test_native_policy_cli.py
Due: python-syntax

Preserve live policy on rejected apply and report active list inputs
  docs/native-policy.md
  proxy/src/approvals.rs
  proxy/src/grants.rs
  proxy/src/lib.rs
  proxy/src/policy.rs
  proxy/src/policy/native.rs
  proxy/src/policy/watch.rs
  tests/proxy_contracts/test_native_policy_cli.py
Due: python-syntax

Preserve saved list observations during native policy rollback
  proxy/src/approvals.rs
  proxy/src/lib.rs
  proxy/src/policy/watch.rs
  proxy/src/policy/watch/tests.rs
  tests/proxy_contracts/test_native_policy_cli.py
Due: python-syntax

Add installed native policy check, show and apply (#926)
  .github/workflows/proxy-rust.yml
  docs/native-policy.md
  proxy/Cargo.toml
  proxy/config/native/config.toml
  proxy/config/native/policy.toml
  proxy/src/admin_api.rs
  proxy/src/admin_api/audit_events.rs
  proxy/src/admin_listener.rs
  proxy/src/approvals.rs
  proxy/src/bin/safeyolo.rs
  proxy/src/config.rs
  proxy/src/grants.rs
  proxy/src/lib.rs
  proxy/src/main.rs
  proxy/src/native_config.rs
  proxy/src/native_config_tests.rs
  proxy/src/policy.rs
  proxy/src/policy/expiry.rs
  proxy/src/policy/native.rs
  proxy/src/policy/watch.rs
  proxy/src/policy/watch/tests.rs
  proxy/src/policy_runtime.rs
  proxy/tests/approval_audit_delivery.rs
  proxy/tests/coord_state_cross_version.rs
  proxy/tests/coord_wait_shutdown.rs
  proxy/tests/credential_http.rs
  proxy/tests/gateway_contract_workflow.rs
  proxy/tests/gateway_workflow.rs
  proxy/tests/plumb_client_workflow.rs
  proxy/tests/transport.rs
  scripts/install_native.sh
  tests/proxy_contracts/test_native_policy_cli.py
Due: python-syntax

Run independent hardware blackbox lanes with owned cleanup and publication
  docs/security-testing-design.md
  scripts/check_blackbox_cadence.py
  tests/blackbox/README.md
  tests/blackbox/hardware/INPUTS.md
  tests/blackbox/hardware/README.md
  tests/blackbox/hardware/attempt_results.py
  tests/blackbox/hardware/publish_results.py
  tests/blackbox/hardware/run-kvm.sh
  tests/blackbox/hardware/run-vz.sh
  tests/blackbox/hardware/service_calls.py
  tests/blackbox/harness/macos_process_argv.py
  tests/test_blackbox_cadence_contract.py
  tests/test_hardware_shell.py
Due: python-syntax

Integrate existing live traffic tail onto master
  cli/src/safeyolo/traffic_inspector.py
  cli/tests/test_traffic_inspector.py
  docs/DEVELOPERS.md
Due: python-syntax

Integrate existing live traffic tail into master (#860) (#927)
  cli/src/safeyolo/traffic_inspector.py
  cli/tests/test_traffic_inspector.py
  docs/DEVELOPERS.md
Due: python-syntax

Complete native settings, policy controls and test context for #816
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/test_context.py
  cli/tests/test_test_context_cli.py
  docs/ADDONS.md
  docs/native-policy.md
  docs/native-settings.md
  docs/proxy-cutover-deletion-map.md
  proxy/src/admin_listener.rs
  proxy/src/agent_api.rs
  proxy/src/audit/envelope.rs
  proxy/src/audit/writer.rs
  proxy/src/bin/safeyolo.rs
  proxy/src/command_centre.rs
  proxy/src/config.rs
  proxy/src/flow_recorder.rs
  proxy/src/flow_recorder/tests.rs
  proxy/src/host_lifecycle.rs
  proxy/src/http.rs
  proxy/src/http/flow_recording/tests.rs
  proxy/src/lib.rs
  proxy/src/main.rs
  proxy/src/native_config.rs
  proxy/src/network_guard.rs
  proxy/src/operator_stats.rs
  proxy/src/policy.rs
  proxy/src/policy/native.rs
  proxy/src/test_context.rs
  proxy/tests/approval_audit_delivery.rs
  proxy/tests/command_centre_lifecycle.rs
  proxy/tests/coord_state_cross_version.rs
  proxy/tests/coord_wait_shutdown.rs
  proxy/tests/credential_http.rs
  proxy/tests/gateway_contract_workflow.rs
  proxy/tests/gateway_workflow.rs
  proxy/tests/plumb_client_workflow.rs
  proxy/tests/transport.rs
  scripts/doc_allowlist.toml
  tests/proxy_contracts/test_native_policy_cli.py
Due: python-syntax

Fix capture settings regression assertion types
  proxy/src/native_config.rs
Due: none

Cover native control flags and retain signed circuit inputs
  proxy/src/policy/native.rs
Due: none

Run bound native policy cases in focused Ubuntu checks
  .github/workflows/proxy-rust.yml
  tests/proxy_contracts/test_native_policy_cli.py
  tests/test_proxy_rust_ci_events.py
Due: python-syntax

Complete native policy settings and test context (#928)
  .github/workflows/proxy-rust.yml
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/test_context.py
  cli/tests/test_test_context_cli.py
  docs/ADDONS.md
  docs/native-policy.md
  docs/native-settings.md
  docs/proxy-cutover-deletion-map.md
  proxy/src/admin_listener.rs
  proxy/src/agent_api.rs
  proxy/src/audit/envelope.rs
  proxy/src/audit/writer.rs
  proxy/src/bin/safeyolo.rs
  proxy/src/command_centre.rs
  proxy/src/config.rs
  proxy/src/flow_recorder.rs
  proxy/src/flow_recorder/tests.rs
  proxy/src/host_lifecycle.rs
  proxy/src/http.rs
  proxy/src/http/flow_recording/tests.rs
  proxy/src/lib.rs
  proxy/src/main.rs
  proxy/src/native_config.rs
  proxy/src/network_guard.rs
  proxy/src/operator_stats.rs
  proxy/src/policy.rs
  proxy/src/policy/native.rs
  proxy/src/test_context.rs
  proxy/tests/approval_audit_delivery.rs
  proxy/tests/command_centre_lifecycle.rs
  proxy/tests/coord_state_cross_version.rs
  proxy/tests/coord_wait_shutdown.rs
  proxy/tests/credential_http.rs
  proxy/tests/gateway_contract_workflow.rs
  proxy/tests/gateway_workflow.rs
  proxy/tests/plumb_client_workflow.rs
  proxy/tests/transport.rs
  scripts/doc_allowlist.toml
  tests/proxy_contracts/test_native_policy_cli.py
  tests/test_proxy_rust_ci_events.py
Due: python-syntax

Bind Commander terminal discovery to the native instance installation
  command-centre/macos/Sources/Client.swift
  command-centre/macos/Sources/Connection.swift
  command-centre/macos/Sources/Controller.swift
  command-centre/macos/Sources/Models.swift
  command-centre/macos/Tests/ModelTests.swift
  proxy/src/admin_api.rs
  proxy/src/command_centre.rs
  proxy/src/config.rs
  proxy/src/native_config.rs
  proxy/tests/approval_audit_delivery.rs
  proxy/tests/command_centre_installed.rs
  proxy/tests/coord_state_cross_version.rs
  proxy/tests/coord_wait_shutdown.rs
  proxy/tests/credential_http.rs
  proxy/tests/gateway_contract_workflow.rs
  proxy/tests/gateway_workflow.rs
  proxy/tests/native_host_identity.rs
  proxy/tests/plumb_client_workflow.rs
  proxy/tests/transport.rs
Due: none

Keep guest prerequisite focused on Rust build and installed proof
  .github/workflows/host-packages.yml
  scripts/build_host_packages.py
  scripts/verify_host_package.py
  tests/test_host_packages.py
Due: python-syntax

test: isolate guest helper input for token staging
  cli/tests/test_rust_proxy.py
Due: python-syntax

Preserve guest process identities and literal argv bytes
  cli/tests/test_vm_recovery_recipe.py
  guest/command/src/main.rs
  guest/command/src/observation.rs
  guest/command/src/supervision.rs
  guest/command/tests/commands.rs
  proxy/src/guest_commands.rs
Due: python-syntax

Prepare tmux and use short paths for Mac test sockets
  .github/workflows/blackbox.yml
  cli/tests/conftest.py
  cli/tests/test_sockets.py
  cli/tests/test_vm.py
  cli/tests/test_vm_control.py
  cli/tests/test_vm_diagnostics.py
Due: python-syntax

Prepare tmux and use short paths for Mac test sockets (#930)
  .github/workflows/blackbox.yml
  cli/tests/conftest.py
  cli/tests/test_sockets.py
  cli/tests/test_vm.py
  cli/tests/test_vm_control.py
  cli/tests/test_vm_diagnostics.py
Due: python-syntax

Bind native credential seeding to the selected runtime
  .github/workflows/proxy-rust.yml
  docs/proxy-cutover-deletion-map.md
  tests/blackbox/access_setup.py
  tests/blackbox/installed_sections.py
  tests/blackbox/installed_state_transition.py
  tests/blackbox/native_credentials.py
  tests/blackbox/run-lane.sh
  tests/blackbox/run-tests.sh
  tests/test_blackbox_harness.py
Due: python-syntax

Bind package continuity CLI and reconcile affected source identities
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.yaml
  tests/blackbox/run-installed-package.sh
  tests/test_blackbox_harness.py
Due: python-syntax

Give Ubuntu overnight native tests fifteen minutes
  .github/workflows/proxy-rust.yml
  tests/test_proxy_rust_ci_events.py
  tests/test_workflow_action_pins.py
Due: python-syntax
