Repository craigbalding/safeyolo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax, uv-lock-check

python-syntax:
  name: Python syntax check
  entry: python3 -m py_compile
  language: system
  pass_filenames: true

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

feat: align `safeyolo logs` with AuditEvent contract (#85) (#86)
  audit_schema.py
  cli/src/safeyolo/commands/logs.py
  cli/tests/conftest.py
  cli/tests/test_commands.py
Due: python-syntax

feat: add token, vault, flow store, and addon loading checks to doctor
  cli/src/safeyolo/commands/doctor.py
  cli/tests/test_doctor.py
Due: python-syntax

feat: add token, vault, flow store, and addon loading checks to doctor (#87)
  cli/src/safeyolo/commands/doctor.py
  cli/tests/test_doctor.py
Due: python-syntax

feat: TOML-first policy format with tomlkit round-trip editing
  addons/policy_engine.py
  addons/policy_loader.py
  addons/toml_normalize.py
  addons/toml_roundtrip.py
  cli/README.md
  cli/pyproject.toml
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/doctor.py
  cli/src/safeyolo/commands/init.py
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/commands/policy.py
  cli/src/safeyolo/templates/agents/claude-code/instructions.md
  cli/src/safeyolo/templates/policy.toml
  cli/tests/test_migrate_policy.py
  docs/ADDONS.md
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
  docs/DEVELOPERS.md
  docs/FUTURE.md
  docs/blackbox-test-harness-implementation.md
  docs/design-api-capability-contracts.md
  docs/safeyolo-cli-design.md
  docs/service-gateway-v2-yaml-spec.md
  pyproject.toml
  scripts/start-safeyolo.sh
  tests/test_toml_normalize.py
  tests/test_toml_policy_engine.py
  tests/test_toml_policy_loader.py
  tests/test_toml_roundtrip.py
Due: python-syntax, uv-lock-check

fix: add toml_normalize and toml_roundtrip to ADDON_MODULES list
  tests/test_imports.py
Due: python-syntax

feat: TOML-first policy format with tomlkit round-trip editing (#88)
  addons/policy_engine.py
  addons/policy_loader.py
  addons/toml_normalize.py
  addons/toml_roundtrip.py
  cli/README.md
  cli/pyproject.toml
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/doctor.py
  cli/src/safeyolo/commands/init.py
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/commands/policy.py
  cli/src/safeyolo/templates/agents/claude-code/instructions.md
  cli/src/safeyolo/templates/policy.toml
  cli/tests/test_migrate_policy.py
  docs/ADDONS.md
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
  docs/DEVELOPERS.md
  docs/FUTURE.md
  docs/blackbox-test-harness-implementation.md
  docs/design-api-capability-contracts.md
  docs/safeyolo-cli-design.md
  docs/service-gateway-v2-yaml-spec.md
  pyproject.toml
  scripts/start-safeyolo.sh
  tests/test_imports.py
  tests/test_toml_normalize.py
  tests/test_toml_policy_engine.py
  tests/test_toml_policy_loader.py
  tests/test_toml_roundtrip.py
Due: python-syntax, uv-lock-check

fix: resolve 6 CodeQL alerts and 7 Dependabot vulnerabilities
  addons/admin_api.py
  addons/agent_api.py
  addons/policy_loader.py
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/watch.py
  pyproject.toml
  uv.lock
Due: python-syntax, uv-lock-check

fix: resolve 6 CodeQL alerts and 7 Dependabot vulnerabilities (#89)
  addons/admin_api.py
  addons/agent_api.py
  addons/policy_loader.py
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/watch.py
  pyproject.toml
  uv.lock
Due: python-syntax, uv-lock-check

fix: add toml modules to Dockerfile, update README tagline
  Dockerfile
  README.md
Due: none

fix: add toml modules to Dockerfile, update README tagline (#90)
  Dockerfile
  README.md
Due: none

feat: migrate agents.yaml to policy.toml and add egress control
  addons/admin_api.py
  addons/network_guard.py
  addons/policy_compiler.py
  addons/policy_engine.py
  addons/policy_loader.py
  addons/service_gateway.py
  addons/toml_roundtrip.py
  cli/src/safeyolo/agents_store.py
  cli/src/safeyolo/api.py
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/policy.py
  cli/src/safeyolo/commands/watch.py
  cli/src/safeyolo/config.py
  cli/src/safeyolo/templates/policy.toml
  cli/tests/conftest.py
  cli/tests/test_agent_authorize.py
  cli/tests/test_agent_ports.py
  cli/tests/test_agents_store.py
  cli/tests/test_doctor.py
  cli/tests/test_policy_show.py
  pdp/client.py
  pdp/core.py
  scripts/migrate_agents_yaml.py
  tests/test_admin_api.py
  tests/test_egress_control.py
  tests/test_policy_compiler.py
  tests/test_service_gateway.py
  tests/test_toml_roundtrip.py
Due: python-syntax

fix: sort imports in test_service_gateway.py
  tests/test_service_gateway.py
Due: python-syntax

fix: sanitize rate parameter in admin API log messages
  addons/admin_api.py
Due: python-syntax

feat: migrate agents.yaml to policy.toml and add egress control (#91)
  addons/admin_api.py
  addons/network_guard.py
  addons/policy_compiler.py
  addons/policy_engine.py
  addons/policy_loader.py
  addons/service_gateway.py
  addons/toml_roundtrip.py
  cli/src/safeyolo/agents_store.py
  cli/src/safeyolo/api.py
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/policy.py
  cli/src/safeyolo/commands/watch.py
  cli/src/safeyolo/config.py
  cli/src/safeyolo/templates/policy.toml
  cli/tests/conftest.py
  cli/tests/test_agent_authorize.py
  cli/tests/test_agent_ports.py
  cli/tests/test_agents_store.py
  cli/tests/test_doctor.py
  cli/tests/test_policy_show.py
  pdp/client.py
  pdp/core.py
  scripts/migrate_agents_yaml.py
  tests/test_admin_api.py
  tests/test_egress_control.py
  tests/test_policy_compiler.py
  tests/test_service_gateway.py
  tests/test_toml_roundtrip.py
Due: python-syntax

feat: named lists as a policy primitive
  Dockerfile
  addons/list_loader.py
  addons/policy_loader.py
  cli/src/safeyolo/commands/init.py
  cli/src/safeyolo/templates/lists/package-registries.txt
  cli/src/safeyolo/templates/policy.toml
  tests/test_imports.py
  tests/test_list_loader.py
Due: python-syntax

feat: named lists as a policy primitive (#92)
  Dockerfile
  addons/list_loader.py
  addons/policy_loader.py
  cli/src/safeyolo/commands/init.py
  cli/src/safeyolo/templates/lists/package-registries.txt
  cli/src/safeyolo/templates/policy.toml
  tests/test_imports.py
  tests/test_list_loader.py
Due: python-syntax

feat: add StevenBlack hosts list and hosts-file format support
  addons/list_loader.py
  cli/src/safeyolo/templates/lists/stevenblack-hosts.txt
  cli/src/safeyolo/templates/policy.toml
  tests/test_list_loader.py
Due: python-syntax

feat: add StevenBlack hosts list and hosts-file format support (#93)
  addons/list_loader.py
  cli/src/safeyolo/templates/lists/stevenblack-hosts.txt
  cli/src/safeyolo/templates/policy.toml
  tests/test_list_loader.py
Due: python-syntax

perf: three-tier permission index for O(1) host lookup
  addons/policy_engine.py
  addons/policy_loader.py
  tests/test_egress_control.py
  tests/test_list_loader.py
Due: python-syntax

perf: three-tier permission index for O(1) host lookup (#94)
  addons/policy_engine.py
  addons/policy_loader.py
  tests/test_egress_control.py
  tests/test_list_loader.py
Due: python-syntax

feat: agent-scoped egress — per-agent host entries in policy.toml
  addons/network_guard.py
  addons/policy_compiler.py
  addons/policy_engine.py
  addons/policy_loader.py
  addons/sensor_utils.py
  addons/toml_normalize.py
  pdp/core.py
  pdp/schemas.py
  tests/test_agent_scoped_egress.py
Due: python-syntax

feat: agent-scoped egress — per-agent host entries in policy.toml (#95)
  addons/network_guard.py
  addons/policy_compiler.py
  addons/policy_engine.py
  addons/policy_loader.py
  addons/sensor_utils.py
  addons/toml_normalize.py
  pdp/core.py
  pdp/schemas.py
  tests/test_agent_scoped_egress.py
Due: python-syntax

feat: watch UX enhancements — scope toggles for egress approvals
  addons/admin_api.py
  addons/policy_engine.py
  cli/src/safeyolo/api.py
  cli/src/safeyolo/commands/watch.py
  pdp/client.py
  pdp/core.py
Due: python-syntax

feat: watch UX enhancements — scope toggles for egress approvals (#96)
  addons/admin_api.py
  addons/policy_engine.py
  cli/src/safeyolo/api.py
  cli/src/safeyolo/commands/watch.py
  pdp/client.py
  pdp/core.py
Due: python-syntax

feat: agent-level egress posture — per-agent default deny/prompt
  addons/policy_compiler.py
  tests/test_agent_egress_posture.py
Due: python-syntax

fix: agent catch-all deny takes priority over proxy-wide entries
  addons/policy_engine.py
  tests/test_agent_egress_posture.py
Due: python-syntax

feat: agent-level egress posture (#97)
  addons/policy_compiler.py
  addons/policy_engine.py
  tests/test_agent_egress_posture.py
Due: python-syntax

feat: policy CLI — host, egress, and list management commands
  cli/src/safeyolo/commands/policy.py
  cli/src/safeyolo/commands/policy_egress.py
  cli/src/safeyolo/commands/policy_host.py
  cli/src/safeyolo/commands/policy_list.py
  cli/tests/test_policy_cli.py
Due: python-syntax

feat: policy CLI — host, egress, and list management commands (#98)
  cli/src/safeyolo/commands/policy.py
  cli/src/safeyolo/commands/policy_egress.py
  cli/src/safeyolo/commands/policy_host.py
  cli/src/safeyolo/commands/policy_list.py
  cli/tests/test_policy_cli.py
Due: python-syntax

fix: watch re-prompt, duplicate approvals, policy visibility, UX
  addons/agent_api.py
  addons/policy_engine.py
  addons/policy_loader.py
  cli/src/safeyolo/commands/policy_host.py
  cli/src/safeyolo/commands/watch.py
Due: python-syntax

fix: watch re-prompt, duplicate approvals, policy visibility, UX (#99)
  addons/agent_api.py
  addons/policy_engine.py
  addons/policy_loader.py
  cli/src/safeyolo/commands/policy_host.py
  cli/src/safeyolo/commands/watch.py
Due: python-syntax

refactor: rename on_unknown to unknown_creds in policy.toml
  addons/toml_normalize.py
  addons/toml_roundtrip.py
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/templates/policy.toml
  cli/tests/test_migrate_policy.py
  tests/test_toml_normalize.py
  tests/test_toml_policy_engine.py
  tests/test_toml_policy_loader.py
  tests/test_toml_roundtrip.py
Due: python-syntax

refactor: rename on_unknown to unknown_creds in policy.toml (#100)
  addons/toml_normalize.py
  addons/toml_roundtrip.py
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/templates/policy.toml
  cli/tests/test_migrate_policy.py
  tests/test_toml_normalize.py
  tests/test_toml_policy_engine.py
  tests/test_toml_policy_loader.py
  tests/test_toml_roundtrip.py
Due: python-syntax

docs: update for egress control, named lists, policy CLI, and agent-scoped egress
  cli/README.md
  docs/ADDONS.md
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
  docs/safeyolo-cli-design.md
Due: none

docs: update for egress control, named lists, policy CLI, and agent-scoped egress (#101)
  cli/README.md
  docs/ADDONS.md
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
  docs/safeyolo-cli-design.md
Due: none

fix: list_loader fails closed on missing/undefined list references
  addons/list_loader.py
  addons/policy_loader.py
  tests/test_list_loader.py
Due: python-syntax

fix: list_loader fails closed on missing/undefined list references (#102)
  addons/list_loader.py
  addons/policy_loader.py
  tests/test_list_loader.py
Due: python-syntax

fix: toml_normalize fails closed on bad input and preserves purity
  addons/toml_normalize.py
Due: python-syntax

test: rewrite test_toml_normalize for contract completeness
  addons/toml_normalize.py
  tests/test_toml_normalize.py
Due: python-syntax

Path conditions:
  python-syntax: any of: \.py$
  uv-lock-check: any of: ^pyproject\.toml$
