Repository craigbalding/safeyolo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax, uv-lock-check

python-syntax:
  name: Python syntax check
  entry: python3 -m py_compile
  language: system
  pass_filenames: true

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

fix(blackbox): install deps to /opt to avoid volume mount collision
  tests/blackbox/runner/Dockerfile
  tests/blackbox/sinkhole/Dockerfile
Due: none

fix(blackbox): install deps to /opt to avoid volume mount collision (#28)
  tests/blackbox/runner/Dockerfile
  tests/blackbox/sinkhole/Dockerfile
Due: none

deps: add uv.lock for CLI package
  .github/workflows/ci.yml
  cli/uv.lock
Due: none

deps: add uv.lock for CLI package (#29)
  .github/workflows/ci.yml
  cli/uv.lock
Due: none

build: consolidate to uv workspace with single lockfile
  config/baseline.yaml
  pyproject.toml
  tests/blackbox/docker-compose.yml
  tests/blackbox/runner/Dockerfile
  tests/blackbox/runner/pyproject.toml
  tests/blackbox/runner/uv.lock
  tests/blackbox/sinkhole/Dockerfile
  tests/blackbox/sinkhole/uv.lock
  uv.lock
Due: uv-lock-check

build: consolidate to uv workspace with single lockfile (#30)
  config/baseline.yaml
  pyproject.toml
  tests/blackbox/docker-compose.yml
  tests/blackbox/runner/Dockerfile
  tests/blackbox/runner/pyproject.toml
  tests/blackbox/runner/uv.lock
  tests/blackbox/sinkhole/Dockerfile
  tests/blackbox/sinkhole/uv.lock
  uv.lock
Due: uv-lock-check

ci: pin astral-sh/setup-uv action by hash
  .github/workflows/ci.yml
Due: none

ci: pin astral-sh/setup-uv action by hash (#31)
  .github/workflows/ci.yml
Due: none

fix: make SIGHUP handler async-signal-safe
  Dockerfile
  addons/policy_loader.py
  tests/test_policy_loader.py
Due: python-syntax

fix: make SIGHUP handler async-signal-safe (#32)
  Dockerfile
  addons/policy_loader.py
  tests/test_policy_loader.py
Due: python-syntax

feat: add isolation tests for container hardening verification
  .github/workflows/blackbox.yml
  docs/security-testing-design.md
  tests/blackbox/docker-compose.security.yml
  tests/blackbox/docker-compose.yml
  tests/blackbox/run-tests.sh
  tests/blackbox/run_tests.sh
  tests/blackbox/runner/conftest.py
  tests/blackbox/runner/test_credential_guard.py
  tests/blackbox/runner/test_key_isolation.py
  tests/blackbox/runner/test_network_guard.py
  tests/blackbox/runner/test_runtime_security.py
  tests/blackbox/runner/test_sandbox_isolation.py
Due: python-syntax

feat: add isolation tests for container hardening verification (#33)
  .github/workflows/blackbox.yml
  docs/security-testing-design.md
  tests/blackbox/docker-compose.security.yml
  tests/blackbox/docker-compose.yml
  tests/blackbox/run-tests.sh
  tests/blackbox/run_tests.sh
  tests/blackbox/runner/conftest.py
  tests/blackbox/runner/test_credential_guard.py
  tests/blackbox/runner/test_key_isolation.py
  tests/blackbox/runner/test_network_guard.py
  tests/blackbox/runner/test_runtime_security.py
  tests/blackbox/runner/test_sandbox_isolation.py
Due: python-syntax

ci: reduce CI noise and runner minutes
  .github/workflows/blackbox.yml
  .github/workflows/cflite_batch.yml
  .github/workflows/cflite_pr.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

ci: reduce CI noise and runner minutes (#34)
  .github/workflows/blackbox.yml
  .github/workflows/cflite_batch.yml
  .github/workflows/cflite_pr.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

docs: fix incorrect --sandbox flag and pin Docker images
  README.md
  cli/README.md
  cli/src/safeyolo/__init__.py
  cli/src/safeyolo/templates/agents/claude-code/Dockerfile
  cli/src/safeyolo/templates/agents/openai-codex/Dockerfile
Due: python-syntax

docs: fix incorrect --sandbox flag and pin Docker images (#36)
  README.md
  cli/README.md
  cli/src/safeyolo/__init__.py
  cli/src/safeyolo/templates/agents/claude-code/Dockerfile
  cli/src/safeyolo/templates/agents/openai-codex/Dockerfile
Due: python-syntax

docs: fix README commands and add source install option
  README.md
  cli/src/safeyolo/__init__.py
Due: python-syntax

docs: fix README commands and add source install option (#37)
  README.md
  cli/src/safeyolo/__init__.py
Due: python-syntax

feat: unified policy model for credential_rules and scan_patterns
  README.md
  SECURITY.md
  addons/credential_guard.py
  addons/detection/__init__.py
  addons/detection/credentials.py
  addons/detection/patterns.py
  addons/pattern_scanner.py
  addons/policy_engine.py
  cli/README.md
  config/baseline-extended.yaml.example
  config/baseline.yaml
  docs/ADDONS.md
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
  fuzz/pattern_scanner_fuzzer.py
  pdp/app.py
  pdp/client.py
  pdp/core.py
  scripts/generate_fingerprint.py
  tests/blackbox/docker-compose.yml
  tests/conftest.py
  tests/test_credential_guard.py
  tests/test_integration.py
  tests/test_pattern_scanner.py
Due: python-syntax

feat: unified policy model for credential_rules and scan_patterns (#38)
  README.md
  SECURITY.md
  addons/credential_guard.py
  addons/detection/__init__.py
  addons/detection/credentials.py
  addons/detection/patterns.py
  addons/pattern_scanner.py
  addons/policy_engine.py
  cli/README.md
  config/baseline-extended.yaml.example
  config/baseline.yaml
  docs/ADDONS.md
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
  fuzz/pattern_scanner_fuzzer.py
  pdp/app.py
  pdp/client.py
  pdp/core.py
  scripts/generate_fingerprint.py
  tests/blackbox/docker-compose.yml
  tests/conftest.py
  tests/test_credential_guard.py
  tests/test_integration.py
  tests/test_pattern_scanner.py
Due: python-syntax

docs: fix README commands and add source install option (#37)
  README.md
  addons/base.py
  addons/credential_guard.py
  addons/service_discovery.py
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/init.py
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/commands/tmux.py
  cli/src/safeyolo/commands/watch.py
  cli/src/safeyolo/config.py
  cli/src/safeyolo/discovery.py
  cli/src/safeyolo/docker.py
  cli/src/safeyolo/templates/__init__.py
  cli/src/safeyolo/templates/agents/claude-code/Dockerfile
  cli/src/safeyolo/templates/agents/claude-code/agent.toml
  cli/src/safeyolo/templates/agents/claude-code/docker-compose.yml.j2
  cli/src/safeyolo/templates/agents/claude-code/safeyolo-init.sh.j2
  cli/src/safeyolo/templates/agents/openai-codex/Dockerfile
  cli/src/safeyolo/templates/agents/openai-codex/agent.toml
  cli/src/safeyolo/templates/agents/openai-codex/docker-compose.yml.j2
  cli/src/safeyolo/templates/agents/openai-codex/safeyolo-init.sh.j2
  cli/src/safeyolo/templates/loader.py
  cli/tests/conftest.py
  cli/tests/test_commands.py
  cli/tests/test_config.py
  cli/tests/test_discovery.py
  cli/tests/test_lifecycle_integration.py
  cli/tests/test_templates.py
  tests/test_service_discovery.py
Due: python-syntax

docs: fix README commands and add source install option (#37) (#39)
  README.md
  addons/base.py
  addons/credential_guard.py
  addons/service_discovery.py
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/init.py
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/commands/tmux.py
  cli/src/safeyolo/commands/watch.py
  cli/src/safeyolo/config.py
  cli/src/safeyolo/discovery.py
  cli/src/safeyolo/docker.py
  cli/src/safeyolo/templates/__init__.py
  cli/src/safeyolo/templates/agents/claude-code/Dockerfile
  cli/src/safeyolo/templates/agents/claude-code/agent.toml
  cli/src/safeyolo/templates/agents/claude-code/docker-compose.yml.j2
  cli/src/safeyolo/templates/agents/claude-code/safeyolo-init.sh.j2
  cli/src/safeyolo/templates/agents/openai-codex/Dockerfile
  cli/src/safeyolo/templates/agents/openai-codex/agent.toml
  cli/src/safeyolo/templates/agents/openai-codex/docker-compose.yml.j2
  cli/src/safeyolo/templates/agents/openai-codex/safeyolo-init.sh.j2
  cli/src/safeyolo/templates/loader.py
  cli/tests/conftest.py
  cli/tests/test_commands.py
  cli/tests/test_config.py
  cli/tests/test_discovery.py
  cli/tests/test_lifecycle_integration.py
  cli/tests/test_templates.py
  tests/test_service_discovery.py
Due: python-syntax

fix: template syntax, add headless mode, use uv tool install
  README.md
  cli/README.md
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/templates/agents/claude-code/safeyolo-init.sh.j2
  cli/src/safeyolo/templates/agents/openai-codex/safeyolo-init.sh.j2
  cli/src/safeyolo/templates/compose/safeyolo.yml.j2
Due: python-syntax

fix: template syntax, add headless mode, use uv tool install (#40)
  README.md
  cli/README.md
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/templates/agents/claude-code/safeyolo-init.sh.j2
  cli/src/safeyolo/templates/agents/openai-codex/safeyolo-init.sh.j2
  cli/src/safeyolo/templates/compose/safeyolo.yml.j2
Due: python-syntax

root agents.md draft and main carta
  AGENTS.md
  ui.app/agents.md
Due: none

useful for ts root stuff
  .editorconfig
  .gitignore
  .sops.yaml
  bunfig.toml
  content/public/.gitkeep
  package.json
  vendor/.gitkeep
Due: none

renaming the gui folder
  AGENTS.md
  cockpit/app/agents.md
  cockpit/app/docs/.gitkepp
  package.json
Due: none

ignore upgrade and wails'
  .gitignore
  cockpit/app/.gitignore
Due: none

patternfly wc test
  cockpit/app/frontend/index.html
  cockpit/app/frontend/package-lock.json
  cockpit/app/frontend/package.json
  cockpit/app/frontend/src/my-element.ts
Due: none

Update lifecycle.py
  cli/src/safeyolo/commands/lifecycle.py
Due: python-syntax

Potential fix for code scanning alert no. 166: Request without certificate validation
  cli/src/safeyolo/commands/demo.py
Due: python-syntax

deps: bump pyasn1 0.6.1 -> 0.6.2 (CVE-2026-23490)
  addons/admin_api.py
  uv.lock
Due: python-syntax

deps: bump pyasn1 0.6.1 -> 0.6.2 (CVE-2026-23490) (#43)
  addons/admin_api.py
  uv.lock
Due: python-syntax

fix(tests): resolve blackbox volume mount conflict on Linux Docker
  addons/__init__.py
  tests/blackbox/docker-compose.security.yml
  tests/blackbox/docker-compose.yml
Due: python-syntax

fix(tests): resolve blackbox volume mount conflict on Linux Docker (#44)
  addons/__init__.py
  tests/blackbox/docker-compose.security.yml
  tests/blackbox/docker-compose.yml
Due: python-syntax

Path conditions:
  python-syntax: any of: \.py$
  uv-lock-check: any of: ^pyproject\.toml$
