Repository craigbalding/safeyolo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax, uv-lock-check

.pre-commit-config.yaml:

# Pre-commit hooks - mirrors CI checks to catch issues before push
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Ruff - linting and import sorting (same as CI)
  # Keep version in sync with requirements/dev.txt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi]

  # Python syntax check (same as CI py_compile step)
  - repo: local
    hooks:
      - id: python-syntax
        name: Python syntax check
        entry: python3 -m py_compile
        language: system
        types: [python]
        pass_filenames: true

  # uv lockfile check - ensures uv.lock matches pyproject.toml
  - repo: local
    hooks:
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-merge-conflict
      - id: detect-private-key

Repair native coordination waits and cancellation
  proxy/src/agent_api/coord.rs
  proxy/src/connection_tasks.rs
  proxy/src/http.rs
  proxy/src/lib.rs
  proxy/src/listener_reload_tests.rs
Due: none

Fix coordination disconnect monitor ownership
  proxy/src/lib.rs
  proxy/src/listener_reload_tests.rs
Due: none

Enforce grants for legacy room waits
  proxy/src/agent_api/coord.rs
Due: none

Preserve legacy self wakes after grant recheck
  proxy/src/agent_api/coord.rs
Due: none

fix(proxy): complete native desktop and plumb correction
  cli/src/safeyolo/desktop_presenter_rpc.py
  cli/src/safeyolo/rust_proxy.py
  proxy/src/admin_api.rs
  proxy/src/admin_api/audit_events.rs
  proxy/src/admin_listener.rs
  proxy/src/agent_api.rs
  proxy/src/agent_api/declarations.rs
  proxy/src/agent_api/gateway/tests.rs
  proxy/src/agent_api/plumb.rs
  proxy/src/desktop_present.rs
  proxy/src/http.rs
  proxy/src/lib.rs
  proxy/tests/transport.rs
Due: python-syntax

fix(proxy): keep native desktop previews alive
  cli/src/safeyolo/desktop_presenter_rpc.py
  cli/tests/test_desktop_presenter_rpc.py
  proxy/src/admin_api.rs
  proxy/src/agent_api.rs
  proxy/src/agent_api/declarations.rs
  proxy/src/agent_api/gateway/tests.rs
  proxy/src/desktop_present.rs
  proxy/src/lib.rs
  proxy/tests/transport.rs
Due: python-syntax

test(proxy): cover configured security text policy
  proxy/tests/credential_text.rs
Due: none

proxy: add lossless security header text adapter
  proxy/src/credential_text.rs
Due: none

test(identity): cover malformed-map request reconciliation
  docs/proxy-parity.md
  proxy/src/http/agent_audit_tests.rs
Due: none

fix(identity): preserve source route ordering
  docs/proxy-parity.md
  proxy/src/agent_api/declarations.rs
  proxy/src/http/agent_audit_tests.rs
  proxy/src/http/traffic/local_tests.rs
Due: none

test(proxy): cover H2 terminal grant outcomes
  docs/proxy-parity.md
  proxy/src/http/circuit_completion.rs
Due: none

test: prove service authorization rollback transition
  docs/proxy-parity.md
  docs/state-compatibility.md
  proxy/tests/gateway_contract_workflow.rs
Due: none

test(proxy): measure streamed control release
  tests/proxy_migration/CONTRACT.md
  tests/proxy_migration/harness.py
  tests/proxy_migration/run.py
  tests/proxy_migration/scenarios.py
  tests/proxy_migration/test_http_contract.py
Due: python-syntax

test(proxy): prove process restart socket reuse
  docs/proxy-parity.md
  proxy/tests/admin_service_shutdown.rs
Due: none

test(proxy): witness live WebSocket inspector transcript
  proxy/src/traffic_view_runtime_tests.rs
Due: none

fix(proxy): retain resolved peer passthrough lifecycle
  docs/proxy-parity.md
  proxy/src/http.rs
  proxy/src/http/ignored_host_tests.rs
Due: none

test(proxy): prove running plumb client workflow
  proxy/tests/plumb_client_workflow.rs
Due: none

feat(proxy): package native release for explicit launch
  cli/src/safeyolo/commands/traffic.py
  cli/src/safeyolo/rust_proxy.py
  cli/tests/test_rust_proxy.py
  docs/DEVELOPERS.md
  docs/proxy-parity.md
  hatch_build.py
  install.sh
  tests/test_install_sh.py
Due: python-syntax

fix(packaging): retain Python policy package in wheel
  pyproject.toml
  tests/test_install_sh.py
Due: python-syntax, uv-lock-check

test: cover native service authorization rollback
  docs/proxy-parity.md
  docs/state-compatibility.md
  proxy/tests/gateway_contract_workflow.rs
Due: none

docs: add native proxy cutover deletion ledger
  docs/proxy-cutover-deletion-map.md
  docs/proxy-parity.md
  tests/test_proxy_cutover_deletion_map.py
Due: python-syntax

docs: complete proxy cutover renderer ledger
  docs/proxy-cutover-deletion-map.md
  tests/test_proxy_cutover_deletion_map.py
Due: python-syntax

test: cover installed proxy rollback and writer matrix
  docs/state-compatibility.md
  tests/blackbox/installed_host_smoke.py
  tests/test_installed_host_smoke.py
  tests/test_state_compatibility_matrix.py
Due: python-syntax

test(proxy): assert credential HTTP policy counters
  proxy/tests/credential_http.rs
Due: none

feat: make native proxy the default launch backend
  cli/README.md
  cli/src/safeyolo/commands/init.py
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/config.py
  cli/src/safeyolo/proxy.py
  cli/src/safeyolo/rust_proxy.py
  cli/tests/test_config.py
  cli/tests/test_lifecycle_rust.py
  cli/tests/test_proxy.py
  cli/tests/test_rust_proxy.py
  docs/DEVELOPERS.md
  docs/proxy-cutover-deletion-map.md
  docs/proxy-parity.md
  hatch_build.py
  tests/blackbox/README.md
  tests/test_install_sh.py
  tests/test_proxy_cutover_deletion_map.py
Due: python-syntax

test: select Python for blackbox isolation lane
  tests/blackbox/run-tests.sh
  tests/test_blackbox_harness.py
Due: python-syntax

test: prove cross-version flow store rollback
  proxy/tests/flow_store.rs
  proxy/tests/flow_store_oracle.py
Due: python-syntax

test(proxy): run exhaustive security text source oracle
  proxy/src/credential_text.rs
  proxy/tests/credential_text_source_oracle.py
Due: python-syntax

test(proxy): record stream workload request counts
  tests/proxy_migration/run.py
  tests/proxy_migration/test_http_contract.py
Due: python-syntax

test(proxy): measure slow stream with admin responsiveness
  tests/proxy_migration/run.py
  tests/proxy_migration/test_http_contract.py
Due: python-syntax

docs(proxy): inventory protected passthrough control
  docs/proxy-parity.md
Due: none

test(proxy): prove admin shield outranks broad passthrough
  docs/proxy-parity.md
  proxy/src/http/ignored_host_tests.rs
Due: none

test(proxy): prove audit queue shutdown ownership
  proxy/src/audit_runtime_tests.rs
Due: none

test(proxy): verify compressed WebSocket export payloads
  proxy/src/traffic_view_runtime_tests.rs
Due: none

test(proxy): cover live WebSocket export formats
  docs/proxy-parity.md
  proxy/src/traffic_view_runtime_tests.rs
Due: none

fix(proxy): bind desktop result to requested agent
  proxy/src/desktop_present.rs
Due: none

test(proxy): cover combined trace retention limits
  proxy/src/trace/tests.rs
Due: none

test(proxy): cover SSE cancellation and resource observations
  tests/proxy_migration/run.py
  tests/proxy_migration/scenarios.py
  tests/proxy_migration/test_http_contract.py
Due: python-syntax

test: prove installed rollback behavior across backends
  docs/state-compatibility.md
  tests/blackbox/installed_host_smoke.py
Due: python-syntax

test: make installed rollback activation proof authoritative
  docs/state-compatibility.md
  tests/blackbox/installed_host_smoke.py
Due: python-syntax
