Repository craigbalding/safeyolo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax, uv-lock-check

python-syntax:
  name: Python syntax check
  entry: python3 -m py_compile
  language: system
  pass_filenames: true

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

test: Batch 7 — flow_store and flow_recorder (FK enforcement, header redaction) (#109)
  addons/flow_store.py
  tests/test_flow_recorder.py
  tests/test_flow_store.py
Due: python-syntax

fix: pattern_scanner scans response headers even with empty body
  addons/pattern_scanner.py
Due: python-syntax

fix: service_discovery get_agents returns consistent shape
  addons/service_discovery.py
Due: python-syntax

test: expand test_test_context with edge cases and block body assertions
  tests/test_test_context.py
Due: python-syntax

test: expand test_service_discovery with DNS edge cases and schema assertions
  tests/test_service_discovery.py
Due: python-syntax

test: rewrite test_circuit_breaker for contract completeness
  tests/test_circuit_breaker.py
Due: python-syntax

test: rewrite test_pattern_scanner for contract completeness
  tests/test_pattern_scanner.py
Due: python-syntax

test: Batch 8 — circuit_breaker, pattern_scanner, test_context, service_discovery (#110)
  addons/pattern_scanner.py
  addons/service_discovery.py
  tests/test_circuit_breaker.py
  tests/test_pattern_scanner.py
  tests/test_service_discovery.py
  tests/test_test_context.py
Due: python-syntax

fix: vault is_expired returns True on unparseable date (fail-closed)
  addons/vault.py
Due: python-syntax

test: expand tests for 7 supporting addons (19 new tests)
  tests/test_base.py
  tests/test_budget_tracker.py
  tests/test_loop_guard.py
  tests/test_memory_monitor.py
  tests/test_metrics.py
  tests/test_sse_streaming.py
  tests/test_vault.py
Due: python-syntax

test: Batch 9 — 7 supporting addons (vault fail-closed, 19 new tests) (#111)
  addons/vault.py
  tests/test_base.py
  tests/test_budget_tracker.py
  tests/test_loop_guard.py
  tests/test_memory_monitor.py
  tests/test_metrics.py
  tests/test_sse_streaming.py
  tests/test_vault.py
Due: python-syntax

fix: CLI egress creates wildcard entry, show reports deny, host deny merges
  cli/src/safeyolo/commands/policy_egress.py
  cli/src/safeyolo/commands/policy_host.py
Due: python-syntax

test: rewrite CLI policy tests for contract completeness
  cli/src/safeyolo/commands/policy_egress.py
  cli/tests/test_policy_cli.py
  cli/tests/test_policy_show.py
Due: python-syntax

test: Batch 10 — CLI policy commands (egress UX, host deny merge) (#112)
  cli/src/safeyolo/commands/policy_egress.py
  cli/src/safeyolo/commands/policy_host.py
  cli/tests/test_policy_cli.py
  cli/tests/test_policy_show.py
Due: python-syntax

test: expand CLI agent/watch tests (100 → 209, +109 tests)
  cli/tests/test_agent_authorize.py
  cli/tests/test_agent_ports.py
  cli/tests/test_watch.py
  cli/tests/test_watch_actions.py
Due: python-syntax

test: expand CLI agent/watch tests (100 → 209, +109 tests) (#113)
  cli/tests/test_agent_authorize.py
  cli/tests/test_agent_ports.py
  cli/tests/test_watch.py
  cli/tests/test_watch_actions.py
Due: python-syntax

fix: agents_store raises on corrupted policy.toml instead of silent data loss
  cli/src/safeyolo/agents_store.py
Due: python-syntax

test: expand 9 CLI infrastructure test files (+29 tests, 4 strengthened)
  cli/tests/test_agents_store.py
  cli/tests/test_api.py
  cli/tests/test_commands.py
  cli/tests/test_config.py
  cli/tests/test_docker.py
  cli/tests/test_doctor.py
  cli/tests/test_events.py
  cli/tests/test_migrate_policy.py
  cli/tests/test_templates.py
Due: python-syntax

test: Batch 12 — CLI infrastructure (agents_store data-loss fix, 29 new tests) (#114)
  cli/src/safeyolo/agents_store.py
  cli/tests/test_agents_store.py
  cli/tests/test_api.py
  cli/tests/test_commands.py
  cli/tests/test_config.py
  cli/tests/test_docker.py
  cli/tests/test_doctor.py
  cli/tests/test_events.py
  cli/tests/test_migrate_policy.py
  cli/tests/test_templates.py
Due: python-syntax

test: Batch 13 — CLI operational gaps (mount security, service discovery, vault key)
  cli/tests/test_mount.py
  cli/tests/test_service_discovery_cli.py
  cli/tests/test_vault_cli.py
Due: python-syntax

test: Batch 13 — CLI operational gaps (mount security, service discovery, vault key) (#115)
  cli/tests/test_mount.py
  cli/tests/test_service_discovery_cli.py
  cli/tests/test_vault_cli.py
Due: python-syntax

test: Batch 14 — final cleanup (10 new tests, 4 strengthened, 0 bugs)
  tests/test_agent_token.py
  tests/test_egress_control.py
  tests/test_imports.py
  tests/test_oauth2_flow.py
  tests/test_policy_mutations.py
  tests/test_toml_policy_loader.py
Due: python-syntax

test: Batch 14 — final cleanup (10 new tests, 4 strengthened, 0 bugs) (#116)
  tests/test_agent_token.py
  tests/test_egress_control.py
  tests/test_imports.py
  tests/test_oauth2_flow.py
  tests/test_policy_mutations.py
  tests/test_toml_policy_loader.py
Due: python-syntax

chore: delete yaml_roundtrip and YAML write-back branches
  Dockerfile
  addons/policy_engine.py
  addons/yaml_roundtrip.py
  pyproject.toml
  tests/test_imports.py
  tests/test_yaml_roundtrip.py
Due: python-syntax, uv-lock-check

chore: delete yaml_roundtrip and YAML write-back branches (#117)
  Dockerfile
  addons/policy_engine.py
  addons/yaml_roundtrip.py
  pyproject.toml
  tests/test_imports.py
  tests/test_yaml_roundtrip.py
Due: python-syntax, uv-lock-check

fix: add missing flow_pruner.py to Dockerfile COPY statements
  Dockerfile
Due: none

fix: add missing flow_pruner.py to Dockerfile COPY statements (#118)
  Dockerfile
Due: none

add microvm architecture note: replace Docker with persistent Linux microVMs
  docs/microvm-architecture.md
Due: none

add safeyolo-vm Swift helper binary for Apple Virtualization.framework
  vm/Makefile
  vm/Package.swift
  vm/Sources/SafeYoloVM/VMConfiguration.swift
  vm/Sources/SafeYoloVM/VMRunner.swift
  vm/Sources/SafeYoloVM/main.swift
  vm/safeyolo-vm.entitlements
Due: none

add guest image build scripts: kernel, initramfs, rootfs
  guest/build-all.sh
  guest/build-initramfs.sh
  guest/build-kernel.sh
  guest/build-rootfs.sh
  guest/defconfig
  guest/initramfs/init
  guest/rootfs/safeyolo-guest-init
Due: none

fix Swift compilation: async vm.stop() and exhaustive switch
  vm/Sources/SafeYoloVM/VMRunner.swift
Due: none

use completion handler APIs for VM start/stop, not async variants
  vm/Sources/SafeYoloVM/VMRunner.swift
Due: none

add host proxy launcher, pf firewall management, and VM config paths
  cli/src/safeyolo/config.py
  cli/src/safeyolo/firewall.py
  cli/src/safeyolo/proxy.py
Due: python-syntax

fix rootfs build: shared mise data dir, reorder apt-get clean
  guest/build-rootfs.sh
Due: none

fix mise: set MISE_CONFIG_DIR to shared /opt/mise dir
  guest/build-rootfs.sh
Due: none

add gh CLI to guest rootfs via mise
  guest/build-rootfs.sh
Due: none

skip gh attestation verification during rootfs build
  guest/build-rootfs.sh
Due: none

fix Ctrl-C: keep ISIG enabled, add double-Ctrl-C force stop
  vm/Sources/SafeYoloVM/VMRunner.swift
Due: none

install gh CLI directly instead of via mise
  guest/build-rootfs.sh
Due: none

rewire CLI to use microVMs instead of Docker
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/vm.py
Due: python-syntax

Path conditions:
  python-syntax: any of: \.py$
  uv-lock-check: any of: ^pyproject\.toml$
