Repository craigbalding/safeyolo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax, uv-lock-check

.pre-commit-config.yaml:

# Pre-commit hooks - mirrors CI checks to catch issues before push
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Ruff - linting and import sorting (same as CI)
  # Keep version in sync with requirements/dev.txt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi]

  # Python syntax check (same as CI py_compile step)
  - repo: local
    hooks:
      - id: python-syntax
        name: Python syntax check
        entry: python3 -m py_compile
        language: system
        types: [python]
        pass_filenames: true

  # uv lockfile check - ensures uv.lock matches pyproject.toml
  - repo: local
    hooks:
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-merge-conflict
      - id: detect-private-key

annotations
  console-ui/app/ptyend/tele.ts
Due: none

...
  console-ui/app/ptyend/tele.ts
Due: none

offset fix
  console-ui/app/_@playground/test_runner_server
  console-ui/app/_@playground/test_runner_server.go
  console-ui/app/ptyend/tele.ts
Due: none

uds with watch; poc consumer ala tele; dropped versions
  cli/src/safeyolo/uds.py
  console-ui/app/_@playground/_addeduds-by-glm5free.watch.py
  console-ui/app/_@playground/_addeduds-by-minimaxfree_watch.py
  console-ui/app/_@playground/_by-glm5free-runner_safeyolo_uds.ts
  console-ui/app/_@playground/_by-minimax-runner_safeyolo_uds.ts
  console-ui/app/_@playground/poc_watch_uds_consumer.ts
  console-ui/app/ptyend/tele.ts
Due: python-syntax

socket path in ts (env) and py (toml)
  cli/src/safeyolo/commands/watch.py
  cli/src/safeyolo/config.py
  cli/src/safeyolo/uds.py
  cli/src/safeyolo/uds.toml
  console-ui/app/_@playground/AGENTS.md
  console-ui/app/_@playground/_uds-tester.ts
  console-ui/app/ptyend/tele-uds.ts
  console-ui/app/ptyend/watch-uds-consumer.ts
Due: python-syntax

deps: bump cryptography 46.0.3 -> 46.0.5 (dependabot alert #18)
  uv.lock
Due: none

security: harden log sanitization across addons and PDP
  addons/admin_api.py
  addons/utils.py
  pdp/core.py
Due: python-syntax

fix(circuit_breaker): exclude local domains, cap backoff exponent
  addons/circuit_breaker.py
Due: python-syntax

feat: add loop_guard addon for proxy loop detection (Via header)
  addons/loop_guard.py
  docs/ADDONS.md
  docs/ARCHITECTURE.md
  docs/DEVELOPERS.md
  scripts/start-safeyolo.sh
  tests/test_imports.py
  tests/test_loop_guard.py
Due: python-syntax

config: add host.docker.internal budget (12000 req/min)
  config/baseline.yaml
Due: none

feat(cli): add --dev flag and SAFEYOLO_TUI passthrough
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/docker.py
  cli/src/safeyolo/templates/compose/safeyolo.yml.j2
  cli/tests/test_docker.py
Due: python-syntax

feat: loop guard, CLI --dev, security hardening (#47)
  addons/admin_api.py
  addons/circuit_breaker.py
  addons/loop_guard.py
  addons/utils.py
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/docker.py
  cli/src/safeyolo/templates/compose/safeyolo.yml.j2
  cli/tests/test_docker.py
  config/baseline.yaml
  docs/ADDONS.md
  docs/ARCHITECTURE.md
  docs/DEVELOPERS.md
  pdp/core.py
  scripts/start-safeyolo.sh
  tests/test_imports.py
  tests/test_loop_guard.py
  uv.lock
Due: python-syntax

fix(request_id): preserve WebSocket upgrade headers for proxy passthrough
  addons/request_id.py
  tests/test_request_id.py
Due: python-syntax

deps: bump werkzeug 3.1.5 -> 3.1.6 (safe_join device name fix)
  uv.lock
Due: none

fix(admin): multi-option mode switching and startup hardening
  addons/admin_api.py
  addons/admin_shield.py
Due: python-syntax

fix: WebSocket proxy support, admin hardening, werkzeug CVE (#48)
  addons/admin_api.py
  addons/admin_shield.py
  addons/request_id.py
  tests/test_request_id.py
  uv.lock
Due: python-syntax

feat: agent self-service diagnostics, memory monitoring, TUI flow pruning
  addons/agent_relay.py
  addons/flow_pruner.py
  addons/memory_monitor.py
  addons/test_context.py
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/_token_ops.py
  cli/src/safeyolo/commands/doctor.py
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/commands/token.py
  cli/src/safeyolo/config.py
  cli/src/safeyolo/templates/agents/claude-code/agent.toml
  cli/src/safeyolo/templates/agents/claude-code/instructions.md
  cli/src/safeyolo/templates/loader.py
  cli/tests/test_doctor.py
  cli/tests/test_token_commands.py
  config/baseline.yaml
  pdp/tokens.py
  scripts/start-safeyolo.sh
  tests/test_agent_relay.py
  tests/test_imports.py
  tests/test_memory_monitor.py
  tests/test_readonly_tokens.py
  tests/test_test_context.py
Due: python-syntax

docs: update addon inventory and CLI command reference
  cli/README.md
  docs/ADDONS.md
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
  docs/DEVELOPERS.md
  docs/safeyolo-cli-design.md
  scripts/start-safeyolo.sh
Due: none

fix: rename "Pentest context required" to "Test context required" in 428 response
  addons/test_context.py
  docs/ADDONS.md
Due: python-syntax

fix: flow_pruner passes flow list to view.remove() and logs at info level
  addons/flow_pruner.py
Due: python-syntax

fix: simplify relay token to single-file model with 1h TTL
  addons/agent_relay.py
  cli/README.md
  cli/src/safeyolo/commands/_token_ops.py
  cli/src/safeyolo/commands/token.py
  cli/src/safeyolo/config.py
  cli/tests/test_token_commands.py
  pdp/tokens.py
  tests/test_agent_relay.py
  tests/test_readonly_tokens.py
Due: python-syntax

security: fix 7 findings from code review audit
  addons/agent_relay.py
  addons/test_context.py
  cli/src/safeyolo/commands/token.py
  pdp/tokens.py
  tests/test_agent_relay.py
Due: python-syntax

revert: show full token in token show (masking is overkill)
  cli/src/safeyolo/commands/token.py
Due: python-syntax

Potential fix for code scanning alert no. 177: Implicit string concatenation in a list
  cli/src/safeyolo/commands/doctor.py
Due: python-syntax

Potential fix for code scanning alert no. 178: Empty except
  addons/agent_relay.py
Due: python-syntax

Potential fix for code scanning alert no. 179: Empty except
  cli/src/safeyolo/commands/doctor.py
Due: python-syntax

Potential fix for code scanning alert no. 180: Empty except
  cli/src/safeyolo/commands/doctor.py
Due: python-syntax

Potential fix for code scanning alert no. 182: Empty except
  pdp/tokens.py
Due: python-syntax

Potential fix for code scanning alert no. 183: Syntax error
  cli/src/safeyolo/commands/doctor.py
Due: python-syntax

fix: repair doctor.py syntax errors from Copilot autofix commits
  cli/src/safeyolo/commands/doctor.py
  pdp/tokens.py
Due: python-syntax

feat: agent relay, security hardening, token simplification (#52)
  addons/agent_relay.py
  addons/flow_pruner.py
  addons/memory_monitor.py
  addons/test_context.py
  cli/README.md
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/_token_ops.py
  cli/src/safeyolo/commands/doctor.py
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/commands/token.py
  cli/src/safeyolo/config.py
  cli/src/safeyolo/templates/agents/claude-code/agent.toml
  cli/src/safeyolo/templates/agents/claude-code/instructions.md
  cli/src/safeyolo/templates/loader.py
  cli/tests/test_doctor.py
  cli/tests/test_token_commands.py
  config/baseline.yaml
  docs/ADDONS.md
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
  docs/DEVELOPERS.md
  docs/safeyolo-cli-design.md
  pdp/tokens.py
  scripts/start-safeyolo.sh
  tests/test_agent_relay.py
  tests/test_imports.py
  tests/test_memory_monitor.py
  tests/test_readonly_tokens.py
  tests/test_test_context.py
Due: python-syntax

refactor: circuit breaker reads settings from baseline.yaml via policy engine
  addons/circuit_breaker.py
  tests/test_circuit_breaker.py
Due: python-syntax

feat: preserve YAML comments in baseline.yaml on incremental saves
  addons/admin_api.py
  addons/policy_engine.py
  addons/yaml_roundtrip.py
  config/baseline.yaml
  docs/DEVELOPERS.md
  pdp/app.py
  pdp/client.py
  pdp/core.py
  pyproject.toml
  tests/test_imports.py
  tests/test_yaml_roundtrip.py
  uv.lock
Due: python-syntax, uv-lock-check

feat: fix --folder override and add extra mount support with path protection
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/mount.py
Due: python-syntax

config: add api.anthropic.com to baseline allowed hosts
  config/baseline.yaml
Due: none

config: add credential_guard safe_headers/entropy and request_logger quiet_hosts
  config/baseline.yaml
Due: none

fix: clarify --mount help text to show path format instead of ambiguous "host"
  cli/src/safeyolo/commands/agent.py
Due: python-syntax

fix: guard agent install in init scripts to prevent startup hangs
  cli/src/safeyolo/templates/agents/claude-code/safeyolo-init.sh.j2
  cli/src/safeyolo/templates/agents/openai-codex/safeyolo-init.sh.j2
  cli/tests/test_templates.py
Due: python-syntax

refactor: use mitmproxy AddonManager API instead of manual ScriptLoader traversal
  addons/admin_api.py
  addons/agent_relay.py
Due: python-syntax

fix: address addon audit findings across 7 addons
  addons/admin_shield.py
  addons/agent_relay.py
  addons/circuit_breaker.py
  addons/credential_guard.py
  addons/metrics.py
  addons/request_logger.py
  addons/test_context.py
  tests/test_admin_shield.py
Due: python-syntax
