Repository craigbalding/safeyolo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax, uv-lock-check

.pre-commit-config.yaml:

# Pre-commit hooks - mirrors CI checks to catch issues before push
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Ruff - linting and import sorting (same as CI)
  # Keep version in sync with requirements/dev.txt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi]

  # Python syntax check (same as CI py_compile step)
  - repo: local
    hooks:
      - id: python-syntax
        name: Python syntax check
        entry: python3 -m py_compile
        language: system
        types: [python]
        pass_filenames: true

  # uv lockfile check - ensures uv.lock matches pyproject.toml
  - repo: local
    hooks:
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-merge-conflict
      - id: detect-private-key

Expand SafeYolo acceptance toolbox
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.yaml
  cli/tests/test_host_setup_scripts.py
Due: python-syntax

Clarify factory resource bindings
  cli/src/safeyolo/agent_context/skills/safeyolo-factory/references/contract-review.md
  cli/src/safeyolo/agent_context/skills/safeyolo-factory/references/graph/contract-review.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo-factory/references/graph/contract-review.yaml
  cli/src/safeyolo/agent_context/skills/safeyolo-factory/references/graph/nested-mvp.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo-factory/references/graph/nested-mvp.yaml
  docs/agent-roles/independent-reviewer.md
Due: none

Show web destinations in agent watcher
  cli/tests/test_watch_agent_room.py
  contrib/watch-agent-room.py
Due: python-syntax

Keep factory work targets distinct
  cli/src/safeyolo/factory_doctor.py
  docs/factories/backlog-coordinator.md
Due: python-syntax

Add independent acceptance analysis toolbox
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.yaml
  cli/tests/test_factory_contract.py
  cli/tests/test_host_setup_scripts.py
  docs/DEVELOPERS.md
  docs/agent-roles/independent-reviewer.md
  tools/acceptance/pyproject.toml
  tools/acceptance/requirements-stress.txt
  tools/acceptance/semgrep-rules.py
  tools/acceptance/semgrep-rules.yml
  tools/acceptance/uv.lock
Due: python-syntax

Prefer current factory tool policy
  docs/agent-roles/independent-reviewer.md
  docs/agent-roles/issue-owner.md
Due: none

Keep routine factory handoffs self-contained
  cli/src/safeyolo/agent_context/skills/safeyolo/SKILL.md
  docs/AGENTS.md
  docs/agent-roles/independent-reviewer.md
  docs/agent-roles/issue-owner.md
Due: none

Improve factory GitHub and repository navigation
  cli/src/safeyolo/factory_doctor.py
  cli/src/safeyolo/repo_map.py
  cli/tests/test_host_setup_scripts.py
  cli/tests/test_repo_map.py
  contrib/lib/stage-safeyolo-context.sh
  docs/AGENTS.md
  docs/agent-roles/independent-reviewer.md
  docs/agent-roles/issue-owner.md
  docs/factories/backlog-coordinator.md
Due: python-syntax

Keep experimental repo map guidance in brief
  docs/AGENTS.md
  docs/agent-roles/independent-reviewer.md
  docs/agent-roles/issue-owner.md
Due: none

Show Python relationships in detailed repo maps
  cli/src/safeyolo/repo_map.py
  cli/tests/test_repo_map.py
Due: python-syntax

Make factory processing evidence-efficient
  docs/agent-roles/independent-reviewer.md
  docs/agent-roles/issue-owner.md
  docs/factories/backlog-coordinator.md
Due: none

Add task-conditioned repository guidance
  cli/src/safeyolo/repo_map.py
  cli/tests/test_repo_map.py
  repo-map.toml
Due: python-syntax

Accept multiple repository map scopes
  cli/src/safeyolo/repo_map.py
  cli/tests/test_repo_map.py
  docs/AGENTS.md
Due: python-syntax

Use one durable checkout per factory role
  docs/agent-roles/independent-reviewer.md
  docs/agent-roles/issue-owner.md
Due: none

Add aggregate host resource protection
  README.md
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/doctor.py
  cli/src/safeyolo/config.py
  cli/src/safeyolo/host_resources.py
  cli/src/safeyolo/platform/linux.py
  cli/tests/test_doctor.py
  cli/tests/test_factory_contract.py
  cli/tests/test_host_resources.py
  cli/tests/test_linux_platform_oci.py
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
  tests/assurance.toml
Due: python-syntax

feat(factory): support supervised Pi agents
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.yaml
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/factory.py
  cli/src/safeyolo/factory_contract.py
  cli/src/safeyolo/factory_doctor.py
  cli/tests/test_codex_coord_supervisor.py
  cli/tests/test_factory_contract.py
  cli/tests/test_factory_doctor.py
  cli/tests/test_host_setup_scripts.py
  cli/tests/test_watch_agent_room.py
  contrib/HOST_SCRIPT_GUIDE.md
  contrib/README.md
  contrib/codex-coord-host-setup.sh
  contrib/codex-coord-supervisor.py
  contrib/codex-host-setup.sh
  contrib/lib/stage-factory-supervisor.py
  contrib/lib/stage-safeyolo-context.sh
  contrib/pi-coord-extension.ts
  contrib/pi-coord-host-setup.sh
  contrib/pi-host-setup.sh
  contrib/watch-agent-room.py
  docs/codex-coord-supervisor.md
  docs/factories.md
  pyproject.toml
  tests/assurance.toml
Due: python-syntax, uv-lock-check

Add non-interactive coord send command
  cli/src/safeyolo/commands/coord.py
  cli/tests/test_coord_stage0_cli.py
  docs/coord-operations.md
Due: python-syntax

Read coord send stdin as strict UTF-8
  cli/src/safeyolo/commands/coord.py
  cli/tests/test_coord_stage0_cli.py
Due: python-syntax

fix(factory): address Pi lab recovery and navigation findings
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.yaml
  cli/src/safeyolo/commands/factory.py
  cli/src/safeyolo/coord/api.py
  cli/src/safeyolo/coord/nats_client.py
  cli/src/safeyolo/factory_doctor.py
  cli/src/safeyolo/factory_recovery.py
  cli/src/safeyolo/repo_map.py
  cli/tests/run_pi_coord_extension.mjs
  cli/tests/test_codex_coord_supervisor.py
  cli/tests/test_coord_jetstream_acceptance.py
  cli/tests/test_factory_contract.py
  cli/tests/test_factory_doctor.py
  cli/tests/test_factory_recovery.py
  cli/tests/test_host_setup_scripts.py
  cli/tests/test_repo_map.py
  cli/tests/test_watch_agent_room.py
  contrib/HOST_SCRIPT_GUIDE.md
  contrib/codex-coord-supervisor.py
  contrib/lib/stage-safeyolo-context.sh
  contrib/pi-coord-extension.ts
  contrib/watch-agent-room.py
  docs/agent-roles/independent-reviewer.md
  docs/agent-roles/issue-owner.md
  docs/codex-coord-supervisor.md
  docs/coord-operations.md
  docs/factories.md
  docs/factories/backlog-coordinator.md
  pyproject.toml
  repo-map.toml
  scripts/doc_allowlist.toml
Due: python-syntax, uv-lock-check

fix(guest): expose Debian fdfind as fd
  cli/tests/test_install_guest_common.py
  contrib/ROOTFS_SCRIPT_GUIDE.md
  contrib/kali-pentest/build-kali-rootfs.sh
  guest/install-guest-common.sh
  guest/rootfs-customize-hook.sh
Due: python-syntax

coord: add non-interactive operator send (#575)
  cli/src/safeyolo/commands/coord.py
  cli/tests/test_coord_stage0_cli.py
  docs/coord-operations.md
Due: python-syntax

perf(cli): defer command-only runtime imports
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-request-failing.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-request-failing.yaml
  cli/src/safeyolo/commands/admin.py
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/coord.py
  cli/src/safeyolo/commands/demo.py
  cli/src/safeyolo/commands/factory.py
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/commands/logs.py
  cli/src/safeyolo/commands/proxy.py
  cli/src/safeyolo/commands/services.py
  cli/src/safeyolo/commands/tmux.py
  cli/src/safeyolo/commands/traffic.py
  cli/src/safeyolo/commands/watch.py
  cli/tests/test_cli_imports.py
  cli/tests/test_coord_chat_pty.py
Due: python-syntax

fix(guest): expose Debian fdfind as fd (#576)
  cli/tests/test_install_guest_common.py
  contrib/ROOTFS_SCRIPT_GUIDE.md
  contrib/kali-pentest/build-kali-rootfs.sh
  guest/install-guest-common.sh
  guest/rootfs-customize-hook.sh
Due: python-syntax

perf(lifecycle): avoid zombie shutdown timeouts
  cli/src/safeyolo/coord/nats_runtime.py
  cli/src/safeyolo/guest-init-per-run.sh
  cli/src/safeyolo/platform/linux.py
  cli/tests/test_coord_nats_runtime.py
  cli/tests/test_linux_platform_oci.py
  cli/tests/test_vm.py
Due: python-syntax

Harden Pattern Scanner URL decoding and disclosures (#567)
  cli/src/safeyolo/detection/patterns.py
  cli/src/safeyolo/mitm_addons/pattern_scanner.py
  cli/src/safeyolo/templates/addons.yaml
  docs/ADDONS.md
  tests/test_pattern_scanner.py
Due: python-syntax

feat: add first-class Lab lifecycle
  README.md
  cli/README.md
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/SKILL.md
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/assets/startup-instructions.md
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/assets/tmux-lab.conf
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/references/bootstrap.md
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/run-controller.sh
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/safeyolo-lab
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/self-test.sh
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/lab.py
  cli/src/safeyolo/platform/darwin.py
  cli/tests/test_darwin_platform.py
  cli/tests/test_lab.py
Due: python-syntax

fix: enforce secure HTTP/2 header dependency (#566)
  README.md
  cli/README.md
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/proxy.py
  cli/tests/uds-networking/test_linux_new_arch.sh
  install.sh
  pyproject.toml
  scripts/install-mitmproxy-pipx.sh
  tests/test_http2_validation.py
  uv.lock
Due: python-syntax, uv-lock-check

Fix factory review findings in failure recovery and host staging
  .github/codeql/codeql-config.yml
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.yaml
  cli/src/safeyolo/commands/factory.py
  cli/src/safeyolo/factory_recovery.py
  cli/src/safeyolo/repo_map.py
  cli/tests/test_codex_coord_supervisor.py
  cli/tests/test_factory_recovery.py
  cli/tests/test_host_setup_scripts.py
  cli/tests/test_repo_map.py
  contrib/codex-coord-supervisor.py
  contrib/lib/stage-safeyolo-context.sh
  contrib/pi-host-setup.sh
Due: python-syntax

Keep fd assertions in their installer fixture after integration
  cli/tests/test_install_guest_common.py
Due: python-syntax

Keep installer override descriptor open for uv
  install.sh
  tests/test_install_sh.py
Due: python-syntax

Verify Python acquisition output cannot become the interpreter path
  tests/test_install_sh.py
Due: python-syntax

feat: separate traffic ownership and initiator attribution
  cli/src/safeyolo/agent_context/skills/safeyolo/references/agent-api.md
  cli/src/safeyolo/core/audit_schema.py
  cli/src/safeyolo/core/base.py
  cli/src/safeyolo/core/identity.py
  cli/src/safeyolo/core/utils.py
  cli/src/safeyolo/mitm_addons/agent_api.py
  cli/src/safeyolo/mitm_addons/flow_recorder.py
  cli/src/safeyolo/mitm_addons/operator_provenance.py
  cli/src/safeyolo/mitm_addons/request_logger.py
  cli/src/safeyolo/mitm_addons/service_discovery.py
  cli/src/safeyolo/storage/flow_store.py
  tests/test_agent_api.py
  tests/test_agent_identity_resolution.py
  tests/test_audit_schema.py
  tests/test_base.py
  tests/test_flow_recorder.py
  tests/test_flow_store.py
  tests/test_request_logger.py
  tests/test_service_discovery_file.py
Due: python-syntax

Fix macOS/VZ guest sudo provisioning parity (#561)
  cli/tests/test_install_guest_common.py
  contrib/ROOTFS_SCRIPT_GUIDE.md
  docs/agent-debugging.md
  guest/install-guest-common.sh
Due: python-syntax

perf(cli): defer command-only runtime imports (#489)
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-request-failing.mmd
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/triage-request-failing.yaml
  cli/src/safeyolo/commands/admin.py
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/coord.py
  cli/src/safeyolo/commands/demo.py
  cli/src/safeyolo/commands/factory.py
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/commands/logs.py
  cli/src/safeyolo/commands/proxy.py
  cli/src/safeyolo/commands/services.py
  cli/src/safeyolo/commands/tmux.py
  cli/src/safeyolo/commands/traffic.py
  cli/src/safeyolo/commands/watch.py
  cli/tests/test_cli_imports.py
  cli/tests/test_coord_chat_pty.py
Due: python-syntax

test: provide trusted scanner trace identities
  tests/test_pattern_scanner.py
Due: python-syntax

perf(lifecycle): avoid zombie shutdown timeouts (#490)
  cli/src/safeyolo/coord/nats_runtime.py
  cli/src/safeyolo/guest-init-per-run.sh
  cli/src/safeyolo/platform/linux.py
  cli/tests/test_coord_nats_runtime.py
  cli/tests/test_linux_platform_oci.py
  cli/tests/test_vm.py
Due: python-syntax

Refresh acceptance inventory after dependency and lifecycle merges
  cli/src/safeyolo/agent_context/skills/safeyolo/references/graph/accept-safeyolo.yaml
  cli/tests/test_host_setup_scripts.py
Due: python-syntax

Separate flow evidence ownership from traffic initiator (#563)
  cli/src/safeyolo/agent_context/skills/safeyolo/references/agent-api.md
  cli/src/safeyolo/core/audit_schema.py
  cli/src/safeyolo/core/base.py
  cli/src/safeyolo/core/identity.py
  cli/src/safeyolo/core/utils.py
  cli/src/safeyolo/mitm_addons/agent_api.py
  cli/src/safeyolo/mitm_addons/flow_recorder.py
  cli/src/safeyolo/mitm_addons/operator_provenance.py
  cli/src/safeyolo/mitm_addons/request_logger.py
  cli/src/safeyolo/mitm_addons/service_discovery.py
  cli/src/safeyolo/storage/flow_store.py
  tests/test_agent_api.py
  tests/test_agent_identity_resolution.py
  tests/test_audit_schema.py
  tests/test_base.py
  tests/test_flow_recorder.py
  tests/test_flow_store.py
  tests/test_pattern_scanner.py
  tests/test_request_logger.py
  tests/test_service_discovery_file.py
Due: python-syntax

feat: add first-class Lab lifecycle (#564)
  README.md
  cli/README.md
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/SKILL.md
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/assets/startup-instructions.md
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/assets/tmux-lab.conf
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/references/bootstrap.md
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/run-controller.sh
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/safeyolo-lab
  cli/src/safeyolo/agent_context/skills/safeyolo-lab-controller/scripts/self-test.sh
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/commands/lab.py
  cli/src/safeyolo/platform/darwin.py
  cli/tests/test_darwin_platform.py
  cli/tests/test_lab.py
Due: python-syntax

fix: select supported Python for installer (#568)
  README.md
  install.sh
  tests/test_install_sh.py
Due: python-syntax
