Repository craigbalding/safeyolo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax, uv-lock-check

.pre-commit-config.yaml:

# Pre-commit hooks - mirrors CI checks to catch issues before push
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Ruff - linting and import sorting (same as CI)
  # Keep version in sync with requirements/dev.txt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi]

  # Python syntax check (same as CI py_compile step)
  - repo: local
    hooks:
      - id: python-syntax
        name: Python syntax check
        entry: python3 -m py_compile
        language: system
        types: [python]
        pass_filenames: true

  # uv lockfile check - ensures uv.lock matches pyproject.toml
  - repo: local
    hooks:
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-merge-conflict
      - id: detect-private-key

feat(agent): add token-gated preview sessions
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/platform/__init__.py
  cli/src/safeyolo/platform/darwin.py
  cli/src/safeyolo/platform/linux.py
  cli/src/safeyolo/preview.py
  cli/tests/test_agent_preview.py
  docs/agent-preview-design.md
Due: python-syntax

Add unlocked preview websocket proxy
  cli/src/safeyolo/platform/__init__.py
  cli/src/safeyolo/platform/darwin.py
  cli/src/safeyolo/platform/linux.py
  cli/src/safeyolo/preview.py
  cli/tests/test_agent_preview.py
  docs/agent-preview-design.md
Due: python-syntax

Fix custom rootfs and Lima status handling
  cli/src/safeyolo/vm.py
  cli/tests/test_vm.py
  guest/build-all.sh
  vm/Makefile
Due: python-syntax

Add Alpine browser rootfs builder
  contrib/alpine-browser/build-alpine-browser-rootfs.sh
Due: none

Fail fast for missing vsock terminal
  cli/src/safeyolo/commands/doctor.py
  cli/src/safeyolo/vm.py
  cli/tests/test_doctor.py
  cli/tests/test_vm.py
Due: python-syntax

Install mise in Alpine rootfs scripts
  contrib/ROOTFS_SCRIPT_GUIDE.md
  contrib/alpine-browser/build-alpine-browser-rootfs.sh
  contrib/alpine-minimal/build-alpine-rootfs.sh
  guest/install-guest-common.sh
Due: none

Improve noVNC browser preview workflow
  cli/src/safeyolo/commands/agent.py
  cli/src/safeyolo/preview.py
  cli/tests/test_agent_preview.py
  contrib/ROOTFS_SCRIPT_GUIDE.md
  contrib/alpine-browser/build-alpine-browser-rootfs.sh
  contrib/alpine-minimal/build-alpine-rootfs.sh
  docs/agent-preview-design.md
Due: python-syntax

Support reapplying host scripts on agent run
  README.md
  cli/README.md
  cli/src/safeyolo/commands/agent.py
  cli/tests/test_commands_vm.py
  contrib/HOST_SCRIPT_GUIDE.md
  contrib/alpine-browser/build-alpine-browser-rootfs.sh
  contrib/claude-host-setup.sh
  contrib/codex-host-setup.sh
  docs/AGENTS.md
  docs/microvm-architecture.md
  guest/build-rootfs.sh
Due: python-syntax

Simplify uv project packaging
  .github/workflows/blackbox.yml
  .github/workflows/ci.yml
  .gitignore
  README.md
  cli/README.md
  cli/pyproject.toml
  cli/src/safeyolo/core/service_loader.py
  cli/src/safeyolo/guest-init-static.sh
  cli/src/safeyolo/proxy.py
  cli/tests/test_proxy.py
  docs/DEVELOPERS.md
  guest/install-guest-common.sh
  guest/rootfs-customize-hook.sh
  pyproject.toml
  tests/blackbox/host/conftest.py
  tests/blackbox/isolation/test_vm_isolation.py
  tests/conftest.py
  uv.lock
Due: python-syntax, uv-lock-check

Fix VZ shared-base agent isolation
  cli/src/safeyolo/vm.py
  cli/tests/test_vm.py
  vm/Sources/SafeYoloVM/VMConfiguration.swift
  vm/Sources/SafeYoloVM/main.swift
Due: python-syntax

Install socat for CLI preview tests
  .github/workflows/ci.yml
Due: none

Add host-mediated plumb agent collaboration
  agent-collaboration-plumb.md
  agent-principal-identity.md
  cli/src/safeyolo/api.py
  cli/src/safeyolo/commands/watch.py
  cli/src/safeyolo/config.py
  cli/src/safeyolo/core/audit_schema.py
  cli/src/safeyolo/core/plumb_service.py
  cli/src/safeyolo/mitm_addons/admin_api.py
  cli/src/safeyolo/mitm_addons/agent_api.py
  project-memory-distillation.md
  tests/test_agent_api.py
  tests/test_audit_schema.py
  tests/test_plumb_service.py
Due: python-syntax

Fix dependency and CodeQL security alerts
  cli/src/safeyolo/core/plumb_service.py
  cli/src/safeyolo/mitm_addons/admin_api.py
  cli/src/safeyolo/mitm_addons/circuit_breaker.py
  cli/src/safeyolo/mitm_addons/credential_guard.py
  cli/src/safeyolo/mitm_addons/pattern_scanner.py
  cli/src/safeyolo/platform/linux.py
  cli/src/safeyolo/preview.py
  cli/src/safeyolo/snapshot.py
  pyproject.toml
  uv.lock
Due: python-syntax, uv-lock-check

Add host-mediated plumb agent collaboration (#218)
  agent-collaboration-plumb.md
  agent-principal-identity.md
  cli/src/safeyolo/api.py
  cli/src/safeyolo/commands/watch.py
  cli/src/safeyolo/config.py
  cli/src/safeyolo/core/audit_schema.py
  cli/src/safeyolo/core/plumb_service.py
  cli/src/safeyolo/mitm_addons/admin_api.py
  cli/src/safeyolo/mitm_addons/agent_api.py
  project-memory-distillation.md
  tests/test_agent_api.py
  tests/test_audit_schema.py
  tests/test_plumb_service.py
Due: python-syntax

Fix dependency and CodeQL security alerts (#220)
  cli/src/safeyolo/core/plumb_service.py
  cli/src/safeyolo/mitm_addons/admin_api.py
  cli/src/safeyolo/mitm_addons/circuit_breaker.py
  cli/src/safeyolo/mitm_addons/credential_guard.py
  cli/src/safeyolo/mitm_addons/pattern_scanner.py
  cli/src/safeyolo/platform/linux.py
  cli/src/safeyolo/preview.py
  cli/src/safeyolo/snapshot.py
  pyproject.toml
  uv.lock
Due: python-syntax, uv-lock-check

Lazy-connect SafeYolo proxy relay after first guest bytes
  vm/Sources/SafeYoloVM/VSockProxyRelay.swift
Due: none

Fix flow search filter validation
  cli/src/safeyolo/mitm_addons/agent_api.py
  cli/src/safeyolo/storage/flow_store.py
  tests/test_agent_api.py
  tests/test_flow_store.py
Due: python-syntax

Add Docker-to-master migration helper
  scripts/migrate-docker-install-to-master.sh
Due: none

fix: harden task IDs and security logging
  cli/src/safeyolo/core/audit_schema.py
  cli/src/safeyolo/core/identifiers.py
  cli/src/safeyolo/policy/engine.py
  pdp/app.py
  pdp/client.py
  pdp/core.py
  pdp/schemas.py
  tests/test_audit_schema.py
  tests/test_identifiers.py
  tests/test_pdp_client.py
  tests/test_pdp_core.py
  tests/test_pdp_schemas.py
  tests/test_policy_engine.py
  tests/test_policy_mutations.py
Due: python-syntax

fix: validate and sanitize policy rates
  cli/src/safeyolo/policy/engine.py
  tests/test_policy_engine.py
  tests/test_policy_mutations.py
Due: python-syntax

refactor: separate policy models from engine
  cli/src/safeyolo/policy/engine.py
  cli/src/safeyolo/policy/loader.py
  cli/src/safeyolo/policy/models.py
  tests/test_policy_models.py
Due: python-syntax

Fix flow search filter validation (#241)
  cli/src/safeyolo/mitm_addons/agent_api.py
  cli/src/safeyolo/storage/flow_store.py
  tests/test_agent_api.py
  tests/test_flow_store.py
Due: python-syntax

Add operator-managed TLS passthrough hosts
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/proxy.py
  cli/src/safeyolo/config.py
  cli/src/safeyolo/ignore_hosts.py
  cli/src/safeyolo/mitm_addons/admin_api.py
  cli/src/safeyolo/mitm_addons/ignored_host_logger.py
  cli/src/safeyolo/proxy.py
  cli/tests/test_config.py
  cli/tests/test_ignore_hosts.py
  cli/tests/test_proxy.py
  docs/CONFIGURATION.md
  docs/TLS_CERTIFICATE.md
  tests/test_admin_api.py
  tests/test_ignored_host_logger.py
  tests/test_imports.py
Due: python-syntax

Address CodeQL review feedback
  cli/src/safeyolo/proxy.py
  cli/tests/test_proxy.py
Due: python-syntax

Add operator-managed TLS passthrough hosts (#242)
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/proxy.py
  cli/src/safeyolo/config.py
  cli/src/safeyolo/ignore_hosts.py
  cli/src/safeyolo/mitm_addons/admin_api.py
  cli/src/safeyolo/mitm_addons/ignored_host_logger.py
  cli/src/safeyolo/proxy.py
  cli/tests/test_config.py
  cli/tests/test_ignore_hosts.py
  cli/tests/test_proxy.py
  docs/CONFIGURATION.md
  docs/TLS_CERTIFICATE.md
  tests/test_admin_api.py
  tests/test_ignored_host_logger.py
  tests/test_imports.py
Due: python-syntax

Add first-party test context helper
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/test_context.py
  cli/src/safeyolo/mitm_addons/test_context.py
  cli/src/safeyolo/test_context_contract.py
  cli/tests/test_test_context_cli.py
  docs/ADDONS.md
  tests/test_test_context.py
  tests/test_test_context_contract.py
Due: python-syntax

Add first-party test context helper (#243)
  cli/src/safeyolo/cli.py
  cli/src/safeyolo/commands/test_context.py
  cli/src/safeyolo/mitm_addons/test_context.py
  cli/src/safeyolo/test_context_contract.py
  cli/tests/test_test_context_cli.py
  docs/ADDONS.md
  tests/test_test_context.py
  tests/test_test_context_contract.py
Due: python-syntax

Fix incomplete Linux migration setup
  README.md
  cli/src/safeyolo/commands/init.py
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/commands/setup.py
  cli/tests/test_commands_vm.py
  guest/build-all.sh
Due: python-syntax

Fix mitmproxy addon startup loading
  cli/src/safeyolo/mitm_addons/ignored_host_logger.py
  cli/tests/test_proxy.py
Due: python-syntax

Fix mise agent command path
  cli/src/safeyolo/platform/linux.py
  cli/tests/test_host_setup_scripts.py
  cli/tests/test_linux_platform_oci.py
  contrib/claude-host-setup.sh
  contrib/codex-host-setup.sh
Due: python-syntax

Add Docker-to-master migration helper (#244)
  scripts/migrate-docker-install-to-master.sh
Due: none

Add shared SafeYolo agent guidance
  README.md
  cli/tests/test_host_setup_scripts.py
  contrib/HOST_SCRIPT_GUIDE.md
  contrib/README.md
  contrib/claude-host-setup.sh
  contrib/codex-host-setup.sh
  contrib/lib/stage-safeyolo-context.sh
  contrib/mise-shell-host-setup.sh
  contrib/skills/safeyolo/SKILL.md
  contrib/skills/safeyolo/agents/openai.yaml
  contrib/skills/safeyolo/references/agent-api.md
  contrib/skills/safeyolo/references/troubleshooting.md
  docs/AGENTS.md
Due: python-syntax

fix: harden task IDs and security logging (#245)
  cli/src/safeyolo/core/audit_schema.py
  cli/src/safeyolo/core/identifiers.py
  cli/src/safeyolo/policy/engine.py
  pdp/app.py
  pdp/client.py
  pdp/core.py
  pdp/schemas.py
  tests/test_audit_schema.py
  tests/test_identifiers.py
  tests/test_pdp_client.py
  tests/test_pdp_core.py
  tests/test_pdp_schemas.py
  tests/test_policy_engine.py
  tests/test_policy_mutations.py
Due: python-syntax

fix: validate and sanitize policy rates (#246)
  cli/src/safeyolo/policy/engine.py
  tests/test_policy_engine.py
  tests/test_policy_mutations.py
Due: python-syntax

Refactor policy models out of engine (#247)
  cli/src/safeyolo/policy/engine.py
  cli/src/safeyolo/policy/loader.py
  cli/src/safeyolo/policy/models.py
  tests/test_policy_models.py
Due: python-syntax

Fix incomplete Linux migration setup (#248)
  README.md
  cli/src/safeyolo/commands/init.py
  cli/src/safeyolo/commands/lifecycle.py
  cli/src/safeyolo/commands/setup.py
  cli/tests/test_commands_vm.py
  guest/build-all.sh
Due: python-syntax

Fix mitmproxy addon startup loading (#249)
  cli/src/safeyolo/mitm_addons/ignored_host_logger.py
  cli/tests/test_proxy.py
Due: python-syntax

Fix mise agent command path (#250)
  cli/src/safeyolo/platform/linux.py
  cli/tests/test_host_setup_scripts.py
  cli/tests/test_linux_platform_oci.py
  contrib/claude-host-setup.sh
  contrib/codex-host-setup.sh
Due: python-syntax

Add shared SafeYolo agent guidance (#251)
  README.md
  cli/tests/test_host_setup_scripts.py
  contrib/HOST_SCRIPT_GUIDE.md
  contrib/README.md
  contrib/claude-host-setup.sh
  contrib/codex-host-setup.sh
  contrib/lib/stage-safeyolo-context.sh
  contrib/mise-shell-host-setup.sh
  contrib/skills/safeyolo/SKILL.md
  contrib/skills/safeyolo/agents/openai.yaml
  contrib/skills/safeyolo/references/agent-api.md
  contrib/skills/safeyolo/references/troubleshooting.md
  docs/AGENTS.md
Due: python-syntax
